<template>
  <div class="table-wrapper">
    <table class="table" :style="{ width: data.widthTable }">
      <TableHorizontalHeader
        :headers="data.headers"
        :iconHeader="data.iconHeader"
        @value="sendValue"
      />
      <TableHorizontalBody
        :displayData="data.displayData"
        :headers="data.headers"
        :showIconHover="data.showIconHover"
        :iconBody="data.iconBody"
        :callbackIconBody="data.callbackIconBody"
        :callbackButton="data.callbackButton"
      />
    </table>
  </div>
</template>

<script>
import Vue from "vue";
import TableHorizontalHeader from "./TableHorizontalHeader.vue";
import TableHorizontalBody from "./TableHorizontalBody.vue";

export default Vue.extend({
  name: "TableHorizontal",
  components: { TableHorizontalHeader, TableHorizontalBody },
  props: {
    data: {
      type: Object,
      require: true,
    },
  },
  methods: {
    sendValue(name, way) {
      this.$emit("value", name, way);
    },
  },
});
</script>

<style lang="scss" scoped>
@import "@/styles/global.scss";
.table-wrapper {
  overflow-x: scroll;
}
.table {
  width: 1200px;
  margin: 0 auto 20px;
  border: 2px solid $main-color-green;
  box-shadow: 0 1px 15px $main-color-dark;
}

@media (min-width: 1200px) {
  .table-wrapper {
    overflow-x: hidden;
  }
}
</style>
