<template>
  <div class="custom">
    <div class="skillsTable" role="table">
      <div class="skillsTable__row header">
        <div role="columnheader" class="skillsTable__row-number">
          Indeks stażysty
        </div>
        <div role="columnheader" class="skillsTable__row-name">
          Imię i nazwisko
        </div>
      </div>
      <div
        v-for="person of paginationSlice"
        :key="person.id"
        role="row"
        class="skillsTable__row"
      >
        <div role="cell" class="skillsTable__row-number">{{ person.id }}</div>
        <div role="cell" class="skillsTable__row-name pointed">
          {{ person.firstName + " " + person.lastName }}
        </div>
      </div>
    </div>
    <AppPagination
      :dataLength="contentLength"
      @paginatedData="paginateData"
      :activeCard="activeCard"
    />
  </div>
</template>

<script>
import AppPagination from "@/components/common/AppPagination.vue";
export default {
  name: "PeopleWithExactSkill",

  data() {
    return {
      activeCard: 1,
      paginationNumbers: [0, 5],
    };
  },
  props: {
    id: String,
    skillId: Number,
    contentLength: Number,
  },
  components: {
    AppPagination,
  },
  methods: {
    getPeopleWithSkill: function () {
      const studentsWithExactSkill = [];
      for (const student in this.$store.state.students.byId) {
        if (
          this.$store.state.students.byId[student].skills.includes(
            parseInt(this.skillId)
          )
        ) {
          studentsWithExactSkill.push(this.$store.state.students.byId[student]);
        }
      }
      return studentsWithExactSkill;
    },
    paginatePeople: function () {
      let from = this.page * 10 - 10;
      let to = this.page * 10;
      return this.getPeopleWithSkill().slice(from, to);
    },
    paginateData(pagination) {
      this.activeCard = pagination[0] + 1;
      this.paginationNumbers = pagination;
    },
  },
  computed: {
    paginationSlice() {
      const firstPag = this.paginationNumbers[0];
      const secondPag = this.paginationNumbers[1];
      const value = firstPag * secondPag;

      return this.getPeopleWithSkill().slice(value, value + secondPag);
    },
  },
};
</script>

<style lang="scss" scoped>
.custom {
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
}
</style>
