<template>
  <div>
    <div class="skillContainer">
      <h1>Nazwa umiejętności: {{ getSkill().name }}</h1>
      <button @click="$modal.show('modal-edit-skill')">Edytuj</button>
      <div class="skill">
        <div class="first">
          <p>ID umiejetności: {{ $route.params.id }}</p>
          <p>Kategoria: {{ getSkillCategotyName(getSkill().category) }}</p>
        </div>
        <div class="second">
          <h2>Opis umiejętności:</h2>
          <p>{{ getSkill().description }}</p>
        </div>
      </div>
      <p>
        Liczba stażystów z tą umiejętnością: {{ countPeopleWithSkill() }}
        <button
          class="showTableBtn"
          v-if="setTableVisable"
          @click="setTableVisable = !setTableVisable"
        >
          ▲
        </button>
        <button
          class="showTableBtn"
          v-if="!setTableVisable && countPeopleWithSkill() !== 0"
          @click="setTableVisable = !setTableVisable"
        >
          ▼
        </button>
      </p>
      <PeopleWithExactSkill
        :skillId="getSkill().id"
        :contentLength="countPeopleWithSkill()"
        v-if="setTableVisable"
      />
    </div>
    <ModalWrapper
      name="modal-edit-skill"
      :height="400"
      :width="1000"
      title="Pole edycji umiejętności:"
    >
      <EditSkillModal :skillId="parseInt($route.params.id)" />
    </ModalWrapper>
  </div>
</template>

<script>
import PeopleWithExactSkill from "./PeopleWithExactSkill.vue";
import ModalWrapper from "../../../components/common/ModalWrapper.vue";
import EditSkillModal from "../EditSkillModal.vue";

export default {
  name: "SingleSkill",
  components: { PeopleWithExactSkill, ModalWrapper, EditSkillModal },
  props: {
    id: String,
  },
  data() {
    return {
      setTableVisable: false,
    };
  },
  methods: {
    getSkill() {
      return this.$store.state.skills.byId[Number(this.id)];
    },
    countPeopleWithSkill() {
      let peopleNumber = 0;
      for (const student in this.$store.state.students.byId) {
        if (
          this.$store.state.students.byId[student].skills.includes(
            parseInt(this.getSkill().id)
          )
        ) {
          peopleNumber++;
        }
      }
      return peopleNumber;
    },
    getSkillCategotyName(categoryId) {
      for (let category in this.$store.state.skills.categories.byId) {
        if (
          this.$store.state.skills.categories.byId[category].id === categoryId
        )
          return this.$store.state.skills.categories.byId[category].name;
      }
    },
  },
};
</script>

<style lang="scss" scoped>
.skill {
  max-width: 1600px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.first {
  width: 30%;
}

.second {
  width: 40%;
}

@media (max-width: 920px) {
  .skill {
    flex-direction: column;
  }
}
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.7s;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}

.showTableBtn {
  border-radius: 25%;
  width: 30px;
  height: 20px;
}
</style>
