<template>
  <div id="action-wrapper">
    <div class="fillter">
      <p>Filtrowanie:</p>
      <div class="fillter-wrapper">
        <div class="input-wrapper">
          <label for="firstName" class="margin-top-5">Imię:</label>
          <input
            type="text"
            id="firstName"
            v-model="firstName"
            v-on:input="filteredTrainees"
            @input="$emit('filterTrainees', trainees)"
            class="margin-top-5"
          />
        </div>
        <div class="input-wrapper">
          <label for="lastName" class="margin-top-5">Nazwisko:</label>
          <input
            type="text"
            id="lastName"
            v-model="lastName"
            v-on:input="filteredTrainees"
            @input="$emit('filterTrainees', trainees)"
            class="margin-top-5"
          />
        </div>
        <div class="input-wrapper">
          <label for="skill" class="margin-top-5">Umiejętności:</label>
          <select
            id="skill"
            v-model="skillName"
            v-on:change="filteredTrainees"
            @change="$emit('filterTrainees', trainees)"
            class="margin-top-5"
          >
            <option>none</option>
            <option v-for="skill in skills.byId" :key="skill.id">
              {{ skill.name }}
            </option>
          </select>
        </div>
        <div class="input-wrapper">
          <label for="projects" class="margin-top-5">Projekty:</label>
          <select
            id="projects"
            v-model="projectName"
            v-on:change="filteredTrainees"
            @change="$emit('filterTrainees', trainees)"
            class="margin-top-5"
          >
            <option>none</option>
            <option v-for="project in projects.byId" :key="project.id">
              {{ project.name }}
            </option>
          </select>
        </div>
      </div>
      <div class="btn-wrapper">
        <button
          :disabled="active"
          @click="resetInputValue"
          v-on:click="$emit('filterTrainees', trainees)"
          class="btn-reset"
          :class="{ disabled: active }"
        >
          Reset
        </button>
      </div>
    </div>
  </div>
</template>
<script>
import Vue from "vue";
import { GET_SKILL_BY_NAME, GET_PROJECT_BY_NAME } from "@/store/consts";

export default Vue.extend({
  name: "StudentsFilter",
  data() {
    return {
      active: true,
      firstName: "",
      lastName: "",
      skillName: "",
      projectName: "",
      trainees: [],
    };
  },
  computed: {
    projects() {
      return this.$store.state.projects;
    },
    skills() {
      return this.$store.state.skills;
    },
  },
  methods: {
    resetInputValue() {
      this.active = !this.active;
      this.firstName = "";
      this.lastName = "";
      this.skillName = "";
      this.projectName = "";
      this.filteredTrainees();
    },
    filteredTrainees() {
      let traineesStore = Object.values(this.$store.state.students.byId);

      this.checkSkillsProjectisNone("skillName");
      this.checkSkillsProjectisNone("projectName");

      if (
        !this.firstName &&
        !this.lastName &&
        !this.skillName &&
        !this.projectName
      ) {
        this.active = true;
        this.trainees = traineesStore;
      } else {
        this.active = false;
        if (this.firstName) {
          traineesStore = this.checkNewTraineesForNames(
            traineesStore,
            "firstName",
            this.firstName
          );
        }
        if (this.lastName) {
          traineesStore = this.checkNewTraineesForNames(
            traineesStore,
            "lastName",
            this.lastName
          );
        }
        if (this.skillName) {
          traineesStore = this.checkNewTraineesForSkillsAndProjects(
            traineesStore,
            "skills",
            this.skillName
          );
        }
        if (this.projectName) {
          traineesStore = this.checkNewTraineesForSkillsAndProjects(
            traineesStore,
            "projects",
            this.projectName
          );
        }
        this.trainees = traineesStore;
      }
    },
    helperFilterSkillsProjects(property, newValue, traineesStore) {
      let value =
        property === "skills"
          ? this.$store.getters[GET_SKILL_BY_NAME](newValue)
          : this.$store.getters[GET_PROJECT_BY_NAME](newValue);

      return traineesStore.filter((item) =>
        item[property].includes(value[0].id)
      );
    },
    helperFilterName(property, newValue, traineesStore) {
      return traineesStore.filter((item) =>
        item[property].toLowerCase().includes(newValue.toLowerCase())
      );
    },
    checkNewTraineesForNames(traineesStore, property, inputValue) {
      return this.helperFilterName(property, inputValue, traineesStore);
    },

    checkNewTraineesForSkillsAndProjects(traineesStore, property, inputValue) {
      return this.helperFilterSkillsProjects(
        property,
        inputValue,
        traineesStore
      );
    },
    checkSkillsProjectisNone(value) {
      if (this[value] === "none") {
        this[value] = "";
      }
    },
  },
});
</script>

<style lang="scss" scoped>
@import "@/styles/global.scss";
#action-wrapper {
  display: flex;
  justify-content: space-around;
  margin-bottom: 15px;
}
.fillter {
  display: flex;
  flex-direction: column;
  flex-basis: 35%;
  padding: 10px;
  border: 1px solid black;
}
.fillter-wrapper {
  display: flex;
  flex-direction: column;
}
.btn-wrapper {
  margin-top: 10px;
}
.btn-reset {
  margin-left: 10px;
  padding: 6px 12px;
  border: none;
  border-radius: 5px;
  background-color: $table-color-row-even;
  cursor: pointer;
}
.btn-reset:hover {
  background: $main-color-yellow;
}

.btn-reset,
.disabled:hover {
  background: $table-color-row-even;
}
.input-wrapper {
  display: flex;
  justify-content: space-between;
}
.margin-top-5 {
  margin-top: 5px;
}
</style>
