<template>
  <div class="container-students">
    <div class="title-wrapper-students">
      <h3>Stażyści</h3>
      <button class="btn-trainees" @click="changeView">
        {{ isChangeView ? "Zmień widok" : "Wróć" }}
      </button>
      <button class="btn-trainees">
        <router-link :to="{ name: 'NewStudent' }"
          >Dodaj nowego stażyste</router-link
        >
      </button>
    </div>
    <StudentsFilter
      v-on:filterTrainees="getFilteredTrainees"
      v-show="isChangeView"
    />

    <StudentsTable
      v-on:valueForSort="getValueForSort($event)"
      v-if="isChangeView"
      :trainees="trainees"
      :arrowObj="activeArrow"
      :paginationNum="paginationNumbers"
    />
    <AppPagination
      v-if="trainees.length"
      :pagAside="true"
      v-show="isChangeView"
      :dataLength="traineesLength"
      @paginatedData="paginateData"
      :activeCard="activeCard"
    />
    <StudentsPhotoList v-show="!isChangeView" :trainees="trainees" />
  </div>
</template>

<script>
import Vue from "vue";
import StudentsTable from "./StudentsTable/StudentsTable.vue";
import StudentsPhotoList from "./StudentsPhotoList/StudentsPhotoList.vue";
import StudentsFilter from "./StudentsFilter.vue";
import AppPagination from "../../components/common/AppPagination.vue";

export default Vue.extend({
  name: "StudentsWrapper",
  components: {
    StudentsTable,
    StudentsPhotoList,
    StudentsFilter,
    AppPagination,
  },
  data() {
    return {
      isChangeView: true,
      activeCard: 1,
      paginationNumbers: [0, 5],
      traineesLength: this.$store.state.students.allIds.length,
      trainees: Object.values(this.$store.state.students.byId),
      activeArrow: this.createActiveArrowObj(),
    };
  },
  methods: {
    paginateData(pagination) {
      this.activeCard = pagination[0] + 1;
      this.paginationNumbers = pagination;
    },
    getValueForSort(value) {
      const { name, way } = value;
      this.sortByValue(name, way);
    },
    getFilteredTrainees(trainees) {
      this.resetActive();
      this.activeCard = 1;
      this.numberFromPagination = [0, 10];
      this.trainees = trainees;
      this.traineesLength = trainees.length;

      this.activeCard = 1;
      this.paginationNumbers = [0, 5];
    },
    changeView() {
      this.isChangeView = !this.isChangeView;
    },

    sortByValue(name, way) {
      if (name === "projects" || name === "skills") {
        this.sortByProjectsSkills(name, way, this.trainees);
      }
      if (name === "firstName" || name === "lastName") {
        this.sortByNames(name, way, this.trainees);
      }
      if (name === "birthDate" || name === "practiseInYears") {
        this.sortByBirthPractise(name, way, this.trainees);
      }
    },
    sortByNames(name, way, arr) {
      return way === "up"
        ? arr.sort((a, b) => a[name].localeCompare(b[name]))
        : arr.sort((a, b) => b[name].localeCompare(a[name]));
    },
    sortByProjectsSkills(name, way, arr) {
      return way === "up"
        ? arr.sort((a, b) => a[name].length - b[name].length)
        : arr.sort((a, b) => b[name].length - a[name].length);
    },
    sortByBirthPractise(name, way, arr) {
      return way === "up"
        ? arr.sort((a, b) => a[name] - b[name])
        : arr.sort((a, b) => b[name] - a[name]);
    },
    createActiveArrowObj() {
      const activeArrow = {
        1: {
          up: false,
          down: false,
        },
        2: {
          up: false,
          down: false,
        },
        3: {
          up: false,
          down: false,
        },
        4: {
          up: false,
          down: false,
        },
        5: {
          up: false,
          down: false,
        },
        6: {
          up: false,
          down: false,
        },
      };
      return activeArrow;
    },
    resetActive() {
      for (const key in this.activeArrow) {
        this.activeArrow[key].up = false;
        this.activeArrow[key].down = false;
      }
    },
  },
});
</script>

<style lang="scss" scoped>
@import "@/styles/global.scss";

.container-students {
  max-width: 1200px;
  margin: 0 auto;
}

.title-wrapper-students {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
}
.btn-trainees {
  margin-left: 10px;
  padding: 6px 12px;
  border: none;
  border-radius: 5px;
  background-color: $table-color-row-even;
  cursor: pointer;
}
.btn-trainees a {
  color: black;
}
.btn-trainees:hover,
.btn-trainees:hover a {
  background: $main-color-yellow;
  color: white;
}
</style>
