<template>
  <div id="navbarClock" @click="toggleClock">
    <AnimationSlideFade>
      <font-awesome-icon v-if="isVisible" :icon="['far', 'clock']" />
      <div v-else class="clock">{{ currentTime }}</div>
    </AnimationSlideFade>
  </div>
</template>

<script lang="ts">
import Vue from "vue";
import Component from "vue-class-component";
import AnimationSlideFade from "../components/common/AnimationSlideFade.vue";

@Component({
  name: "Clock",
  components: { AnimationSlideFade },
})
export default class Clock extends Vue {
  isVisible = true;
  currentTime = "";
  clockInterval: null | number = null;

  toggleClock(): void {
    this.isVisible = !this.isVisible;
  }
  getCurrentTime(): string {
    const hour = new Date().getHours();
    const minutes = new Date().getMinutes();
    const seconds = new Date().getSeconds();
    this.currentTime = `${hour}:${minutes < 10 ? "0" + minutes : minutes}:${
      seconds < 10 ? "0" + seconds : seconds
    }`;
    return this.currentTime;
  }

  mounted(): void {
    this.clockInterval = setInterval(() => this.getCurrentTime(), 1000);
  }
}
</script>

<style lang="scss" scoped>
@import url("https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap");
#navbarClock {
  text-align: right;
  padding-right: 1.3rem;
  overflow-x: hidden;
  svg {
    width: 27px;
    height: 27px;
  }
  .clock {
    font-family: "Black Ops One", cursive;
    font-size: 1.2rem;
    padding-top: 2px;
  }
}
</style>
