<template>
  <section class="trainees">
    <div class="trainees__list" v-if="trainees.length > 0">
      <StudentInfo
        v-for="trainee in trainees"
        :key="trainee.id"
        :trainee="trainee"
      />
    </div>
    <p v-else class="no-result">Brak wyników!</p>
  </section>
</template>

<script>
import Vue from "vue";
import StudentInfo from "./StudentInfo.vue";

export default Vue.extend({
  name: "StudentsPhotoList",
  components: { StudentInfo },
  props: {
    trainees: { type: Array, required: true, default: () => ({}) },
  },
});
</script>

<style lang="scss" scoped>
.trainees {
  display: flex;
  flex-direction: column;
  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 10px;
  }
  .no-result {
    width: 50%;
    margin: 16px auto;
    padding: 3px 0;
    background-color: black;
    color: white;
  }
}
</style>
