<template>
  <div
    class="trainee"
    @click="goToTrainee(trainee.id)"
    title="Przejdź na stronę stażysty"
  >
    <figure class="trainee__photo-wrapper">
      <img class="trainee__photo" :src="trainee.photo" alt="" />
    </figure>
    <h4 class="trainee__name">
      {{ trainee.firstName + " " + trainee.lastName }}
    </h4>
  </div>
</template>

<script>
import Vue from "vue";

export default Vue.extend({
  name: "StudentInfo",
  props: {
    trainee: { type: Object, required: true, default: () => ({}) },
  },
  methods: {
    goToTrainee(id) {
      this.$router.push({ name: "Student", params: { id } });
    },
  },
});
</script>

<style lang="scss" scoped>
@import "@/styles/global.scss";
.trainee {
  width: 20%;
  margin: 10px;
  border: 1px solid black;

  &__photo {
    width: 95px;
    height: 100px;
  }
  &:hover {
    background-color: $main-color-yellow;
    cursor: pointer;
  }
}
</style>
