<template>
  <div class="comment">
    <div class="comment-author" v-text="commentAuthor" />
    <div class="comment-text" v-text="commentText" />
  </div>
</template>

<script>
import Vue from "vue";

export default Vue.extend({
  name: "ProjectCardListElementComment",
  props: {
    data: {
      type: Object,
      require: true,
    },
  },
  computed: {
    commentAuthor() {
      return `Autor: ${this.data.comment.author}`;
    },
    commentText() {
      return this.data.comment.text;
    },
  },
});
</script>

<style scoped>
.comment {
  border-bottom: 1px solid black;
  margin-bottom: 10px;
}
.comment:last-child {
  border-bottom: none;
}
.comment-author {
  font-weight: bold;
}
</style>
