<template>
  <components
    :is="component"
    :students="students"
    :skills="skills"
    :comments="comments"
  ></components>
</template>
<script>
import Vue from "vue";
import ProjectCardListSkills from "./ProjectCardListSkills.vue";
import ProjectCardListStudents from "./ProjectCardListStudents.vue";
import ProjectCardListComments from "./ProjectCardListComments.vue";

import {
  GET_STUDENTS_FROM_PROJECT,
  GET_SKILLS_FROM_PROJECT,
  GET_COMMENTS_FROM_PROJECT,
} from "@/store/consts";

export default Vue.extend({
  name: "ProjectCardList",
  components: {
    ProjectCardListSkills,
    ProjectCardListStudents,
    ProjectCardListComments,
  },
  props: {
    type: {
      type: String,
      validator: (prop) => ["students", "skills", "comments"].includes(prop),
    },
  },
  inject: ["newProject"],
  data() {
    return {
      component: "",
      componentsNames: {
        skills: "ProjectCardListSkills",
        students: "ProjectCardListStudents",
        comments: "ProjectCardListComments",
      },
      propTypes: ["skills", "students", "comments"],
    };
  },
  computed: {
    project() {
      return this.newProject();
    },
    students() {
      return this.$store.getters[GET_STUDENTS_FROM_PROJECT](this.project.id);
    },
    comments() {
      return this.$store.getters[GET_COMMENTS_FROM_PROJECT](
        this.project.comments
      );
    },
    skills() {
      const skills = this.$store.getters[GET_SKILLS_FROM_PROJECT](
        this.project.skills
      );
      this.getStudentsContainSkill(skills);
      return skills;
    },
  },
  methods: {
    getStudentsContainSkill(skills) {
      skills.forEach((skill) => {
        skill.numStudents = [];
        this.students.forEach((student) => {
          if (student.skills.includes(skill.id)) {
            skill.numStudents.push(`${student.firstName}  ${student.lastName}`);
          }
        });
      });
    },
  },
  mounted() {
    this.propTypes.forEach((type) =>
      this.type === type ? (this.component = this.componentsNames[type]) : null
    );
  },
});
</script>

<style scoped></style>
