<template>
  <p v-text="fullName" class="list-item-content" />
</template>

<script>
import Vue from "vue";

export default Vue.extend({
  name: "ProjectCardListElementStudent",
  props: {
    data: {
      type: Object,
      require: true,
    },
  },
  computed: {
    fullName() {
      const { firstName, lastName } = this.data.student;
      return `${firstName} ${lastName}`;
    },
  },
});
</script>

<style scoped>
.list-item-content {
  margin-bottom: 10px;
}
</style>
