<template>
  <div class="list">
    <div class="list-item" v-text="studentsTitle" />
    <div class="list-item">
      <ProjectCardListElement
        v-for="student in students"
        :key="student.id"
        :student="student"
        :type="'student'"
      />
    </div>
  </div>
</template>

<script>
import Vue from "vue";
import ProjectCardListElement from "./ProjectCardListElement.vue";

export default Vue.extend({
  name: "ProjectCardListStudents",
  components: { ProjectCardListElement },
  props: {
    students: {
      type: Array,
    },
  },
  computed: {
    studentsTitle() {
      return `Lista stażystów: ${this.students.length}`;
    },
  },
});
</script>

<style scoped>
.list {
  display: grid;
  grid-template-columns: auto;
  background-color: white;
  border-top: 1px solid black;
}
.list-item {
  padding: 5px;
  line-height: 20px;
  text-align: center;
  font-size: 11px;
}
.list-item:first-child {
  text-align: center;
  border-bottom: 1px solid black;
  background-color: rgb(225, 243, 248);
  font-weight: bold;
  font-size: 13px;
}
.list-item:nth-child(4) .list-item:nth-child(2) {
  text-align: justify;
}

@media (min-width: 800px) {
  .list {
    grid-template-columns: 25% auto;
  }
  .list-item {
    text-align: left;
    font-size: 15px;
  }
  .list-item:first-child {
    text-align: left;
    border-right: 1px solid black;
    border-bottom: none;
    font-size: 15px;
  }
}
</style>
