<template>
  <component :is="component" :data="this.$props"></component>
</template>

<script>
import Vue from "vue";
import ProjectCardListElementStudent from "./ProjectCardListElementStudent.vue";
import ProjectCardListElementComment from "./ProjectCardListElementComment.vue";
import ProjectCardListElementSkill from "./ProjectCardListElementSkill.vue";

export default Vue.extend({
  name: "ProjectCardListElement",
  components: {
    ProjectCardListElementStudent,
    ProjectCardListElementSkill,
    ProjectCardListElementComment,
  },
  props: {
    type: {
      type: String,
      require: true,
      validator: (prop) => ["student", "skill", "comment"].includes(prop),
    },
    skill: {
      type: Object,
      require: true,
    },
    student: {
      type: Object,
      require: true,
    },
    comment: {
      type: Object,
      require: true,
    },
  },
  data() {
    return {
      component: "",
      componentsNames: {
        skill: "ProjectCardListElementSkill",
        student: "ProjectCardListElementStudent",
        comment: "ProjectCardListElementComment",
      },
      propTypes: ["skill", "student", "comment"],
    };
  },
  mounted() {
    this.propTypes.forEach((type) =>
      this.type === type ? (this.component = this.componentsNames[type]) : null
    );
  },
});
</script>

<style scoped></style>
