<template>
  <p class="list-item-content">
    <span class="skill-name">{{ this.data.skill.name }}</span>
    <span>{{ this.studentsForSkill }}</span>
  </p>
</template>

<script>
import Vue from "vue";

export default Vue.extend({
  name: "ProjectCardListElementSkill",
  props: {
    data: {
      type: Object,
      require: true,
    },
  },
  computed: {
    studentsForSkill() {
      return this.data.skill.numStudents.length >= 1
        ? `(${this.data.skill.numStudents.join(", ")})`
        : "";
    },
  },
});
</script>

<style scoped>
.list-item-content {
  margin-bottom: 10px;
}
.skill-name {
  font-weight: bold;
}
</style>
