<template>
  <button class="btn-project" :disabled="isActive">
    <slot />
  </button>
</template>

<script>
export default {
  name: "ProjectCardButton",
  props: {
    isActive: {
      type: Boolean,
      require: true,
    },
  },
};
</script>

<style scoped>
.btn-project {
  margin: 5px;
}
</style>
