<template>
  <p class="check-input">
    <slot />
  </p>
</template>

<script>
export default {
  name: "Error",
};
</script>

<style scoped>
.check-input {
  margin: 0;
  padding: 0;
  line-height: 9px;
  font-size: 9px;
  color: red;
}
</style>
