<template>
  <input
    :type="type"
    v-model="inputValue"
    @input="$emit('getValue', inputValue.trim(), name)"
    :min="min"
    :name="name"
  />
</template>

<script>
import Vue from "vue";

export default Vue.extend({
  name: "Input",
  props: {
    type: { type: String },
    value: { type: String },
    dataValue: { type: Number },
    min: { type: String },
    name: { type: String },
  },
  data() {
    return {
      inputValue: this.value,
    };
  },
});
</script>
