<template>
  <section id="project-card">
    <div class="project-wrapper">
      <ProjectCardEdit />
      <ProjectCardList :type="'students'" />
      <ProjectCardList :type="'skills'" />
      <ProjectCardAddComment />
      <ProjectCardList :type="'comments'" />
    </div>
  </section>
</template>

<script>
import Vue from "vue";
import ProjectCardEdit from "./ProjectCardEdit/ProjectCardEdit.vue";
import ProjectCardList from "./ProjectCardList/ProjectCardList.vue";
import ProjectCardAddComment from "./ProjectCardAddComments/ProjectCardAddComment.vue";

export default Vue.extend({
  name: "ProjectCard",
  components: {
    ProjectCardEdit,
    ProjectCardAddComment,
    ProjectCardList,
  },
  computed: {
    project() {
      return this.$store.state.projects.byId[this.$route.params.id];
    },
  },
  provide() {
    return {
      newProject: () => this.project,
    };
  },
});
</script>

<style scoped>
.project-wrapper {
  display: flex;
  flex-direction: column;
  max-width: 700px;
  margin: 20px auto;
  background-color: lightblue;
  border: 1px solid black;
  color: black;
}
</style>
