<template>
  <textarea
    v-model="inputValue"
    @input="$emit('getValue', inputValue.trim(), name)"
    :name="name"
    class="edit-textarea"
  />
</template>

<script>
import Vue from "vue";

export default Vue.extend({
  name: "Input",
  props: ["type", "value", "min", "name"],
  data() {
    return {
      inputValue: this.value,
    };
  },
});
</script>

<style scoped>
.edit-textarea {
  width: 98%;
  height: 100px;
  font-family: sans-serif;
  resize: none;
  overflow: scroll none;
}
</style>
