<template>
  <div>
    <p>Nazwa projektu: {{ project.name }}</p>
    <p>Nazwa firmy: {{ project.company }}</p>
    <p>Status: {{ project.status }}</p>
    <p>Od: {{ from }}</p>
    <p>Do: {{ to }}</p>
  </div>
</template>

<script>
export default {
  props: ["id"],
  data() {
    return {
      project: {},
    };
  },

  computed: {
    from() {
      const date = new Date(this.project.from);
      return date.toDateString();
    },
    to() {
      const date = new Date(this.project.to);
      return date.toDateString();
    },
  },

  mounted() {
    this.project = this.$store.state.projects.byId[Number(this.id)];
  },
};
</script>
