<template>
  <div class="projectsList">
    <div class="wrapper tableHeader">
      <input
        placeholder="Nazwa projektu..."
        type="text"
        class="project-list--input"
        @keyup="(e) => handleFilterInput('name', e.target.value)"
      />
      <input
        placeholder="Liczba studentów..."
        type="number"
        min="0"
        :max="quantity"
        value="Reset"
        class="project-list--input"
        @input="(e) => handleFilterInput('studentsInProject', e.target.value)"
      />

      <select
        required
        v-model="selected"
        name=""
        id=""
        @change="(e) => handleFilterInput('status', e.target.value)"
        class="project-list--select"
      >
        <option
          v-if="selected === undefined"
          :value="undefined"
          selected
          class="project-list--select-option"
        >
          Status...
        </option>
        <option
          v-if="selected != undefined"
          :value="undefined"
          class="project-list--select-option"
        >
          <button :value="undefined" class="sort-button">Reset</button>
        </option>
        <option
          v-for="status in getStatuses"
          :key="status.id"
          :value="status.name"
          class="project-list--select-option"
        >
          {{ status.name }}
        </option>
      </select>

      <div v-for="item in tableHeader" :key="item.name">
        <div class="col">
          <strong> {{ item.name }}</strong>

          <div>
            <button
              @click="() => setSort(item.prop, 'up')"
              :class="
                sortColumnName === item.prop && sortDirection === 'up'
                  ? 'active'
                  : ''
              "
              class="sort-button"
            >
              <font-awesome-icon icon="caret-up" />
            </button>

            <button
              @click="() => setSort(item.prop, 'down')"
              :class="
                sortColumnName === item.prop && sortDirection === 'down'
                  ? 'active'
                  : ''
              "
              class="sort-button"
            >
              <font-awesome-icon icon="caret-down" />
            </button>
          </div>
        </div>
      </div>
    </div>

    <div v-for="item in paginatedData" :key="item.id">
      <div class="wrapper">
        <router-link :to="{ name: 'ProjectDetail', params: { id: item.id } }">
          <div class="row link">
            <p class="project-list--p">
              {{ item.name }}
            </p>
          </div>
        </router-link>
        <div class="row">
          <p class="project-list--p">
            {{ item.studentsInProject }}
          </p>
        </div>

        <div class="row">
          <p class="project-list--p">
            {{ item.status }}
          </p>
        </div>
      </div>
    </div>
    <p v-if="preparedData.length === 0" class="project-list--p">Brak wyników</p>
    <AppPagination
      :dataLength="preparedData.length"
      @paginatedData="paginateData"
      :activeCard="activeCard"
    />
  </div>
</template>

<script>
/* eslint-disable @typescript-eslint/explicit-module-boundary-types */
import AppPagination from "../../components/common/AppPagination.vue";
import { GET_PROJECTS, GET_STUDENTS_FOR_PROJECT } from "@/store/consts";

export default {
  components: {
    AppPagination,
  },
  data() {
    return {
      activeCard: 1,
      paginationNumbers: [0, 5],
      tableHeader: [
        {
          name: "Projekt",
          prop: "name",
        },
        {
          name: "Liczba studentów",
          prop: "studentsInProject",
        },
        {
          name: "Status",
          prop: "status",
        },
      ],

      quantity: 0,
      sortColumnName: null,
      sortDirection: null,
      filter: { name: "", studentsInProject: "", status: "" },
      selected: undefined,
    };
  },
  computed: {
    getStatuses() {
      return this.$store.state.projects.statuses;
    },
    preparedData() {
      let projects = this.$store.getters[GET_PROJECTS]().map((el) => ({
        ...el,

        studentsInProject: this.$store.getters[GET_STUDENTS_FOR_PROJECT](el.id)
          .length,
      }));
      this.handleFilterQuantity(projects);
      projects = this.handleFilter(projects);

      this.setNumberOfPages(Math.ceil(projects.length / this.projectsPerPage));
      projects = this.sortData(projects);

      return projects;
    },
    paginatedData() {
      const firstPag = this.paginationNumbers[0];
      const secondPag = this.paginationNumbers[1];
      const value = firstPag * secondPag;

      return this.preparedData.slice(value, value + secondPag);
    },
  },
  methods: {
    resetPagination() {
      this.activeCard = 1;
      this.paginationNumbers = [0, 5];
    },
    paginateData(pagination) {
      this.activeCard = pagination[0] + 1;
      this.paginationNumbers = pagination;
    },
    handleFilterQuantity(projects) {
      this.quantity = [...projects].sort(
        (a, b) => b.studentsInProject - a.studentsInProject
      )[0].studentsInProject;
    },
    setPerPage(perPage) {
      this.currentPage = 1;
      this.projectsPerPage = perPage;
    },

    setCurrentPage(page) {
      this.currentPage = page;
    },
    setNumberOfPages: function (pages) {
      this.$data.numberOfPages = pages;
    },

    handleFilterInput: function (prop, value) {
      this.$data.filter[prop] = value;
      this.resetPagination();
    },
    handleFilter(projects) {
      return projects.filter((project) => {
        if (project.status === 0) {
          project.status = "Zaplanowany";
        }
        if (project.status === 1) {
          project.status = "W toku";
        }
        if (project.status === 2) {
          project.status = "Zamknięty";
        }
        return ["name", "studentsInProject", "status"].every((key) => {
          if (!isNaN(project[key])) {
            if (this.filter[key]) {
              return project[key] === parseInt(this.filter[key]);
            }
            return true;
          }

          return project[key]
            .toLowerCase()
            .includes(this.filter[key].toLowerCase());
        });
      });
    },
    sortData(projects) {
      if (this.sortColumnName && this.sortDirection) {
        projects.sort((a, b) => {
          if (this.sortDirection === "up") {
            if (this.sortColumnName === "studentsInProject") {
              return a[this.sortColumnName] > b[this.sortColumnName] ? 1 : -1;
            }
            return a[this.sortColumnName].localeCompare(b[this.sortColumnName]);
          } else if (this.sortColumnName === "studentsInProject") {
            return a[this.sortColumnName] > b[this.sortColumnName] ? -1 : 1;
          } else {
            return b[this.sortColumnName].localeCompare(a[this.sortColumnName]);
          }
        });
      }

      return projects;
    },

    setSort(name, direction) {
      this.sortColumnName = name;
      this.sortDirection = direction;
      this.resetPagination();
    },
  },
};
</script>

<style lang="scss" scoped>
.project-list--select:invalid {
  color: gray;
}
.project-list--select-option {
  color: black;
}

.project-list--select-option[value=""][disabled] {
  display: none;
}
.type_slct .project-list--select-option {
  color: #17b3cc;
}

.link:hover {
  color: #42b983;
}
.sort-button {
  border: 1px solid #dfdfdf;
  border-radius: 5px;
  color: #2c3e50;
  cursor: pointer;
  padding: 4px 6px;
  margin: 2px;
  transition: 0.2s;
  background-color: rgb(180, 180, 180);
}
.active {
  color: #fff;
}

.projectsList {
  width: 50%;
  margin: 0 auto;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 5px;
}

.tableHeader {
  align-items: center;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  background-color: #ccc;

  .col {
    display: flex;
    flex-direction: column;
    padding: 10px;
  }
}
.wrapper {
  align-items: center;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: minmax(40px, auto);
  border: 1px solid #ccc;
}

.row {
  align-items: center;

  margin: 2px;
  padding: 5px;
  color: #2c3e50;
}

.project-list--input,
.project-list--select {
  border: 1px solid #dfdfdf;
  border-radius: 5px;
  box-sizing: border-box;
  cursor: pointer;
  font-size: 15px;
  line-height: 15px;
  text-decoration: none;
  transition: 0.3s;
  margin: 5px;
  padding: 5px;
}

@media only screen and (max-width: 1200px) {
  .projectsList {
    width: 100%;
  }
}
@media only screen and (max-width: 700px) {
  .projectsList {
    width: 100%;
  }

  .tableHeader {
    align-items: center;
    display: grid;
    grid-template-columns: 1fr;

    .col {
      display: flex;
      flex-direction: column;
      border: 1px solid #ccc;
      padding: 10px;
    }
  }
  .project-list--p {
    font-size: 15px;
  }
}
</style>
