<template>
  <div class="stars">
    <span v-for="(star, i) in 5" :key="i" class="fa-star" :class="stars[i]" />
  </div>
</template>

<script lang="ts">
import Vue from "vue";

export default Vue.extend({
  props: { rate: { type: Number, required: true } },

  computed: {
    stars() {
      const stars: string[] = [];
      [0.5, 1.5, 2.5, 3.5, 4.5].forEach((rate) =>
        this.rate >= rate ? stars.push("fas") : stars.push("far")
      );
      return stars;
    },
  },
});
</script>

<style lang="scss" scoped>
.stars {
  display: flex;
  gap: 5px;
}

.fas {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    animation: brightenUp 1s ease 0s alternate infinite backwards running;

    @keyframes brightenUp {
      from {
        box-shadow: 0 0 15px 8px #0ec30e;
      }
      to {
        box-shadow: 0 0 15px 10px #0ec30e;
      }
    }
  }
}

.fa-star {
  color: #0ec30e;
  font-size: 1.5em;
}
</style>
