<template>
  <div class="learning-materials container">
    <h1 class="header1">Materiały do nauki</h1>

    <MaterialsFilter :materials="materials" @filteredData="filterData" />

    <div class="learning-materials__table">
      <table class="learning-materials__table-table">
        <MaterialsSort :filteredData="filteredData" @sortedData="sortedData" />

        <MaterialsDisplay
          :filteredData="filteredData"
          :pagination="paginationNumbers"
        />
      </table>
    </div>

    <AppPagination
      :dataLength="filteredData.length"
      @paginatedData="paginateData"
      :activeCard="activeCard"
    />
  </div>
</template>

<script lang="ts">
import { Material } from "@/store/types";
import MaterialsDisplay from "./MaterialsDisplay.vue";
import MaterialsSort from "./MaterialsSort.vue";
import MaterialsFilter from "./MaterialsFilter.vue";
import AppPagination from "../../components/common/AppPagination.vue";
import Vue from "vue";

export default Vue.extend({
  components: {
    MaterialsDisplay,
    MaterialsSort,
    MaterialsFilter,
    AppPagination,
  },

  data(): {
    filteredData: Material[];
    paginationNumbers: number[];
    activeCard: number;
  } {
    return {
      filteredData: [],
      activeCard: 1,
      paginationNumbers: [0, 5],
    };
  },

  computed: {
    materials(): Material[] {
      return Object.values(this.$store.state.learningMaterials.byId);
    },
  },

  methods: {
    sortedData(materials: Material[]): void {
      this.filteredData = materials;
    },
    filterData(materials: Material[]): void {
      const [, itemsPerPage] = this.paginationNumbers;
      this.filteredData = materials;
      this.activeCard = 1;
      this.paginationNumbers = [0, itemsPerPage];
    },
    paginateData(pagination: number[]): void {
      this.activeCard = pagination[0] + 1;
      this.paginationNumbers = pagination;
    },
  },
});
</script>

<style lang="scss" scoped>
.container {
  border: none;
}

.learning-materials {
  .header1 {
    margin-bottom: 40px;
  }

  &__table {
    overflow-x: auto;

    &-table {
      width: 100%;
      font-weight: bold;
      border: 1px solid #008d00;
    }
  }
}
</style>
