<template>
  <div class="learning-materials__filter">
    <InputText
      name="title"
      label="Filtruj po tytule:"
      placeholder="Tytuł..."
      :value="filterValues.title"
      @inputValue="assignValues('title', $event)"
    />
    <InputText
      name="tags"
      label="Filtruj po tagach:"
      placeholder="Tagi..."
      :value="filterValues.tags"
      @inputValue="assignValues('tags', $event)"
    />
    <InputText
      name="type"
      label="Filtruj po typie:"
      placeholder="Typ..."
      :value="filterValues.type"
      @inputValue="assignValues('type', $event)"
    />
    <InputNumeric
      name="usefulness"
      label="Filtruj po uzyteczności:"
      placeholder="Użyteczność..."
      :value="filterValues.usefulness"
      @inputValue="assignValues('usefulness', $event)"
      :min="0"
      :max="5"
    />
    <InputNumeric
      name="comments"
      label="Filtruj po komentarzach:"
      placeholder="Ilość komentarzy..."
      :value="filterValues.comments"
      @inputValue="assignValues('comments', $event)"
      :min="0"
    />
    <div class="input-group">
      <label for="title" class="input-group--label">Resetuj </label>
      <Button type="cancel" title="Wyczyść filtry" :callback="resetFilters" />
    </div>
  </div>
</template>

<script lang="ts">
import { Material } from "@/store/types";
import InputText from "@/components/common/InputText.vue";
import InputNumeric from "@/components/common/InputNumeric.vue";
import Button from "@/components/common/Button.vue";
import Vue from "vue";

export default Vue.extend({
  props: { materials: Array },
  components: { InputText, InputNumeric, Button },
  data(): {
    filterValues: {
      [key: string]: string;
    };
  } {
    return {
      filterValues: {},
    };
  },

  created(): void {
    this.filterData();
  },

  methods: {
    filterData(): void {
      let dataToFilter = this.materials as Material[];

      if (this.filterValues.title) {
        dataToFilter = dataToFilter.filter((material) =>
          material.title
            .toUpperCase()
            .includes(this.filterValues.title.toUpperCase())
        );
      }
      if (this.filterValues.tags) {
        dataToFilter = dataToFilter.filter((material) =>
          material.tags
            .toString()
            .toUpperCase()
            .includes(this.filterValues.tags.toUpperCase())
        );
      }
      if (this.filterValues.type) {
        dataToFilter = dataToFilter.filter((material) =>
          this.getType(material.type)
            .toUpperCase()
            .includes(this.filterValues.type.toUpperCase())
        );
      }
      if (this.filterValues.usefulness) {
        dataToFilter = dataToFilter.filter(
          (material) =>
            material.usefulness === parseInt(this.filterValues.usefulness)
        );
      }
      if (this.filterValues.comments) {
        dataToFilter = dataToFilter.filter(
          (material) =>
            material.comments.length === parseInt(this.filterValues.comments)
        );
      }
      this.$emit("filteredData", dataToFilter);
    },
    getType(id: number): string {
      return this.$store.state.learningMaterials.materialTypes[id];
    },
    assignValues(path: keyof Material, value: string): void {
      this.filterValues[path] = value;
      this.filterData();
    },

    resetFilters(): void {
      this.setDefaultObject();
      this.filterData();
    },

    setDefaultObject(): void {
      this.filterValues = {
        title: "",
        tags: "",
        type: "",
        usefulness: "",
        comments: "",
      };
    },
  },
});
</script>

<style lang="scss" scoped>
@import "@/styles/inputs.scss";

.learning-materials__filter {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin-bottom: 20px;
}

.btn {
  width: 290px;
}
</style>
