<template>
  <tbody>
    <tr v-for="material in paginationSlice" :key="material.id">
      <td class="cell">{{ material.id }}</td>
      <td class="cell">
        <router-link
          :to="{ name: 'SingleMaterial', params: { id: material.id } }"
          class="link"
          >{{ material.title }}</router-link
        >
      </td>
      <td class="cell">
        <span v-for="tag in material.tags" :key="tag" class="hashtag">
          {{ tag.substr(1) }}
        </span>
      </td>
      <td class="cell">{{ getType(material.type) }}</td>
      <td class="cell">{{ material.usefulness }}</td>
      <td class="cell">{{ material.comments.length }}</td>
      <td class="cell">
        <button class="btn">
          <font-awesome-icon
            :icon="['far', 'edit']"
            @click="$modal.show(`modal${material.id}`)"
            class="icon"
          />
        </button>
      </td>
      <ModalWrapper
        :name="`modal${material.id}`"
        :height="windowHeight * 0.9"
        :width="windowWidth * 0.8"
        :title="`Edytujesz materiał: ${material.title}`"
      >
        <MaterialEdit :name="`modal${material.id}`" :material="material" />
      </ModalWrapper>
    </tr>

    <tr v-show="filteredData.length === 0">
      <td colspan="7" class="cell">No data available from this filter!</td>
    </tr>
  </tbody>
</template>

<script lang="ts">
import { Material } from "@/store/types";
import MaterialEdit from "./MaterialEdit.vue";
import ModalWrapper from "../../components/common/ModalWrapper.vue";
import Vue from "vue";

export default Vue.extend({
  components: {
    MaterialEdit,
    ModalWrapper,
  },

  props: { filteredData: Array, pagination: Array },

  data(): { windowHeight: number; windowWidth: number } {
    return {
      windowHeight: window.innerHeight,
      windowWidth: window.innerWidth,
    };
  },

  computed: {
    paginationSlice(): Material[] {
      const firstPag = this.pagination[0] as number;
      const secondPag = this.pagination[1] as number;
      const value = firstPag * secondPag;

      return [...this.filteredData].slice(
        value,
        value + secondPag
      ) as Material[];
    },
  },

  methods: {
    getType(id: number): string {
      return this.$store.state.learningMaterials.materialTypes[id];
    },
  },
});
</script>

<style lang="scss" scoped>
@import "../../styles/global.scss";

.btn {
  border: none;
  background: none;
  font-size: 1em;
}

.cell {
  padding: 5px 10px;
  border-bottom: 1px solid #008d00;
}

.icon {
  cursor: pointer;
  transition: transform 0.1s;

  &:hover {
    transform: scale(1.1);
  }
}

.hashtag::before {
  content: "#";
  color: #5bab5b;
  margin-right: -4px;
}

.link {
  color: $main-color-green;
}
</style>
