<template>
  <div class="material container">
    <h1 class="material--h1">{{ materialData.title }}</h1>

    <h2 class="material--h2">Type</h2>
    <div class="material__type mbottom">
      <p>{{ getType(materialData.type) }}</p>
    </div>

    <h2 class="material--h2">Source</h2>
    <p class="material__source mbottom">
      <a
        :href="materialData.link"
        target="_blank"
        rel="noopener noreferrer"
        class="link"
        >{{ materialData.link }}</a
      >
    </p>

    <h2 class="material--h2">Usefulness</h2>
    <div class="material__usefulness mbottom">
      <AppRating :rate="materialData.usefulness" />
    </div>

    <h2 class="material--h2">Tags</h2>
    <div class="material__tags mbottom">
      <p
        v-for="tag in materialData.tags"
        :key="tag"
        class="material__tags--tag"
      >
        {{ tag }}
      </p>
    </div>

    <h2 class="material--h2">Comments</h2>
    <div class="material__comments">
      <div
        v-for="comment in comments"
        :key="comment.id"
        class="material__comments--comment"
      >
        <p class="author">{{ comment.author }}</p>
        <p class="text">{{ comment.text }}</p>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { Material } from "@/store/types";
import AppRating from "./AppRating.vue";
import { GET_MATERIAL_COMMENTS } from "@/store/consts";
import Vue from "vue";

export default Vue.extend({
  components: {
    AppRating,
  },

  data(): {
    materialId: number | null;
    materialData: Material | null;
    comments: Comment[];
  } {
    return {
      materialId: null,
      materialData: null,
      comments: [],
    };
  },

  created(): void {
    this.materialData =
      this.$store.state.learningMaterials.byId[this.$route.params.id];
    this.comments = this.$store.getters[GET_MATERIAL_COMMENTS](
      this.materialData?.comments
    );
  },

  methods: {
    getType(id: number): string {
      return this.$store.state.learningMaterials.materialTypes[id];
    },
  },
});
</script>

<style lang="scss" scoped>
@import "@/styles/global.scss";

.container {
  margin-bottom: 2rem;
  border: none;
}

.material {
  padding-bottom: 2rem;

  &--h1 {
    margin-bottom: 3rem;
  }

  &--h2 {
    margin-bottom: 0.5rem;
  }

  .link {
    color: $green;
    font-size: 1.2em;
  }

  .mbottom {
    margin-bottom: 2rem;
  }

  &__type {
    p {
      font-size: 1.3em;
      text-transform: uppercase;
      font-weight: 900;
      color: $green;
    }
  }

  &__usefulness {
    display: flex;
    justify-content: center;
    gap: 5px;
  }

  &__tags {
    display: flex;
    justify-content: center;
    gap: 5px;

    &--tag {
      padding: 7px 10px;
      background-color: $green;
      border-radius: 5px;
      font-weight: 600;
      color: white;
    }
  }

  &__comments {
    display: flex;
    flex-direction: column;
    gap: 30px;

    &--comment {
      width: calc(80% + 2rem);
      margin: 0 auto;
      border-radius: 10px;
      padding: 1rem;
      border: 2px solid $green;
      text-align: left;

      .author {
        font-size: 1.3em;
        margin-bottom: 0.5em;
        font-weight: 600;
      }

      .text {
        font-size: 1.1em;
      }
    }
  }
}
</style>
