<template>
  <thead class="table-head">
    <tr>
      <th
        class="table-header"
        v-for="legendItem in legendItems"
        :key="legendItem.path"
        :class="activeSort === legendItem.path ? 'activeSort' : ''"
      >
        <p class="table-header--p">
          {{ legendItem.path.toUpperCase() }}
          <button class="btn">
            <font-awesome-icon
              :icon="['fas', sortType ? sortIcon.asc : sortIcon.desc]"
              class="icon"
              @click="
                sortMaterials({
                  path: legendItem.path,
                  sortBy: legendItem.sortBy,
                })
              "
            />
          </button>
        </p>
      </th>
      <th class="table-header">
        <font-awesome-icon
          class="icon"
          :icon="['fas', 'exclamation-circle']"
          title="Actions"
        />
      </th>
    </tr>
  </thead>
</template>

<script lang="ts">
/* eslint-disable @typescript-eslint/ban-ts-comment */
import { Material } from "@/store/types";
import Vue from "vue";

type SortTypes = "number" | "string" | "arrayValues" | "arrayLength";

export default Vue.extend({
  props: { filteredData: Array },

  data(): {
    sortType: boolean;
    legendItems: {
      path: keyof Material;
      sortBy: SortTypes;
    }[];
    activeSort: string | null;
    sortIcon: {
      [key: string]: string;
    };
  } {
    return {
      sortType: true,
      legendItems: [
        { path: "id", sortBy: "number" },
        { path: "title", sortBy: "string" },
        { path: "tags", sortBy: "arrayValues" },
        { path: "type", sortBy: "number" },
        { path: "usefulness", sortBy: "number" },
        { path: "comments", sortBy: "arrayLength" },
      ],
      activeSort: null,
      sortIcon: {
        asc: "sort-amount-down-alt",
        desc: "sort-amount-down",
      },
    };
  },

  methods: {
    sortMaterials(args: { path: keyof Material; sortBy: SortTypes }): void {
      const materialValues = this.filteredData as Material[];
      this.activeSort = args.path;
      let sortedMaterials: Material[] = [];

      if (this.sortType) {
        if (args.sortBy === "number") {
          sortedMaterials = materialValues.sort(
            (a, b) => (b[args.path] as number) - (a[args.path] as number)
          );
        }
        if (args.sortBy === "string") {
          sortedMaterials = materialValues.sort((a, b) =>
            // @ts-ignore
            b[args.path].localeCompare(a[args.path])
          );
        }
        if (args.sortBy === "arrayValues") {
          sortedMaterials = materialValues.map((material) =>
            // @ts-ignore
            ({ ...material, [args.path]: material[args.path].sort().reverse() })
          );
        }
        if (args.sortBy === "arrayLength") {
          sortedMaterials = materialValues.sort(
            (a, b) =>
              // @ts-ignore
              b[args.path].length - a[args.path].length
          );
        }
      } else {
        if (args.sortBy === "number") {
          sortedMaterials = materialValues.sort(
            (a, b) => (a[args.path] as number) - (b[args.path] as number)
          );
        }
        if (args.sortBy === "string") {
          sortedMaterials = materialValues.sort((a, b) =>
            // @ts-ignore
            a[args.path].localeCompare(b[args.path])
          );
        }
        if (args.sortBy === "arrayValues") {
          sortedMaterials = materialValues.map((material) =>
            // @ts-ignore
            ({ ...material, [args.path]: material[args.path].sort() })
          );
        }
        if (args.sortBy === "arrayLength") {
          sortedMaterials = materialValues.sort(
            (a, b) =>
              // @ts-ignore
              a[args.path].length - b[args.path].length
          );
        }
      }
      this.sortType = !this.sortType;

      this.$emit("sortedData", sortedMaterials);
    },
  },
});
</script>

<style lang="scss" scoped>
.btn {
  border: none;
  background: none;
  font-size: 1em;
  color: white;
}

.table-head {
  color: white;
  background-color: #97c597;
  user-select: none;

  .table-header {
    white-space: nowrap;
    padding: 5px 10px;

    .icon {
      cursor: pointer;
    }

    &--p {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 5px;
    }

    &.activeSort {
      background-color: #669966;
    }
  }
}
</style>
