<template>
  <div class="modal-body green-inputs">
    <slot>
      <Button
        type="accept"
        :primary="true"
        title="Zapisz zmiany"
        :callback="saveAndClose"
        style="margin-bottom: 1rem"
      />
      <EditTitle
        :material="materialEditedData"
        @changeTitle="assignValues('title', $event)"
      />
      <EditLink
        :material="materialEditedData"
        @changeLink="assignValues('link', $event)"
      />
      <EditType
        :material="materialEditedData"
        @changeType="assignValues('type', $event)"
      />
      <EditUsefulness
        :material="materialEditedData"
        :editMaterial="editMaterial"
        @changeUsefulness="assignValues('usefulness', $event)"
      />
      <EditTags :material="materialEditedData" />
      <EditComments :material="materialEditedData" />
    </slot>
  </div>
</template>

<script lang="ts">
/* eslint-disable @typescript-eslint/ban-ts-comment */
import { Material } from "@/store/types";
import EditTitle from "./EditModalComponents/EditTitle.vue";
import EditLink from "./EditModalComponents/EditLink.vue";
import EditTags from "./EditModalComponents/EditTags.vue";
import EditType from "./EditModalComponents/EditType.vue";
import EditUsefulness from "./EditModalComponents/EditUsefulness.vue";
import EditComments from "./EditModalComponents/EditComments.vue";
import { SET_NEW_LEARNING_MATERIAL_DATA } from "@/store/consts";
import Vue from "vue";
import Button from "@/components/common/Button.vue";

export default Vue.extend({
  components: {
    EditTitle,
    EditLink,
    EditTags,
    EditType,
    EditUsefulness,
    EditComments,
    Button,
  },

  props: {
    name: { type: String, required: true },
    material: { type: Object, required: true },
  },

  data(): {
    materialTypes: string[];
    materialEditedData: Material;
  } {
    return {
      materialTypes: [],
      materialEditedData: { ...this.material },
    };
  },

  methods: {
    hide(): void {
      this.$modal.hide(this.name);
    },
    saveAndClose(): void {
      this.editMaterial();
      this.hide();
    },
    editMaterial(): void {
      this.$store.commit(
        SET_NEW_LEARNING_MATERIAL_DATA,
        this.materialEditedData
      );
    },
    assignValues(path: keyof Material, value: string): void {
      // @ts-ignore
      this.materialEditedData[path] = value;
    },
  },
});
</script>

<style lang="scss" scoped>
@import "@/styles/inputs.scss";
.btn {
  width: 290px;
}

.modal-body {
  font-weight: normal;
}
</style>
