// COLORS
$main-color-dark: #35495e;
$main-color-green: #42b983;
$main-color-warning: #ff6347;
$main-color-gray: #808080;
$green: #0ec30e;
$menu-bgc: #d4f8d7;

//body
body {
  margin: 0;
  padding: 0;
}

// MODALS
$border-color-light: lightgrey;
$input-background-light: rgb(240, 231, 231);
$input-focus-visible: rgb(124, 124, 124);
$main-color-yellow: #fc0;

$table-color-row-odd: #eee;
$table-color-row-even: #d4f8d7;

@mixin breakpoint($device) {
  @if $device == mobileM {
    @media (min-width: 375px) {
      @content;
    }
  } @else if $device == mobileL {
    @media (min-width: 425px) {
      @content;
    }
  } @else if $device == tablet {
    @media (min-width: 768px) {
      @content;
    }
  } @else if $device == laptop {
    @media (min-width: 1024px) {
      @content;
    }
  } @else if $device == desktop {
    @media (min-width: 1440px) {
      @content;
    }
  } @else if $device == desktopL {
    @media (min-width: 1660px) {
      @content;
    }
  }
}

.container {
  width: 96%;
  margin: 0 auto;
  padding: 0;

  @include breakpoint(tablet) {
    width: 90%;
  }

  @include breakpoint(laptop) {
    width: 980px;
  }

  @include breakpoint(desktop) {
    width: 1200px;
  }

  @include breakpoint(desktopL) {
    width: 1420px;
  }
}
