@import '@/styles/global.scss';

.btn {
  border: none;
  background: none;
  font-size: 1em;
}

.input-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  margin: 0 auto 1rem;
  gap: 5px;
  position: relative;

  &.chbox {
    gap: 0;
  }

  .checkbox {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: unset;
    gap: 10px;

    .input-checkbox {
      width: 15px;
    }

    .input-group--label {
      padding-left: 0;
      width: calc(100% - 20px);
    }
  }

  &.error {
    border-color: $main-color-warning;
    color: $main-color-warning;
    position: relative;

    .input-group--input,
    .input-group--select {
      border-color: $main-color-warning;
      color: $main-color-warning;
      padding-right: 40px;
    }

    .input-group--select {
      option {
        color: $green;
      }
    }
  }

  .select {
    &.error-div {
      right: 19px;
    }
  }

  .error-text {
    color: $main-color-warning;
  }

  .error-div {
    position: absolute;
    bottom: 9px;
    right: 10px;
    cursor: help;
  }

  .error-icon {
    color: $main-color-warning;
    font-size: 1.2em;

    &:hover {
      ~ .error-messages {
        clip-path: inset(0 0 0 0);
        transition: clip-path 0.5s;
      }
    }
  }

  .error-messages {
    z-index: 1000;
    transition: clip-path 0.5s;
    clip-path: inset(0 0 100% 0);
    position: absolute;
    width: 250px;
    right: 0;
    background-color: white;
    border: 2px solid $main-color-warning;
    border-radius: 5px;

    &--ul {
      li {
        margin-bottom: 10px;
        text-align: left;
        padding: 0 10px;
      }
    }
  }

  &--input,
  &--select,
  &--textarea {
    width: 100%;
    height: 40px;
    font-size: 1.2em;
    border: 2px solid #35495e;
    border-radius: 10px;
    padding: 0 10px;
    cursor: pointer;

    &:focus-visible {
      outline-color: #4d4dff;
    }

    &.input-checkbox {
      width: max-content;
    }
  }

  &--textarea {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    height: auto;
    width: auto;
    padding: 5px 10px 20px 10px;
  }

  &--select {
    padding-right: 20px;

    .placeholder {
      background-color: whitesmoke;
      color: gray !important;
    }
  }

  .input-group__textarea--length {
    position: absolute;
    bottom: 2px;
    right: 19px;
    background-color: #fff;
    padding: 2px 5px 0px;
  }

  &--label {
    padding-left: 10px;
    font-size: 1.1em;
  }
}

.modal-p {
  font-size: 1.1em;
}

.accept-input {
  position: relative;

  input {
    padding-right: 15px;
  }

  .fa-check {
    position: absolute;
    right: 10px;
    bottom: 35px;
    transform: translateY(-50%);
    font-size: 1.2em;
    color: #5bab5b;
    cursor: pointer;
  }
}
