<template>
  <footer class="app-footer">
    <Link :linkData="linkData" />, {{ getCurrentDate() }}
  </footer>
</template>

<script lang="ts">
import Vue from "vue";
import Link from "../common/Link.vue";

export default Vue.extend({
  name: "Footer",
  components: { Link },
  data() {
    return {
      linkData: {
        url: "http://ekslibris.net/",
        name: "EksLibris.net",
      },
    };
  },
  methods: {
    getCurrentDate() {
      const year = new Date().getFullYear();
      const month = new Date().getMonth() + 1;
      const day = new Date().getDate();
      return `${year}.${month}.${day}`;
    },
  },
});
</script>

<style lang="scss" scoped>
@import "../../styles/global.scss";
.app-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 4rem;
  background-color: rgb(236, 234, 234);
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: solid 2px $main-color-green;
}
</style>
