<template>
  <div>
    <h2>{{ text }}</h2>
  </div>
</template>

<script lang="ts">
import Vue from "vue";

export default Vue.extend({
  name: "HomeView",
  props: {
    text: String,
  },
});
</script>
