<template>
  <header class="app-header">
    <div class="navigation-wrapper">
      <nav class="app-nav">
        <ul class="navigation nav-ul" v-show="!mobile">
          <li
            v-for="(menuLink, index) in menuLinks"
            :key="index"
            class="nav-li"
          >
            <router-link
              class="link"
              :to="{ name: menuLink.component }"
              v-text="menuLink.text"
            />
          </li>
        </ul>
        <div class="icon">
          <i class="fas fa-bars" @click="toggleMobileNav" v-show="mobile"></i>
        </div>
        <transition name="mobile-nav">
          <ul
            class="mobile-navigation nav-ul"
            @click="toggleMobileNav"
            v-show="mobileNav"
          >
            <li
              v-for="(menuLink, index) in menuLinks"
              :key="index"
              class="nav-li"
            >
              <router-link
                class="link"
                :to="{ name: menuLink.component }"
                v-text="menuLink.text"
              />
            </li>
          </ul>
        </transition>
      </nav>
      <div class="nav-icons">
        <div id="clock">
          <Clock />
        </div>
        <div class="user">
          <p class="user-name" v-if="user.loggedIn">{{ user.firstName }}</p>
          <router-link to="/logowanie" class="link">
            <i class="far fa-user user-icon" />
          </router-link>
        </div>
      </div>
    </div>
  </header>
</template>

<script lang="ts">
import Vue from "vue";
import Clock from "../../features/Clock.vue";
import { menuLinks } from "@/utils/menuLinks";
import { User } from "@/store/types";

export default Vue.extend({
  name: "navigation",
  components: { Clock },
  data() {
    return {
      mobile: false,
      mobileNav: false,
      menuLinks: menuLinks,
    };
  },

  computed: {
    user(): User {
      return this.$store.state.user;
    },
  },

  created() {
    this.checkScreen();
    window.addEventListener("resize", this.checkScreen);
  },

  destroyed() {
    window.removeEventListener("resize", this.checkScreen);
  },

  methods: {
    toggleMobileNav() {
      this.mobileNav = !this.mobileNav;
    },

    checkScreen() {
      if (window.innerWidth <= 768) {
        this.mobile = true;
        return;
      }
      this.mobile = false;
      this.mobileNav = false;
      return;
    },
  },
});
</script>

<style lang="scss" scoped>
@import "../../styles/global.scss";

.navigation-wrapper {
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
}

.app-header {
  top: 0;
  z-index: 99;
  width: 100%;
  height: 80px;
  position: fixed;
  box-shadow: 0 1px 15px $main-color-dark;
  box-sizing: border-box;
  border-bottom: solid 2px $main-color-green;
  background-color: #d4f8d7;
  transition: 0.5s ease all;

  .app-nav {
    display: flex;
    max-width: fit-content;
    flex-direction: row;
    margin: 0 auto;
    transition: 0.5s ease all;

    .nav-ul,
    .link {
      list-style: none;
      text-decoration: none;
      font-weight: 700;
      color: $main-color-dark;
      padding: 0;
    }

    .nav-li {
      margin: 0 16px;
      padding: 12px;
    }

    .link {
      font-size: 16px;

      &:hover {
        color: #00b7ff;
      }

      &.router-link-exact-active {
        color: #26885c;
      }
    }

    .navigation {
      display: flex;
      align-items: center;
      justify-content: flex-start;
    }

    .icon {
      position: absolute;
      margin: auto;
      top: 50%;
      left: 1.5rem;
      margin-top: 23px;

      i {
        cursor: pointer;
        font-size: 30px;
      }
    }

    .mobile-navigation {
      padding: 5px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      position: fixed;
      width: 100%;
      max-width: 160px;
      height: 100%;
      top: 62px;
      left: 0;
      background: rgba(65, 184, 131, 0.9);

      .link {
        font-size: 16px;

        &:hover {
          color: #fff;
        }

        &.router-link-exact-active {
          color: #d8ec62;
        }
      }
    }

    .mobile-nav-leave-active {
      transition: 0.4s ease all;
    }

    .mobile-nav-leave-to {
      transform: translateX(-200px);
    }
  }

  .nav-icons {
    position: absolute;
    margin-top: 25px;
    right: 1.5rem;
    cursor: pointer;
    top: 0;
    display: flex;
    align-items: center;
    font-weight: 700;

    .user {
      display: flex;
      align-items: center;

      .user-name {
        margin: 0;
        margin-right: 6px;
      }

      .user-icon {
        font-size: 20px;
        color: $main-color-dark;
      }
    }

    #clock {
      cursor: pointer;
    }
  }
}
</style>
