<template>
  <div>
    <Select
      @selectValue="$emit('changeUsefulness', parseInt($event))"
      name="usefulness"
      label="Zmien uzyteczność: "
      :value="material.usefulness"
      :options="options"
    >
      <AppRating :rate="material.usefulness" />
    </Select>
  </div>
</template>

<script lang="ts">
import Vue from "vue";
import AppRating from "../AppRating.vue";
import Select from "@/components/common/Select.vue";

export default Vue.extend({
  props: { material: Object },
  components: { AppRating, Select },
  data() {
    return {
      options: [
        { value: 1, label: 1 },
        { value: 2, label: 2 },
        { value: 3, label: 3 },
        { value: 4, label: 4 },
        { value: 5, label: 5 },
      ],
    };
  },
});
</script>

<style lang="scss" scoped>
@import "@/styles/inputs.scss";

.stars {
  margin: 0 auto;
}
</style>
