<template>
  <div class="accept-input input-group">
    <InputText
      name="link"
      label="Zmien link:"
      :value="material.link"
      @inputValue="$emit('changeLink', $event)"
    />
  </div>
</template>

<script>
import Vue from "vue";
import InputText from "@/components/common/InputText.vue";

export default Vue.extend({
  components: { InputText },
  props: { material: Object },
});
</script>

<style lang="scss" scoped>
@import "@/styles/inputs.scss";

.link {
  color: #5bab5b;
}
</style>
