<template>
  <div>
    <div class="comments">
      <p class="modal-p">Comments:</p>
      <div class="comment" v-for="comment in comments" :key="comment.id">
        <p class="modal-body--p author">{{ comment.author }}</p>
        <p class="modal-body--p text">{{ comment.text }}</p>
      </div>
    </div>
    <div class="accept-input comment-input">
      <InputText
        name="comment"
        label="Dodaj komentarz: "
        placeholder="Komentarz..."
        :value="newComment"
        @inputValue="setComment($event)"
      />
      <button class="btn">
        <font-awesome-icon :icon="['fas', 'check']" @click="addComment" />
      </button>
    </div>
  </div>
</template>

<script lang="ts">
import { Comment } from "@/store/types";
import {
  SET_NEW_MATERIAL_COMMENT,
  GET_MATERIAL_COMMENTS,
} from "@/store/consts";
import Vue from "vue";
import InputText from "@/components/common/InputText.vue";

export default Vue.extend({
  components: { InputText },
  props: { material: Object },
  data(): { comments: Comment[]; newComment: string } {
    return {
      comments: [],
      newComment: "",
    };
  },
  created(): void {
    this.comments = this.$store.getters[GET_MATERIAL_COMMENTS](
      this.material?.comments as number[]
    );
  },
  methods: {
    addComment(): void {
      if (!this.newComment) return;

      this.$store.commit(SET_NEW_MATERIAL_COMMENT, {
        id: this.material.id,
        comment: this.newComment,
      });
      this.newComment = "";

      const lastCommentId = this.$store.state.comments.allIds.at(-1);
      const lastCommentData = this.$store.state.comments.byId[lastCommentId];

      this.comments = [...this.comments, lastCommentData];
    },
    setComment(comment: string): void {
      !comment ? (this.newComment = "") : (this.newComment = comment);
    },
  },
});
</script>

<style lang="scss" scoped>
@import "@/styles/inputs.scss";

.comments {
  .comment {
    width: 98%;
  }
}
.comment-input {
  width: max-content;
  margin: 0 auto;
}
</style>
