<template>
  <Select
    @selectValue="$emit('changeType', $event)"
    name="type"
    label="Zmien typ: "
    :value="material.type"
    :options="options"
  />
</template>

<script lang="ts">
import Vue from "vue";
import Select from "@/components/common/Select.vue";

export default Vue.extend({
  props: { material: Object },
  components: { Select },
  data(): {
    materialTypes: string[];
    options: { value: string | number; label: string }[];
  } {
    return {
      materialTypes: [],
      options: [],
    };
  },
  created(): void {
    this.materialTypes = Object.values(
      this.$store.state.learningMaterials.materialTypes
    );
    this.materialTypes.forEach((type, i) =>
      this.options.push({ value: i + 1, label: type })
    );
  },
});
</script>

<style lang="scss" scoped>
@import "@/styles/inputs.scss";
</style>
