<template>
  <div class="input-group accept-input">
    <InputText
      name="title"
      label="Zmien tytuł:"
      :value="material.title"
      @inputValue="$emit('changeTitle', $event)"
    />
  </div>
</template>

<script>
import Vue from "vue";
import InputText from "@/components/common/InputText.vue";

export default Vue.extend({
  components: { InputText },
  props: { material: Object },
});
</script>

<style lang="scss" scoped>
@import "@/styles/inputs.scss";
</style>
