<template>
  <div class="accept-input">
    <InputText
      name="tags"
      label="Dodaj tag:"
      placeholder="Tag..."
      :value="newTag"
      @inputValue="!$event ? (newTag = '') : (newTag = $event)"
    >
      <ul class="modal-list">
        <li v-for="tag in allTags" :key="tag" class="modal-list--item">
          <p class="modal-p">{{ tag }}</p>

          <button class="btn">
            <font-awesome-icon
              :icon="['fas', 'times']"
              class="deny"
              @click="removeTag(tag)"
            />
          </button>
        </li>
      </ul>
    </InputText>
    <button class="btn">
      <font-awesome-icon :icon="['fas', 'check']" @click="addTag" />
    </button>
  </div>
</template>

<script lang="ts">
import { SET_NEW_MATERIAL_TAGS } from "@/store/consts";
import Vue from "vue";
import InputText from "@/components/common/InputText.vue";

export default Vue.extend({
  components: { InputText },
  props: { material: Object },
  data(): { allTags: string[]; newTag: string } {
    return { allTags: [], newTag: "" };
  },

  created(): void {
    this.allTags =
      this.$store.state.learningMaterials.byId[this.material.id].tags;
  },

  methods: {
    addTag(): void {
      if (!this.newTag) return;

      this.allTags.push(`#${this.newTag}`);
      this.$store.commit(SET_NEW_MATERIAL_TAGS, {
        id: this.material.id,
        tags: this.allTags,
      });
      this.newTag = "";
    },
    removeTag(tagToRemove: string): void {
      this.allTags = this.allTags.filter((tag) => tag !== tagToRemove);
      this.$store.commit(SET_NEW_MATERIAL_TAGS, {
        id: this.material.id,
        tags: this.allTags,
      });
    },
  },
});
</script>

<style lang="scss" scoped>
@import "@/styles/inputs.scss";
.accept-input {
  width: max-content;
  margin: 0 auto;
}
.modal-list {
  margin: 0;

  &--item {
    display: flex;
    justify-content: space-between;
    gap: 30px;

    .deny {
      color: tomato;
      cursor: pointer;
    }
  }
}
</style>
