<template>
  <div>
    <div class="studentContainer">
      <form class="contentBox">
        <InputText
          name="first_name"
          label="Imię"
          :placeholder="dataStudent.firstName"
          @inputValue="newData.name = $event"
        />
        <InputText
          name="last_name"
          label="Nazwisko"
          :placeholder="dataStudent.lastName"
          @inputValue="newData.lastName = $event"
        />
        <div class="dateContainer">
          <label>Data ur.</label>
          <DatePicker
            class="datepicker"
            :placeholder="new Date(dataStudent.birthDate).toLocaleDateString()"
            format="DD/MM/YYYY"
            valueType="timestamp"
            v-model="newData.birthDate"
            @change="handleNewBirthDate"
            :disabled-date="disabledRange"
          />
        </div>
        <InputNumeric
          name="practice_years"
          label="Lata praktyki"
          :placeholder="dataStudent.practiseInYears"
          :min="0"
          @inputValue="newData.practiseInYears = Number($event)"
        />
        <InputText
          name="picture_url"
          label="Zdjęcie"
          :placeholder="dataStudent.photo"
          @inputValue="newData.photo = $event"
          :typeInput="'text'"
          :labelName="'Zdjęcie'"
          :inputValue="dataStudent.photo"
          @updatedInput="newData.photo = $event"
        />
      </form>
      <div class="photoBox">
        <img :src="dataStudent.photo" />
      </div>
    </div>
    <div class="describeBox describeBox-wrap">
      <div class="describeBox__title">Umiejętności:</div>
      <div class="describeBox__unit">
        <li v-for="(skill, index) in localDataStudent.skills" :key="index">
          <span>{{ getDetailsFromStore("skills", skill).name }}</span>
          <span class="cancelBtn" @click="removeDetail(index, 'skills')"
            >+</span
          >
        </li>
      </div>
      <div class="describeBox__addition">
        <MultiselectOptions
          :options="rest.skills"
          placeholder="Szukaj i dodaj nową umiejętność"
          @selectedOptions="selectedSkills = $event"
        />
      </div>
    </div>
    <div class="describeBox describeBox-wrap">
      <div class="describeBox__title">Projekty:</div>
      <div class="describeBox__unit">
        <li v-for="(project, index) in localDataStudent.projects" :key="index">
          <span>{{ getDetailsFromStore("projects", project).name }}</span>
          <span class="cancelBtn" @click="removeDetail(index, 'projects')"
            >+</span
          >
        </li>
      </div>
      <div class="describeBox__addition">
        <MultiselectOptions
          :options="rest.projects"
          placeholder="Szukaj i dodaj nowy projekt"
          @selectedOptions="selectedProjects = $event"
        />
      </div>
    </div>
    <div class="describeBox">
      <div class="describeBox__title">
        Komentarze:
        <div v-if="visible.comments !== 'new'" class="buttonBox">
          <button @click="addNewComment">Dodaj nowy komentarz</button>
        </div>
        <div v-if="visible.comments === 'new'" class="buttonBox">
          <button @click="showHideFullComment(null)">
            Pokaż listę komentarzy
          </button>
        </div>
      </div>
      <div v-if="visible.comments === 'list'" class="describeBox__unit">
        <div
          class="singleComment"
          v-for="(comment, index) in dataStudent.comments"
          :key="index"
        >
          <div class="singleComment__text">
            {{
              getDetailsFromStore("comments", comment).text.slice(0, 100) +
              "..."
            }}
          </div>
          <p class="singleComment__author">
            Autor: {{ getDetailsFromStore("comments", comment).author }}
          </p>
          <p
            class="singleComment__button"
            @click="showHideFullComment(comment)"
          >
            Rozwiń
          </p>
        </div>
      </div>
      <div
        v-if="visible.comments === 'oneFull'"
        class="describeBox__unit textarea__box"
      >
        <div class="singleComment__text singleComment__text-overflow">
          {{ getDetailsFromStore("comments", fullCommentId).text }}
        </div>
        <p class="singleComment__author">
          Autor: {{ getDetailsFromStore("comments", fullCommentId).author }}
        </p>
        <p class="singleComment__button" @click="showHideFullComment(null)">
          Zwiń
        </p>
      </div>
      <div
        v-if="visible.comments === 'new'"
        class="describeBox__unit textarea__box"
      >
        <textarea
          class="singleComment__text"
          v-model="addComment.text"
        ></textarea>
        <p class="singleComment__author">
          Autor: <input type="text" v-model="addComment.author" />
        </p>
      </div>
    </div>
    <div class="buttonBox">
      <button @click="saveEditedData">Zapisz</button>
    </div>
  </div>
</template>

<script>
/* eslint-disable @typescript-eslint/explicit-module-boundary-types */
import { SAVE_NEW_STUDENT_DATA } from "@/store/consts";

import InputText from "../../components/common/InputText.vue";
import InputNumeric from "../../components/common/InputNumeric.vue";
import MultiselectOptions from "../../components/common/MultiselectOptions.vue";
import DatePicker from "vue2-datepicker";
export default {
  name: "ModalContentEditStudent",
  components: { InputText, InputNumeric, MultiselectOptions, DatePicker },
  props: {
    dataStudent: { type: Object, required: true },
    closeModal: Boolean,
  },
  data() {
    return {
      savedData: this.closeModal,
      localDataStudent: {
        skills: this.dataStudent.skills.map((el) => el),
        projects: this.dataStudent.projects.map((el) => el),
      },
      newData: {
        id: this.dataStudent.id,
        name: this.dataStudent.firstName,
        lastname: this.dataStudent.lastName,
        birthDate: this.dataStudent.birthDate,
        practiseInYears: this.dataStudent.practiseInYears,
        photo: this.dataStudent.photo,
        skills: [],
        projects: [],
        comments: this.dataStudent.comments,
      },
      visible: {
        comments: "list",
      },
      selectedSkills: [],
      rest: {
        skills: this.getNextAttribute("skills"),
        projects: this.getNextAttribute("projects"),
      },
      selectedProjects: [],
      fullCommentId: null,
      addComment: {
        id: null,
        text: "",
        author: "",
      },
    };
  },
  watch: {
    savedData() {
      this.$emit("isSaved", this.savedData);
    },
  },
  methods: {
    handleNewBirthDate(date) {
      this.newData.birthDate = date;
    },
    disabledRange(date) {
      return date > new Date(Date.now());
    },
    getDetailsFromStore(partOfStore, index) {
      if (this.$store.state[partOfStore].allIds.includes(index)) {
        return this.$store.state[partOfStore].byId[index];
      }
    },
    removeDetail(index, whereInString) {
      this.localDataStudent[whereInString].splice(index, 1);
      this.rest[whereInString] = this.getNextAttribute(whereInString);
    },
    getNextAttribute(partOfStore) {
      let restOfAttributesIds;
      if (typeof this.localDataStudent !== "undefined") {
        restOfAttributesIds = this.$store.state[partOfStore].allIds.filter(
          (el) => !this.localDataStudent[partOfStore].includes(el)
        );
      } else {
        restOfAttributesIds = this.$store.state[partOfStore].allIds.filter(
          (el) => !this.dataStudent[partOfStore].includes(el)
        );
      }
      const restOfAttributesFullInfo = [];
      if (restOfAttributesIds.length === 0) {
        return restOfAttributesFullInfo;
      } else {
        restOfAttributesIds.forEach((el) =>
          restOfAttributesFullInfo.push(this.$store.state[partOfStore].byId[el])
        );
        return restOfAttributesFullInfo;
      }
    },
    showHideFullComment(comment) {
      if (this.visible.comments === "list") {
        this.visible.comments = "oneFull";
      } else if (this.visible.comments === "oneFull") {
        this.visible.comments = "list";
      } else if (this.visible.comments === "new") {
        this.visible.comments = "list";
      }
      this.fullCommentId = comment;
    },
    addNewComment() {
      this.visible.comments = "new";
      // this.addComment.id = this.$store.state.comments.allIds.slice(-1)[0] + 1;
      this.addComment.id = this.$store.state.comments.allIds.length + 1;
    },
    makeArrayWithAttributes(selectedAttributes, attributes) {
      const arrayWithAttributes = [];
      this[selectedAttributes].forEach((el) => arrayWithAttributes.push(el.id));
      this.newData[attributes] = arrayWithAttributes.concat(
        this.localDataStudent[attributes]
      );
    },
    saveEditedData() {
      this.savedData = !this.savedData;
      this.makeArrayWithAttributes("selectedSkills", "skills");
      this.makeArrayWithAttributes("selectedProjects", "projects");
      if (this.addComment.text.length > 0) {
        this.newData.comments.push(this.addComment.id);
      }
      this.$store.dispatch(SAVE_NEW_STUDENT_DATA, {
        editedStudent: this.newData,
        newComment: this.addComment,
      });
    },
  },
};
</script>

<style lang="scss" scoped>
@import "../../styles/global.scss";
.titleContainer {
  text-align: center;
  margin: 1rem auto;
}

.studentContainer {
  display: flex;
  align-items: center;
  .photoBox {
    width: 100px;
    flex: 30%;
    text-align: left;
    img {
      max-width: 70%;
      max-height: 200px;
      min-height: 80px;
    }
  }

  .contentBox {
    flex: 70%;
    margin: 1rem;
    font-size: 1rem;
    min-width: 320px;
    .dateContainer {
      width: 85%;
      height: 2rem;
      display: flex;
      margin: 0.5rem auto;
      label {
        flex: 50%;
        margin: auto;
        padding: 0.2rem;
        padding-right: 1rem;
        text-align: right;
      }
      .datepicker {
        flex: 50%;
        margin: auto 0;
        input {
          height: 1.5rem;
        }
      }
    }
  }
}

.describeBox {
  margin: 0.3rem auto;
  width: 90%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border: 2px solid $border-color-light;
  border-radius: 5px;
  &__title {
    margin: auto 0.5rem;
  }
  &__unit {
    margin: 0 0.8rem;
    text-align: left;
    display: flex;
    flex-wrap: wrap;
    li {
      list-style: none;
      padding: 0.3rem;
      margin: 0.5rem;
      border: 1px solid;
      border-radius: 5px;
      text-align: center;
      font-size: 0.8rem;
      display: flex;
      justify-content: space-between;
      background-color: rgb(65 184 131);
      color: white;
      border: none;
      span {
        margin: auto 0.5rem;
      }
    }
    .cancelBtn {
      cursor: pointer;
      transform: rotate(45deg);
      font-size: 1rem;
      color: rgb(38 109 77);
      &:hover {
        font-weight: bold;
        color: white;
      }
    }
    .singleComment {
      margin: 0.5rem auto;
      display: flex;
      flex-wrap: wrap;
      flex: 100%;
      justify-content: space-between;
      font-size: 0.9rem;
      &__text {
        flex: 100%;
        padding: 0.3rem;
        border: 1px solid $border-color-light;
        border-radius: 5px;
      }
      &__text-overflow {
        max-height: 80px;
        overflow: overlay;
      }
      &__author {
        flex: 50%;
        text-align: left;
      }
      &__button {
        flex: 50%;
        text-align: right;
        text-decoration: underline;
        cursor: pointer;
        span {
          margin: auto 1.5rem;
        }
      }
      p {
        margin: 0.2rem auto;
      }
    }
  }
  &__addition {
    label {
      margin-right: 1rem;
    }
  }
  .textarea__box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-size: 0.9rem;
    flex: 90%;
    textarea {
      width: 98%;
      min-height: 4rem;
      margin: 0.3rem auto;
    }
  }
}

.describeBox-wrap {
  flex-wrap: wrap;
}

.buttonBox {
  margin: 1.5rem auto;
  text-align: center;
}
</style>
