<template>
  <div class="table">
    <h2 class="title">Projekty Stażysty</h2>
    <div class="filters">
      <input
        class="input"
        type="text"
        v-model="filters.company"
        placeholder="Nazwa firmy..."
      />
      <input
        class="input"
        type="text"
        v-model="filters.name"
        placeholder="Nazwa projektu..."
      />

      <date-picker
        v-model="filters.from"
        placeholder="Zakres od..."
        format="MM/YYYY"
        type="month"
        @change="handleDatePickerFrom"
        :disabled-date="disabledRange"
      ></date-picker>
      <date-picker
        v-model="filters.to"
        placeholder="Zakres do..."
        format="MM/YYYY"
        type="month"
        @change="handleDatePickerTo"
        :disabled-date="disabledRange"
      ></date-picker>
    </div>
    <StudentProjectsTable :filters="filters" :id="id" />
  </div>
</template>

<script>
import DatePicker from "vue2-datepicker";
import StudentProjectsTable from "./StudentProjectsTable.vue";
import "vue2-datepicker/index.css";
export default {
  props: {
    id: Number,
  },
  components: { DatePicker, StudentProjectsTable },
  data() {
    return {
      time: null,
      filters: {
        name: "",
        company: "",
        from: "",
        to: "",
      },
    };
  },
  methods: {
    disabledRange: function (date) {
      if (this.filters.to == null) {
        this.filters.to = "";
      }
      return (
        date > new Date(this.filters.to) ||
        date < new Date(this.filters.from) ||
        date > new Date(Date.now())
      );
    },
    handleDatePickerFrom: function (date) {
      this.filters.from = date;
    },
    handleDatePickerTo: function (date) {
      if (!date) {
        return;
      }
      date = new Date(date.getFullYear(), date.getMonth() + 1, 0);
      this.filters.to = date;
    },
  },
};
</script>

<style lang="scss" scoped>
.title {
  margin: 15px;
}
</style>
