<template>
  <div id="student-skills">
    <div class="error" v-if="validationErrors.skill">
      Nazwa umiejętności jest wymagana!
    </div>
    <div class="error" v-if="validationErrors.category">
      Kategoria umiejętności jest wymagana!
    </div>
    <div class="error" v-if="validationErrors.skillExist">
      Podana umiejętność już istnieje!
    </div>
    <div class="container-skills">
      <h2 class="title">
        <strong> Umiejętności stażysty </strong>
      </h2>
      <div class="grid-wrapper-skills">
        <div
          v-for="category in getSkillsCategories"
          v-bind:key="category.id"
          class="grid-column-skills full-width-row"
        >
          <strong>{{ category.name }}</strong>
          <div v-for="skill in getStudentSkillsFromState" v-bind:key="skill.id">
            <span class="gridItem" v-if="skill.category == category.id">
              {{ skill.name }}

              <div class="rate">
                <div v-if="skill.rate != ''">poziom znajomości: &nbsp;</div>
                {{ skill.rate }}
              </div>
            </span>
          </div>
        </div>
      </div>

      <div>
        <label for="">Wybierz kategorię: </label>
        <select class="categorySelect" name="" id="" v-model="selectedCategory">
          <option value="" disabled></option>
          <option
            v-for="category in getSkillsCategories"
            v-bind:key="category.id"
            :value="category.id"
          >
            {{ category.name }}
          </option>
        </select>
        <input type="text" name="" id="" value="" v-model="enteredValue" />
        <button @click="addNewSkill">Dodaj</button>
        <div class="toggleItem">
          <button @click="toggle = !toggle">Dodaj ocenę</button>
          <div class="toggleItem" v-show="toggle">
            <StudentInputRate
              class="toggleItem"
              :rate="rate"
              @changeRate="rate = $event"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import StudentInputRate from "./StudentInputRate.vue";
import {
  GET_SKILLS_BY_STUDENT_ID,
  GET_SKILLS_CATEGORY,
  SAVE_NEW_SKILL,
} from "@/store/consts";
export default {
  components: {
    StudentInputRate,
  },
  props: {
    id: Number,
  },
  data() {
    return {
      toggle: false,
      validationErrors: {
        skill: false,
        category: false,
        skillExist: false,
      },
      enteredValue: "",
      selectedCategory: "",
      rate: "",
    };
  },
  computed: {
    getStudentSkillsFromState() {
      return this.$store.getters[GET_SKILLS_BY_STUDENT_ID](this.$props.id);
    },
    getSkillsCategories() {
      return this.$store.getters[GET_SKILLS_CATEGORY]();
    },
  },
  methods: {
    addNewSkill() {
      this.toggle = false;
      this.validationErrors.skillExist = false;
      this.validationErrors.skill = !this.enteredValue;
      this.validationErrors.category = !this.selectedCategory;

      if (
        this.$store.getters[GET_SKILLS_BY_STUDENT_ID](this.$props.id).some(
          (el) =>
            el.name === this.enteredValue &&
            el.category === this.selectedCategory
        )
      ) {
        this.validationErrors.skillExist = true;
      }

      if (
        this.validationErrors.skill ||
        this.validationErrors.category ||
        this.validationErrors.skillExist
      ) {
        return;
      }

      this.$store.dispatch(SAVE_NEW_SKILL, {
        value: this.enteredValue,
        category: this.selectedCategory,
        studentId: this.$props.id,
        rate: this.rate,
      });
      this.enteredValue = "";
      this.selectedCategory = "";
      this.rate = "";
    },
  },
};
</script>

<style lang="scss" scoped>
.rate {
  display: flex;
}

.categorySelect {
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right: 5px;
}
.toggleItem {
  display: inline;
}
.container-skills {
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 5px;
  padding: 5px;
}
.grid-column-skills,
.grid-row-skills {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 20px;
}
.grid-wrapper-skills {
  margin: 5px;
  display: grid;
  grid-template-columns: 3fr;
  grid-auto-rows: minmax(30px, auto);
  gap: 2px;
}
.gridItem {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px 0;
  border-bottom: 1px dashed #ccc;
  margin: 10px;
}
</style>
