<template>
  <div class="user">
    <img :src="getTreineeFromState.photo" style="width: 20%" alt="" />
    <p>Imie: {{ getTreineeFromState.firstName }}</p>
    <p>Nazwisko: {{ getTreineeFromState.lastName }}</p>
    <p>
      Data urodzenia:
      {{ new Date(getTreineeFromState.birthDate).toLocaleDateString() }} r.
    </p>
    <p>Lata praktyki: {{ getTreineeFromState.practiseInYears }}</p>
  </div>
</template>

<script>
import { GET_STUDENT_BY_ID } from "@/store/consts";

export default {
  props: {
    id: Number,
  },
  computed: {
    getTreineeFromState() {
      return this.$store.getters[GET_STUDENT_BY_ID](this.$props.id);
    },
  },
};
</script>
