<template>
  <div class="select">
    <label class="labelRateSelect" for="">Dodaj ocenę: </label>
    <select class="rateSelect" name="" id="" :value="rate" @change="changeRate">
      <option value="" disabled></option>
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
    </select>
  </div>
</template>

<script>
export default {
  props: { rate: String },
  data() {
    return {
      showModal: false,
    };
  },
  methods: {
    changeRate(event) {
      this.$emit("changeRate", event.target.value);
    },
  },
};
</script>

<style lang="scss" scoped>
.labelRateSelect {
  margin-left: 10px;
}

.rateSelect {
  position: absolute;
  margin: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

@media (max-width: 760px) {
  .select {
    position: static;
    margin: 15px;
  }
}
</style>
