<template>
  <section>
    <div class="student" id="student">
      <StudentData :id="id" />
      <StudentSkills :id="id" />
      <StudentInputs :id="id" />
      <Comments :id="id" />
    </div>
    <div class="btnContainer">
      <p v-if="isReadyToCloseModal" class="confirmEdit">
        Właśnie zmieniłeś dane tego stażysty
      </p>
      <button class="editBtn" @click="$modal.show(nameModal)">
        Edytuj dane
      </button>
    </div>
    <!-- Modal by vue-js-modal -->
    <ModalWrapper
      :readyToClose="isReadyToCloseModal"
      :name="nameModal"
      :height="windowHeight * 0.95"
      :width="windowWidth * 0.95"
      title="Edytuj dane stażysty:"
    >
      <ModalContentEditStudent
        :dataStudent="getTreineeFromState"
        :closeModal="isReadyToCloseModal"
        @isSaved="isReadyToCloseModal = $event"
      />
    </ModalWrapper>
  </section>
</template>

<script>
import StudentData from "./StudentData.vue";
import StudentInputs from "./StudentInputs.vue";
import ModalWrapper from "../../components/common/ModalWrapper.vue";
import ModalContentEditStudent from "./ModalContentEditStudent.vue";
import Comments from "../../components/Comments.vue";
import StudentSkills from "./StudentSkills.vue";
import { GET_STUDENT_BY_ID } from "@/store/consts";

export default {
  components: {
    StudentData,
    StudentInputs,
    ModalWrapper,
    ModalContentEditStudent,
    Comments,
    StudentSkills,
  },
  data() {
    return {
      id: 1,
      nameModal: "modal-edit-student",
      isReadyToCloseModal: false,
      windowHeight: window.innerHeight,
      windowWidth: window.innerWidth,
    };
  },
  watch: {
    isReadyToCloseModal() {
      setTimeout(() => (this.isReadyToCloseModal = false), 3000);
    },
  },
  computed: {
    getTreineeFromState() {
      return this.$store.getters[GET_STUDENT_BY_ID](this.id);
    },
  },
};
</script>
<style lang="scss" scoped>
@import "../../styles/global.scss";
.filters {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5px;
  margin: 0 5px;
}
.mx-datepicker {
  width: 100%;
}
.mx-input {
  display: block;
}
.input {
  flex-direction: row;
  box-sizing: border-box;
  height: 34px;

  padding: 6px 30px;
  padding-left: 10px;
  font-size: 14px;
  line-height: 1.4;
  color: #555;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.user {
  flex-basis: 30%;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 5px;
  padding: 10px;
  font-size: 17px;
  color: #2c3e50;
  text-align: left;
  img {
    min-width: 150px;
    min-height: 150px;
  }
}
.student {
  margin: 0 auto;
  max-width: 1200px;
  justify-content: center;
  display: flex;
  flex-direction: column;
}
.btnContainer {
  .editBtn {
    margin: 1.5rem auto;
  }
  .confirmEdit {
    font-size: 1.2rem;
    font-weight: bold;
    color: $main-color-green;
  }
}
.btnContainer {
  .editBtn {
    margin: 1.5rem auto;
  }
  .confirmEdit {
    font-size: 1.2rem;
    font-weight: bold;
    color: $main-color-green;
  }
}

@media (max-width: 640px) {
  .student {
    flex-direction: column;
  }
  .filters {
    grid-template-columns: 1fr;
  }
}
</style>
