<template>
  <div class="container">
    <div class="grid-wrapper">
      <div
        class="grid-column"
        v-for="(title, index) in columnTitles"
        v-bind:key="index"
      >
        <strong>{{ title }}</strong>
      </div>
    </div>
    <div v-for="company in filteredPeople" v-bind:key="company.id">
      <div class="grid-wrapper">
        <div class="grid-row">{{ company.company }}</div>
        <div class="grid-row">{{ company.name }}</div>
        <div class="grid-row">
          {{
            !company.from
              ? "-"
              : new Date(company.from).getMonth() +
                1 +
                "/" +
                new Date(company.from).getFullYear()
          }}
        </div>
        <div class="grid-row">
          {{
            !company.to
              ? "-"
              : new Date(company.to).getMonth() +
                1 +
                "/" +
                new Date(company.to).getFullYear()
          }}
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { GET_PROJECTS_BY_STUDENT_ID } from "@/store/consts";

export default {
  props: { filters: Object, id: Number },
  data() {
    return {
      columnTitles: ["Nazwa firmy", "Projekt", "Od", "Do"],
    };
  },

  computed: {
    filteredPeople() {
      return this.$store.getters[GET_PROJECTS_BY_STUDENT_ID](
        this.$props.id
      ).filter((person) => {
        const from = person.from;
        const to = person.to;

        if (
          (this.$props.filters.from && this.$props.filters.from >= from) ||
          (this.$props.filters.to && this.$props.filters.to < to) ||
          (this.$props.filters.to && this.$props.filters.to < from)
        ) {
          return false;
        }

        return ["name", "company"].every((key) => {
          return person[key]
            .toLowerCase()
            .includes(this.$props.filters[key].toLowerCase());
        });
      });
    },
  },
};
</script>

<style lang="scss" scoped>
.container {
  border-radius: 5px;
  margin: 5px;
  border: 1px solid #ccc;
}
.grid-column,
.grid-row {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.grid-wrapper {
  margin: 5px;
  display: grid;
  grid-template-columns: 3fr 5fr 2fr 2fr;
  grid-auto-rows: minmax(30px, auto);
  gap: 2px;
}
</style>
