<template>
  <div class="formContainer">
    <NewStudentForm
      ref="traineeForm"
      @formOutput="(payload) => (formOutput = payload)"
    />
    <div>
      <button class="sendingButton" @click="sendNewTraineeToStore">
        Dodaj stażyste
      </button>
      <button class="sendingButton clearButton" @click="clear">
        Wyczyść wszytsko
      </button>
    </div>
  </div>
</template>

<script>
import Vue from "vue";
import { SAVE_NEW_STUDENT_PROJECT, SAVE_NEW_STUDENT } from "@/store/consts";
import NewStudentForm from "./NewStudentForm.vue";

export default Vue.extend({
  name: "NewStudent",
  components: { NewStudentForm },
  data() {
    return {
      formOutput: null,
      defaultValues: {
        name: "",
        lastName: "",
        photo: null,
        checkedTechnologies: [],
        dateOfBirth: "",
        practiseInYears: 0,
        projects: [],
        comment: "",
      },
    };
  },
  methods: {
    clear() {
      this.$refs.traineeForm.clear("clearAll");
    },
    sendNewTraineeToStore() {
      const newComment = {
        id:
          this.$store.state.comments.allIds[
            this.$store.state.comments.allIds.length - 1
          ] + 1,
        author: this.formOutput.commentAuthor,
        text: this.formOutput.comment,
      };
      const skills = [];
      const projects = [];

      for (let value in this.$store.state.skills.byId) {
        this.formOutput.checkedTechnologies.includes(
          this.$store.state.skills.byId[value].name
        )
          ? skills.push(this.$store.state.skills.byId[value].id)
          : null;
      }

      for (let value in this.$store.state.projects.byId) {
        this.formOutput.projects.some((project) =>
          project.id === this.$store.state.projects.byId[value].id
            ? projects.push(this.$store.state.projects.byId[value].id)
            : null
        );
      }

      const newTrainee = {
        id:
          this.$store.state.students.allIds[
            this.$store.state.students.allIds.length - 1
          ] + 1,
        firstName: this.formOutput.name,
        lastName: this.formOutput.lastName,
        photo: this.formOutput.photo,
        birthDate: Date.parse(this.formOutput.dateOfBirth),
        practiseInYears: this.formOutput.practiseInYears,
        skills: skills,
        projects: projects,
        comments: newComment.text.length !== 0 ? [newComment.id] : [],
      };

      if (
        document.querySelectorAll(".formulate-input-errors").length === 0 &&
        this.formOutput !== null &&
        this.formOutput.name !== "" &&
        this.formOutput.lastName !== "" &&
        this.formOutput.dateOfBirth !== "" &&
        Date.parse(this.formOutput.dateOfBirth) < Date.parse(new Date())
      ) {
        newComment.text.length !== 0
          ? this.$store.dispatch(SAVE_NEW_STUDENT_PROJECT, newComment)
          : null;
        this.$store.dispatch(SAVE_NEW_STUDENT, newTrainee);
        this.$refs.traineeForm.clear("clearAll");
        alert("Nowy stażysta został dodany");
      } else if (
        document.querySelectorAll(".formulate-input-errors").length !== 0
      ) {
        alert("Formularz musi zawierać wyłącznie łacińskie znaki");
      } else if (
        this.formOutput.name === "" ||
        this.formOutput.lastName === "" ||
        this.formOutput.dateOfBirth === ""
      ) {
        alert(
          "Wszystkie pola formularza dodawania nowego stażysty muszą być wypełnione"
        );
      } else if (
        Date.parse(this.formOutput.dateOfBirth) > Date.parse(new Date())
      ) {
        alert("Nieprawidłowa data urodzenia");
      }
    },
  },
});
</script>

<style lang="scss" scoped>
.formContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sendingButton {
  margin-bottom: 20px;
  width: 100px;
  height: 40px;
  border: none;
  border-radius: 5px;
  background-color: #def;
  cursor: pointer;
  &:hover {
    background: #fc0;
  }
}
.clearButton {
  width: 130px;
  margin-left: 20px;
}
</style>
