<template>
  <form
    class="traineeForm"
    ref="newTraineeForm"
    v-on:change="$emit('formOutput', formResults)"
  >
    <div class="form-labels">
      <label class="form-label">
        Imię:
        <div class="input-container">
          <input
            v-model="formResults.name"
            v-on:input="(e) => onInputChange(e, 'name')"
          />
          <div class="formulate-input-errors" v-if="validation.name">
            Input powinien zawierać tylko łacińskie znaki
          </div>
        </div>
      </label>
      <label class="form-label">
        Nazwisko:
        <div class="input-container">
          <input
            v-model="formResults.lastName"
            v-on:input="(e) => onInputChange(e, 'lastName')"
          />
          <div class="formulate-input-errors" v-if="validation.lastName">
            Input powinien zawierać tylko łacińskie znaki
          </div>
        </div>
      </label>
      <label class="form-label">
        Foto:
        <input
          type="file"
          accept="image/png, image/jpeg"
          v-on:change="onFileChange"
        />
      </label>
      Posiadane umiejętności:
      <div class="abilities">
        <label
          class="checkbox-label"
          v-for="element in getSkillsNames"
          :key="element.id"
        >
          {{ element.name }}
          <input
            type="checkbox"
            :value="element.name"
            v-model="formResults.checkedTechnologies"
          />
        </label>
      </div>
      <label class="form-label">
        Data urodzenia
        <input type="date" v-model="formResults.dateOfBirth" />
      </label>
    </div>
    <div class="form-labels">
      <label class="form-label"
        >Doświadczenie (lata)
        <select v-model="formResults.practiseInYears">
          <option
            v-for="year of [
              0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18,
              19, 20,
            ]"
            :key="year"
            :value="year"
          >
            {{ year }}
          </option>
        </select></label
      >
      <Projects-Form
        @newProject="(payload) => formResults.projects.push(payload)"
        @changeProjectFormSetter="(payload) => (projectFormSetter = payload)"
        v-if="projectFormSetter"
        ref="traineeForm"
      />
      <div class="projects-to-choose" v-if="!projectFormSetter">
        <label
          class="project-checkbox-label"
          v-for="savedProject in getProjects"
          :key="savedProject.id"
        >
          {{ savedProject.name }}
          <input
            type="checkbox"
            :value="savedProject"
            v-model="formResults.projects"
          />
        </label>
      </div>
      <div class="projects" v-if="!projectFormSetter">
        <button
          class="addProjectBtn"
          @click="projectFormSetter = !projectFormSetter"
        >
          Add new project
        </button>
      </div>
      <label class="form-label comment-label">
        Komentarz autora
        <div class="commentAuthor">
          Autor:
          <div class="input-container">
            <input
              class="commentAuthorInput"
              v-model="formResults.commentAuthor"
              v-on:input="(e) => onInputChange(e, 'commentAuthor')"
            />
            <div class="formulate-input-errors" v-if="validation.commentAuthor">
              Input powinien zawierać tylko łacińskie znaki
            </div>
          </div>
        </div>
        <textarea
          class="commentTextarea"
          v-model="formResults.comment"
          v-on:input="(e) => onInputChange(e, 'comment')"
        />
        <div class="formulate-input-errors" v-if="validation.comment">
          Textarea powinien zawierać tylko łacińskie znaki
        </div>
      </label>
    </div>
  </form>
</template>

<script>
import Vue from "vue";
import ProjectsForm from "./ProjectsForm.vue";

export default Vue.extend({
  name: "NewStudentForm",
  components: { ProjectsForm },
  data() {
    return {
      formResults: {
        name: "",
        lastName: "",
        photo: null,
        checkedTechnologies: [],
        dateOfBirth: "",
        practiseInYears: 0,
        projects: [],
        commentAuthor: "",
        comment: "",
      },
      validation: {
        name: false,
        lastName: false,
        commentAuthor: false,
        comment: false,
      },
      projectFormSetter: false,
    };
  },
  computed: {
    getProjects() {
      return this.$store.state.projects.byId;
    },
    getSkillsNames() {
      return this.$store.state.skills.byId;
    },
  },
  methods: {
    onInputChange(e, type) {
      let defaultValue = false;
      for (let letter of e.target.value) {
        if (letter.charCodeAt(0) > 383 || letter.charCodeAt(0) < 32) {
          if (e.target.value.includes(letter)) {
            defaultValue = true;
          }
        }
      }
      if (defaultValue) this.validation[type] = true;
      else this.validation[type] = false;
    },
    onFileChange(e) {
      var files = e.target.files || e.dataTransfer.files;
      this.formResults.photo = files[0];
    },
    clear: function (value) {
      if (value === "clearAll") {
        this.$refs.newTraineeForm.reset();
        Object.assign(this.$data, this.$options.data.call(this));
      }
    },
  },
});
</script>

<style lang="scss" scoped>
.traineeForm {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
  font-size: 20px;
  margin-top: 50px;
}
.form-labels {
  display: flex;
  flex-direction: column;
  width: 35%;
}
.input-container {
  display: flex;
  flex-direction: column;
}
.form-label {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding-bottom: 20px;
}
.abilities {
  display: grid;
  grid-template-columns: auto auto auto;
  height: 250px;
  justify-content: space-between;
  margin-top: 20px;
}
.checkbox-label {
  display: flex;
  flex-direction: row;
}
.projects-to-choose {
  max-height: 180px;
  overflow-y: auto;
}
.project-checkbox-label {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}
.comment-label {
  display: flex;
  flex-direction: column;
}
.formulate-input-errors {
  list-style-type: none;
  font-size: 11px;
  margin: 0;
  padding-left: 0;
  color: red;
}
.addProjectBtn {
  margin-top: 15px;
  margin-bottom: 10px;
  width: 60%;
  margin-left: 20%;
}
.projects {
  display: flex;
  flex-direction: column;
  max-height: 200px;
  overflow-y: auto;
}
.project-list {
  margin-bottom: 40px;
}
.project {
  width: 530px;
  display: flex;
  justify-content: space-around;
  height: 5px;
  font-size: 15px;
  margin-top: 7px;
}
.delateBtn {
  width: 30px;
  height: 25px;
  text-align: center;
  margin-top: 10px;
  font-weight: 900;
  background: red;
}
.commentAuthor {
  display: flex;
  flex-direction: row;
  margin-bottom: 5px;
  margin-left: 5px;
}
.commentAuthorInput {
  margin-left: 5px;
}
.commentTextarea {
  height: 140px;
}
@media (max-width: 1250px) {
  .projects-to-choose {
    font-size: 15px;
  }
}
</style>
