<template>
  <div class="project-form">
    <div class="inputs">
      <div class="part">
        <label class="part">
          Nazwa:
          <input
            v-model="newProject.name"
            v-on:input="(e) => onInputChange(e, 'name')"
          />
          <div class="formulate-input-errors" v-if="validation.name">
            Input powinien zawierać tylko łacińskie znaki
          </div>
        </label>
        <label class="part">
          Firma:
          <input
            v-model="newProject.company"
            v-on:input="(e) => onInputChange(e, 'company')"
          />
          <div class="formulate-input-errors" v-if="validation.company">
            Input powinien zawierać tylko łacińskie znaki
          </div>
        </label>
        <label class="part"
          >Status
          <select v-model="newProject.status">
            <option
              v-for="status of getStatusesNames"
              :key="status.id"
              :value="status.name"
            >
              {{ status.name }}
            </option>
          </select></label
        >
      </div>
      <div class="part">
        <label
          >Data rozpoczęcia <input type="date" v-model="newProject.from"
        /></label>
        <label>
          Data zakończenia
          <input type="date" v-model="newProject.to"
        /></label>
      </div>
    </div>
    <button class="addBtn" @click="addBtn">Add</button>
  </div>
</template>

<script>
import { SAVE_NEW_STUDENT_PROJECT } from "@/store/consts";

import Vue from "vue";

export default Vue.extend({
  name: "ProjectsForm",
  data() {
    return {
      newProject: {
        id:
          this.$store.state.projects.allIds[
            this.$store.state.projects.allIds.length - 1
          ] + 1,
        name: "",
        company: "",
        status: "",
        from: "",
        to: "",
      },
      validation: {
        name: false,
        company: false,
      },
    };
  },
  computed: {
    getStatusesNames() {
      return this.$store.state.projects.statuses;
    },
    endData() {
      return this.newProject.to;
    },
  },
  watch: {
    endData() {
      if (
        Date.parse(this.newProject.to) > Date.parse(new Date()) &&
        this.newProject.status === "Zamknięty"
      ) {
        alert(
          "Data zakończonego projektu musi być mniejsza niż dzisiejsza data"
        );
        this.newProject.to = "";
      }
      if (Date.parse(this.newProject.to) < Date.parse(this.newProject.from)) {
        this.newProject.from = "";
        this.newProject.to = "";
        alert("Data zakończenia nie może być mniejsza niż data rozpoczęcia");
      }
    },
  },
  methods: {
    onInputChange(e, type) {
      let defaultValue = false;
      for (let letter of e.target.value) {
        if (letter.charCodeAt(0) > 383 || letter.charCodeAt(0) < 32) {
          if (e.target.value.includes(letter)) {
            defaultValue = true;
          }
        }
      }
      if (defaultValue) this.validation[type] = true;
      else this.validation[type] = false;
    },
    errorAlert() {
      alert("Wypełnij wszytskie pola formularza dodawania nowego projektu!");
    },
    addBtn() {
      this.newProject.name !== "" &&
      this.newProject.company !== "" &&
      this.newProject.status !== "" &&
      this.newProject.from !== "" &&
      Date.parse(this.newProject.from) < Date.parse(new Date())
        ? (this.$emit("changeProjectFormSetter", false),
          this.$emit("newProject", this.newProject),
          this.$store.dispatch(SAVE_NEW_STUDENT_PROJECT, this.newProject))
        : this.errorAlert();
    },
  },
});
</script>

<style lang="scss" scoped>
.project-form {
  display: flex;
  flex-direction: column;
}
.inputs {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.part {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.addBtn {
  margin-top: 15px;
  margin-bottom: 10px;
  width: 50px;
  margin-left: 45%;
}
</style>
