<template>
  <div id="error404">
    <h1>Błąd 404</h1>
    <h3>Sprawdź, czy adres jest poprawny</h3>
  </div>
</template>

<script lang="ts">
import Vue from "vue";

export default Vue.extend({
  name: "Error404",
});
</script>

<style lang="scss" scoped>
@import "../styles/global.scss";
#error404 h1 {
  color: $main-color-green;
}
</style>
