<template>
  <div class="home">
    <img alt="Vue logo" src="../assets/logo.png" />
    <HomeView :text="welcome" />
    <router-link
      :to="{
        name: 'ProjectCard',
        params: { name: project.name, id: project.id },
      }"
    >
      <Button type="accept" title="Przejdź do karty projektu" />
    </router-link>
    <Trainee />

    <router-link :to="{ name: 'ReusableComponents' }" class="link">
      <Button type="accept" title="Komponenty reużywalne" :primary="true" />
    </router-link>
  </div>
</template>

<script lang="ts">
import Vue from "vue";
import HomeView from "@/components/layout/HomeView.vue";
import Trainee from "./Trainee.vue";
import Button from "@/components/common/Button.vue";
export default Vue.extend({
  name: "Home",
  components: {
    HomeView,
    Trainee,
    Button,
  },
  data(): { welcome: string } {
    return {
      welcome: "Welcome to our page...",
    };
  },
  computed: {
    project() {
      return this.$store.state.projects.byId[2];
    },
  },
});
</script>

<style lang="scss" scoped>
.btn {
  margin: 10px 0;
}

.docs {
  margin-bottom: 2rem;
}
</style>
