<template>
  <div>
    <h1>Projekty</h1>
    <router-link
      :to="{
        name: 'ProjectCard',
        params: { name: project.name, id: project.id },
      }"
      style="border: 1px solid black"
      >Przejdź do karty projektu</router-link
    >
    <project-list></project-list>
  </div>
</template>

<script lang="ts">
import Vue from "vue";
import ProjectList from "./ProjectList/ProjectList.vue";

export default Vue.extend({
  name: "Projects",
  computed: {
    project() {
      return this.$store.state.projects.byId[2];
    },
  },
  components: {
    ProjectList,
  },
});
</script>
