<template>
  <div class="all-docs">
    <div class="container">
      <div class="buttons-docs docs">
        <h2 class="docs--h2">Buttons</h2>

        <div class="docs__legend">
          <ul>
            <li><b>title</b> - Odpowiada za napis w buttonie.</li>
            <li>
              <b>type</b> - Odpowiada za kolory buttona, dostępne wariacje:
              [accept/continue/cancel/default].
            </li>
            <li>
              <b>:primary</b> - Odpowiada za wypełnienie buttona, dostępne
              wariacje: [true/false].
            </li>
            <li>
              <b>:callback</b> - Odpowiada za przesłanie do buttona jakiejs
              akcji.
            </li>
            <li><b>:width</b> - Odpowiada za min-width. (Przyjmuje number)</li>
          </ul>
        </div>

        <h3 class="docs--h3">Przykładowe użycie:</h3>

        <Button type="accept" title="accept callback" :callback="clg" />
        <Button type="continue" title="continue" />
        <Button type="cancel" title="cancel" />

        <Button type="accept" :primary="true" title="accept primary" />
        <Button type="continue" :primary="true" title="continue primary" />
        <Button type="cancel" :primary="true" title="cancel primary" />

        <Button title="default" />
      </div>

      <div class="inputs-docs docs">
        <h2 class="docs--h2">Inputs, textarea, select</h2>

        <div class="docs__legend">
          <ul>
            <li>
              <b>name</b> - Odpowiada za przypanie labela do inputa dodaje name
              oraz id o podanej nazwie.
            </li>
            <li><b>label</b> - Odpowiada za napis labela.</li>
            <li><b>placeholder</b> - Odpowiada za dodanie placeholderu.</li>
            <li><b>value</b> - Odpowiada za przypisanie wartosci do inputa.</li>
            <li><b>@inputValue</b> - Odbiera wartość inputa.</li>
            <li><b>@textareaValue</b> - Odbiera wartość textarea.</li>
            <li><b>@selectValue</b> - Odbiera wartość selecta.</li>
            <li>
              <b>:hasError</b> - Odpowiada za to czy jest error w inpucie i
              wyświetlenie odpowiedniej klasy.
            </li>
            <li>
              <b>:errorMessages</b> - Odpowiada za wiadomosci errora,
              przekazywane w tablicy stringów.
            </li>
            <li></li>
            <li>
              <b>:min</b> - Odpowiada za min wartość. (Wystepuje tylko w inpucie
              numerycznym)
            </li>
            <li>
              <b>:max</b> - Odpowiada za max wartość. (Wystepuje tylko w inpucie
              numerycznym)
            </li>
            <li>
              <b>:minLength</b> - Odpowiada za minimalna wartość znaków w
              textarea. (Wystepuje tylko w textarea)
            </li>
            <li>
              <b>:maxLength</b> - Odpowiada za maxymalna wartość znaków w
              textarea. (Wystepuje tylko w textarea)
            </li>
            <li><b>:width</b> - Odpowiada za width. (Przyjmuje number)</li>
            <li>
              <b>:height</b> - Odpowiada za height. (Przyjmuje number)
              (Występuje tylko w textarea)
            </li>
            <li>
              <b>:required</b> - true/false - Odpowiada za to czy w select musi
              byc wybrana jakas opcja (Występuje tylko w select i checkbox)
            </li>
            <li>
              <b>:options</b> - Odpowiada za opcje w select, przyjmuje tablice z
              obiektami. Obiekt musi miec wartości
              <code>{label: string, value: string/number}</code> (Występuje
              tylko w select)
            </li>
            <li>
              <b>:group</b> - Odpowiada za nazwę grupy w radio (Występuje tylko
              w radio)
            </li>
            <li>
              <b>:options</b> - Odpowiada za opcje w radio, przyjmuje tablice z
              obiektami. Obiekt musi miec wartości
              <code>{ name: string, label: string, value: string/number }</code>
              (Występuje tylko w radio)
            </li>
          </ul>
        </div>

        <h3 class="docs--h3">Przykładowe użycie:</h3>

        <h4 class="docs--h4">Inputy tekstowe:</h4>
        <InputText
          name="testlabel"
          label="Default input"
          placeholder="Z placeholderem"
          :value="textInputFirst"
          @inputValue="textInputFirst = $event"
        />

        <InputText
          name="testlabel2"
          label="Error input z hasError='true'"
          :value="textInputSecond"
          @inputValue="textInputSecond = $event"
          :hasError="true"
          :errorMessages="[
            'Minimalna wartość to 3znaki.',
            'Lorem ipsum dolor sit amet consectetur adipisicing.',
            'Lorem ipsum.',
          ]"
        />

        <InputText
          name="testlabel3"
          label="Error input z hasError='false'"
          :value="textInputThird"
          @inputValue="textInputThird = $event"
          :hasError="false"
        />

        <h4 class="docs--h4">Inputy numeryczne:</h4>
        <InputNumeric
          name="testlabel4"
          label="Default input"
          placeholder="5"
          :value="numberInputFirst"
          @inputValue="numberInputFirst = $event"
        />

        <InputNumeric
          name="testlabel5"
          label="Error input z hasError='true'"
          :value="numberInputSecond"
          :min="0"
          :max="40"
          @inputValue="numberInputSecond = $event"
          :hasError="true"
          :errorMessages="['Minimalna liczba to 0', 'Maxymalna liczba to 40']"
        />

        <InputNumeric
          name="testlabel6"
          label="Error input z hasError='false'"
          :value="numberInputThird"
          @inputValue="numberInputThird = $event"
          :min="5"
          :max="40"
          :hasError="false"
        />

        <h4 class="docs--h4">Textarea:</h4>

        <Textarea
          @textareaValue="textareaFirst = $event"
          name="testlabel7"
          label="text area"
          :minLength="10"
          :maxLength="1000"
          :value="textareaFirst"
        />

        <h4 class="docs--h4">Select:</h4>

        <Select
          name="testlabel8"
          @selectValue="selectFirst = $event"
          label="Select"
          :value="selectFirst"
          :options="optionsSelectFirst"
        />

        <Select
          name="testlabel9"
          @selectValue="selectSecond = $event"
          label="Select"
          placeholder="Placeholder, required"
          :required="true"
          :value="selectSecond"
          :options="optionsSelectSecond"
        />

        <h4 class="docs--h4">Checkbox:</h4>

        <Checkbox
          name="testlabel10"
          label="checkbox without value, return boolean"
          :required="true"
          @inputValue="checkboxFirst = $event"
        />

        <Checkbox
          name="testlabel11"
          label="checkbox with error"
          :hasError="true"
          :errorMessages="'Wymagane jest zaznaczenie opcji!'"
          @inputValue="checkboxSecond = $event"
        />

        <Checkbox
          name="testlabel12"
          value="Mike"
          label="checkbox with value, return value"
          @inputValue="checkboxThird = $event"
        />

        <h4 class="docs--h4">Radio:</h4>

        <Radio
          group="testRadios"
          :options="optionsRadioFirst"
          @inputValue="radioFirst = $event"
        />

        <Radio
          group="testRadios2"
          :hasError="true"
          :options="optionsRadioSecond"
          :required="true"
          @inputValue="radioSecond = $event"
        />

        <h5 class="docs--h5">Wartości inputów tekstowych:</h5>
        <p>1: {{ textInputFirst }}</p>
        <p>2: {{ textInputSecond }}</p>
        <p>3: {{ textInputThird }}</p>
        <h5 class="docs--h5">Wartości inputów numerycznych:</h5>
        <p>4: {{ numberInputFirst }}</p>
        <p>5: {{ numberInputSecond }}</p>
        <p>6: {{ numberInputThird }}</p>
        <h5 class="docs--h5">Wartości textarea:</h5>
        <p>7: {{ textareaFirst }}</p>
        <h5 class="docs--h5">Wartości select:</h5>
        <p>8: {{ selectFirst }}</p>
        <p>9: {{ selectSecond }}</p>
        <h5 class="docs--h5">Wartości checkbox:</h5>
        <p>10: {{ checkboxFirst }}</p>
        <p>11: {{ checkboxSecond }}</p>
        <p>12: {{ checkboxThird }}</p>
        <h5 class="docs--h5">Wartości radio:</h5>
        <p>13: {{ radioFirst }}</p>
        <p>14: {{ radioSecond }}</p>

        <Button
          type="cancel"
          :primary="true"
          title="Wyczyść inputy"
          :callback="clearInputs"
        />
      </div>

      <div class="pagination-docs docs">
        <h2 class="docs--h2">Pagination</h2>

        <div class="docs__legend">
          <ul>
            <li>
              <b>:dataLength</b> - Odpowiada za przekazanie ilości wszystkich
              elementów aby przygotowac paginacje.
            </li>
            <li>
              <b>@paginatedData</b> - Odbiera od paginacji aktywną stronę i
              ilość itemów na strone.
            </li>
            <li>
              <b>:activeCard</b> - przekazuje aktywną stronę, najczęsciej
              uzywane do filtrowania zeby przy filtrowaniu lub innej zmianie
              tablicy zmieniło strone na pierwszą.
            </li>
            <li style="margin-top: 20px">
              ** Aby użyc paginacji na tabeli trzeba przekazać do tabeli
              <b>:pagination="this.paginationNumbers"</b> i na danych tabeli
              wykonać:
              <code>
                computed: { paginationSlice() { const firstPag =
                this.pagination[0]; const secondPag = this.pagination[1]; const
                value = firstPag * secondPag; return [...this.data].slice(
                value, value + secondPag ) }, }
              </code>
              i paginationSlice przekazać do v-for.
            </li>
          </ul>
        </div>

        <h3 class="docs--h3">Przykładowe użycie:</h3>

        <AppPagination
          :dataLength="40"
          @paginatedData="paginateData"
          :activeCard="activeCard"
        />
      </div>

      <div class="pagination-docs docs">
        <h2 class="docs--h2">Loader</h2>

        <div class="docs__legend">
          <ul>
            <li>
              Aby <b>włączyć</b> loader trzeba ustawić loading na true:
              <code>this.$store.commit(SET_LOADING, true);</code>
            </li>
            <li>
              Aby <b>wyłączyć</b> loader trzeba ustawić loading na false:
              <code>this.$store.commit(SET_LOADING, false);</code>
            </li>
          </ul>
        </div>

        <h3 class="docs--h3">Przykładowe użycie:</h3>

        <Button
          type="accept"
          :primary="true"
          title="Show loading"
          :callback="showLoader"
        />
      </div>

      <div class="modal-docs docs">
        <h2 class="docs--h2">Modal</h2>

        <div class="docs__legend">
          <ul>
            <li>
              <b>name</b> - Odpowiada za nazwanie modala. (Obowiazkowy parametr)
            </li>
            <li>
              <b>readyToClose</b> - Odpowiada za sprawdzenie czy modal może
              zostać zamknięty.
            </li>
            <li><b>title</b> - Odpowiada za tytuł wyświetlany w headerze.</li>
            <li><b>height</b> - Odpowiada za wysokość modala (default: 400)</li>
            <li><b>width</b> - Odpowiada za szerokość modala (default: 600)</li>
            <li>
              Wstawianie body do modala -
              <b>
                &lt;ModalWrapper&gt; Tutaj wstawiamy body modala
                &lt;/ModalWrapper&gt;
              </b>
            </li>
          </ul>
        </div>

        <h3 class="docs--h3">Przykładowe użycie:</h3>

        <ModalWrapper
          name="reusableComponentsModal"
          readyToClose
          :height="700"
          :width="500"
          title="Testowy modal"
        >
          Tutaj wstawiamy body modala
        </ModalWrapper>

        <Button
          type="accept"
          :primary="true"
          title="Show modal"
          :callback="showModal"
        />
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import Vue from "vue";
import Button from "@/components/common/Button.vue";
import InputText from "@/components/common/InputText.vue";
import InputNumeric from "@/components/common/InputNumeric.vue";
import AppPagination from "@/components/common/AppPagination.vue";
import ModalWrapper from "@/components/common/ModalWrapper.vue";
import Textarea from "@/components/common/Textarea.vue";
import Select from "@/components/common/Select.vue";
import Checkbox from "@/components/common/Checkbox.vue";
import Radio from "@/components/common/Radio.vue";
import { SET_LOADING } from "@/store/consts";
export default Vue.extend({
  name: "Home",
  components: {
    Button,
    InputText,
    InputNumeric,
    AppPagination,
    Textarea,
    ModalWrapper,
    Select,
    Checkbox,
    Radio,
  },
  data(): {
    [key: string]: unknown;
  } {
    return {
      welcome: "Welcome to our page...",
      textInputFirst: "",
      textInputSecond: "",
      textInputThird: "",
      numberInputFirst: null,
      numberInputSecond: null,
      numberInputThird: null,
      textareaFirst: "",
      selectFirst: "",
      selectSecond: "",
      optionsSelectFirst: [
        { value: 1, label: "1" },
        { value: "druga wartosc", label: "2" },
        { value: 3, label: "3" },
      ],
      optionsSelectSecond: [
        { value: "asda", label: "asda" },
        { value: 2, label: "asasasd2" },
        { value: "asdasfasfasdasd", label: "asdasfasfasdasd" },
      ],
      checkboxFirst: null,
      checkboxSecond: null,
      checkboxThird: null,
      radioFirst: null,
      radioSecond: null,
      optionsRadioFirst: [
        { name: "firstRadio", label: "option one in radio", value: "value1" },
        { name: "secondRadio", label: "option two in radio", value: "value2" },
        { name: "thirdRadio", label: "option three in radio", value: "value3" },
        { name: "fourthRadio", label: "option four in radio", value: "value4" },
      ],
      optionsRadioSecond: [
        { name: "first2", label: "option one in radio2", value: "value12" },
        { name: "second2", label: "option two in radio2", value: "value22" },
        { name: "third2", label: "option three in radio2", value: "value32" },
        { name: "fourth2", label: "option four in radio2", value: "value42" },
      ],
      paginationNumbers: [0, 5],
      activeCard: 1,
    };
  },
  methods: {
    clearInputs() {
      this.textInputFirst = "";
      this.textInputSecond = "";
      this.textInputThird = "";
      this.numberInputFirst = "";
      this.numberInputSecond = "";
      this.numberInputThird = "";
      this.textareaFirst = "";
      this.selectFirst = "";
      this.selectSecond = "";
    },
    clg() {
      console.log("Button klikniety");
    },
    paginateData(pagination: number[]): void {
      this.activeCard = pagination[0] + 1;
      this.paginationNumbers = pagination;
    },
    showLoader() {
      this.$store.commit(SET_LOADING, true);
      const delay = Math.floor(Math.random() * (6000 - 2000 + 1)) + 2000;

      setTimeout(this.closeLoader, delay);
    },
    closeLoader() {
      this.$store.commit(SET_LOADING, false);
    },
    showModal() {
      this.$modal.show("reusableComponentsModal");
    },
  },
});
</script>

<style lang="scss" scoped>
@import "@/styles/global.scss";
.all-docs {
  text-align: left;
}
.container {
  border-radius: 0;
  border: none;
}

.docs {
  margin-bottom: 3rem;
  &--h2 {
    font-size: 2em;
    margin-bottom: 2rem;
    color: $main-color-green;
  }
  &--h3 {
    font-size: 1.6em;
    margin-bottom: 1.5rem;
  }
  &--h4 {
    font-size: 1.4em;
    margin-bottom: 1rem;
  }
  &--h5 {
    font-size: 1.1em;
  }
}

.btn {
  margin-right: 10px;
}

.inputs-docs {
  .input-group {
    margin: 1rem 0;
  }
  .btn {
    margin-top: 1rem;
  }
}

.pagination-docs {
  .pagination {
    justify-content: left;
  }
}
</style>
