<template>
  <div id="trainee">
    <div class="user" v-for="user in users" v-bind:key="user.id">
      <img :src="user.image" style="width: 20%" alt="" />
      <p>Imie: {{ user.first_name }}</p>
      <p>Nazwisko: {{ user.last_name }}</p>
      <p>Data urodzenia: {{ user.date_of_birth }} r.</p>
      <p>Lata praktyki: {{ user.years_of_practice }}</p>
    </div>
  </div>
</template>

<script>
export default {
  name: "trainee",
  data() {
    return {
      users: [
        {
          image:
            "https://cdn.pixabay.com/photo/2019/06/10/20/49/cat-4265305_960_720.jpg",

          id: 1,
          first_name: "Noam",
          last_name: "Aylett",
          date_of_birth: "13/6/1900",
          years_of_practice: "2",
        },
      ],
    };
  },
};
</script>
<style lang="scss" scoped>
.user {
  border: 1px solid gray;
  margin: 8px;
  padding: 10px;
  font-size: 20px;
  color: #2c3e50;
  text-align: left;
}
</style>
