<template>
  <section class="newProject">
    <div class="newProject__formContainer">
      <div class="boxContent">
        <InputText
          id="inputWithName"
          name="project_name"
          label="Nazwa projektu"
          @inputValue="newProject.name = $event"
          :hasError="errorValidation.name"
          :errorMessages="[nonValidationMsg.name]"
        />
        <InputText
          id="inputWithCompany"
          name="employer_name"
          label="Firma - zleceniodawca"
          @inputValue="newProject.company = $event"
          :hasError="errorValidation.company"
          :errorMessages="[nonValidationMsg.company]"
        />
        <div class="dateContainer">
          <label>Start projektu</label>
          <DatePicker
            class="datepicker"
            format="DD.MM.YYYY"
            valueType="timestamp"
            v-model="newProject.from"
            @change="handleStartProjectDate"
            :disabled-date="disabledRange"
          />
        </div>
        <button @click="isVisible('description')" class="secondaryBtn">
          {{ show.description ? "Ukryj opis" : "Dodaj opis projektu" }}
        </button>
        <div v-if="show.description" class="textareaContainer">
          <div class="textareaBox">
            <textarea
              placeholder="Dodaj opis projektu..."
              name="projectDescription"
              id="projectDescription"
              v-model.trim="newProject.description"
            ></textarea>
          </div>
          <div v-if="errorValidation.description" class="warning">
            {{ nonValidationMsg.text }}
          </div>
        </div>
      </div>
      <div class="boxContent">
        <label v-if="showParticipants">Członkowie projektu</label>
        <StudentBox :selectedStudents="selectedStudents" />
        <div>
          <MultiselectOptions
            id="selectWithStudents"
            :options="students"
            placeholder="Szukaj i dodaj stażystę do projektu"
            label="lastName"
            trackBy="lastName"
            @selectedOptions="selectedStudents = $event"
            :clearMultiselect="clearMultiselect"
          />
        </div>
        <button @click="isVisible('comment')" class="secondaryBtn">
          {{ show.comment ? "Ukryj komentarz" : "Dodaj komentarz" }}
        </button>
        <div v-if="show.comment" class="textareaContainer">
          <div class="textareaBox">
            <textarea
              placeholder="Dodaj komentarz do projektu..."
              name="comment"
              id="comment"
              v-model.trim="comment.text"
            ></textarea>
          </div>
          <div v-if="errorValidation.comment" class="warning">
            {{ nonValidationMsg.text }}
          </div>
          <p class="commentsAuthor">
            Autor: <input type="text" v-model.trim="comment.author" />
          </p>
          <div v-if="errorValidation.author" class="warning">
            {{ nonValidationMsg.author }}
          </div>
          <div v-if="errorValidation.fullComment" class="warning">
            {{ nonValidationMsg.fullComment }}
          </div>
        </div>
      </div>
      <div class="boxButton">
        <button @click="sendNewProjectData">Dodaj nowy projekt</button>
        <button @click="clearForm" class="secondaryBtn">
          Wyczyść formularz
        </button>
      </div>
    </div>
  </section>
</template>

<script>
import InputText from "../../components/common/InputText.vue";
import DatePicker from "vue2-datepicker";
import "vue2-datepicker/index.css";
import MultiselectOptions from "../../components/common/MultiselectOptions.vue";
import StudentBox from "./StudentBox.vue";
import { SAVE_NEW_PROJECT } from "@/store/consts";

export default {
  name: "NewProject",
  components: {
    InputText,
    DatePicker,
    MultiselectOptions,
    StudentBox,
  },
  props: {
    closeModal: Boolean,
  },
  data() {
    return {
      savedData: this.closeModal,
      newProject: {
        name: "",
        description: "",
        company: "",
        from: "",
        status: 0, //dla nowego projektu defaultowo status 0 oznacza "zaplanowany"; definicja w $store.state.projects.statuses
        comments: [],
        participants: [],
      },
      show: {
        description: false,
        comment: false,
      },
      students: this.getAllStudents(),
      selectedStudents: [],
      comment: {
        text: "",
        author: "",
      },
      clearMultiselect: false, //props przekazywany do multiselekta; true = wyczyść wybrane opcje
      errorValidation: {
        name: false,
        company: false,
        description: false,
        comment: false,
        author: false,
        fullComment: false,
      },
      nonValidationMsg: {
        name: "Pole obowiązkowe. Tylko znaki łacińskie, max 30 znaków",
        company: "Pole obowiązkowe. Tylko znaki łacińskie, max 20 znaków",
        text: "Tylko znaki łacińskie, max 150 znaków",
        author: "Tylko znaki łacińskie, max 15 znaków",
        fullComment:
          "Jeśli chcesz dodać komentarz, musisz wypełnić treść i autora",
      },
    };
  },
  computed: {
    showParticipants() {
      if (this.selectedStudents.length > 0) {
        return true;
      } else {
        return false;
      }
    },
  },
  methods: {
    handleStartProjectDate(date) {
      this.newProject.from = date;
    },
    disabledRange(date) {
      return date < new Date(Date.now());
    },
    isVisible(element) {
      this.show[element] = !this.show[element];
    },
    getAllStudents() {
      return Object.values(this.$store.state.students.byId);
    },
    getIdSelectedStudents() {
      let arrayWithId = [];
      this.selectedStudents.forEach((el) => arrayWithId.push(el.id));
      return arrayWithId;
    },
    createId(where) {
      const newId = this.$store.state[where].allIds.slice(-1)[0] + 1;
      return newId;
    },
    validateDate() {
      const collectionToValidate = [
        [
          this.newProject.name,
          { obligatory: true, errorValidationName: "name", maxLength: 30 },
        ],
        [
          this.newProject.company,
          { obligatory: true, errorValidationName: "company", maxLength: 20 },
        ],
        [
          this.newProject.description,
          {
            obligatory: false,
            errorValidationName: "description",
            maxLength: 150,
          },
        ],
        [
          this.comment.text,
          { obligatory: false, errorValidationName: "comment", maxLength: 150 },
        ],
        [
          this.comment.author,
          { obligatory: false, errorValidationName: "author", maxLength: 15 },
        ],
      ];
      collectionToValidate.forEach((el) => this.checkInputs(el[0], el[1]));
    },
    //walidacja formularza; argument1 - treść poddana walidacji;
    //argument2 - warunki walidacji jako obiekt {obligatory = czy pole obowiązkowe czy nie,
    //errorValidationName = klucz odpowiedniej właściwości w this.errorValidation,
    //maxLength = max liczba znaków }
    checkInputs(content, conditions) {
      const conditionForValidationText = /^[\s\p{N}\p{L}]+$/u; //tylko znaki łacińskie i liczby
      if (conditions.obligatory && content.length === 0) {
        this.errorValidation[conditions.errorValidationName] = true;
        return;
      } else if (!conditions.obligatory && content.length === 0) {
        this.errorValidation[conditions.errorValidationName] = false;
        return;
      } else if (content.length > conditions.maxLength) {
        this.errorValidation[conditions.errorValidationName] = true;
        return;
      } else if (!conditionForValidationText.test(content)) {
        this.errorValidation[conditions.errorValidationName] = true;
        return;
      } else {
        this.errorValidation[conditions.errorValidationName] = false;
        return;
      }
    },
    checkFullComment() {
      if (this.comment.text.length > 0 && this.comment.author.length === 0) {
        this.errorValidation.fullComment = true;
      } else if (
        this.comment.text.length === 0 &&
        this.comment.author.length > 0
      ) {
        this.errorValidation.fullComment = true;
      } else {
        this.errorValidation.fullComment = false;
      }
    },
    sendNewProjectData() {
      this.validateDate();
      this.checkFullComment();
      if (
        !this.errorValidation.name &&
        !this.errorValidation.company &&
        !this.errorValidation.description &&
        !this.errorValidation.comment &&
        !this.errorValidation.author &&
        !this.errorValidation.fullComment
      ) {
        this.newProject.id = Number(this.createId("projects"));
        this.newProject.participants = this.getIdSelectedStudents();
        if (this.comment.text.length > 0 && this.comment.author.length > 0) {
          this.comment.id = Number(this.createId("comments"));
          this.newProject.comments.push(this.comment.id);
        }
        this.$store.dispatch(SAVE_NEW_PROJECT, {
          newProject: this.newProject,
          newComment: this.comment,
        });
        this.$emit("isSaved", (this.savedData = !this.savedData));
        this.clearForm();
      }
    },
    clearForm() {
      this.newProject = {
        name: "",
        company: "",
        description: "",
        from: "",
        comments: [],
        participants: [],
      };
      document.querySelector("#inputWithName input").value = "";
      document.querySelector("#inputWithCompany input").value = "";
      this.comment = {
        id: "",
        text: "",
        author: "",
      };
      this.selectedStudents = [];
      this.clearMultiselect = !this.clearMultiselect;
      this.errorValidation = {
        name: false,
        company: false,
        description: false,
        comment: false,
        author: false,
        fullComment: false,
      };
    },
  },
};
</script>

<style lang="scss" scoped>
@import "../../styles/global.scss";
.newProject {
  max-width: 1600px;
  margin: auto;
  &__title {
    margin: auto 2rem;
  }
  &__formContainer {
    display: flex;
    flex-wrap: wrap;
    margin: 3rem 1.4rem;
    min-width: 300px;
    .boxContent {
      flex: 50%;
      label {
        font-size: 0.8rem;
      }
      .dateContainer {
        width: 85%;
        height: 2rem;
        display: flex;
        margin: 0.5rem auto;
        label {
          flex: 50%;
          margin: auto;
          padding: 0.2rem;
          padding-right: 1rem;
          text-align: right;
          font-size: 0.8rem;
        }
        .datepicker {
          flex: 50%;
          margin: auto 0;
          input {
            height: 1.5rem;
          }
        }
      }
    }
    .textareaContainer {
      flex-direction: column;
      margin: 0.5rem auto;
      display: flex;
      width: 85%;
      height: 180px;
      .textareaBox {
        height: 100%;
        textarea {
          padding: 0.2rem;
          background-color: $input-background-light;
          border-width: 0px;
          width: 100%;
          height: 100%;
          resize: none;
        }
      }
      .commentsAuthor {
        font-size: 0.8rem;
        margin: 0.5rem;
      }
    }
    .warning {
      margin: 0.8rem auto;
      color: $main-color-warning;
      font-size: 0.8rem;
    }
    .boxButton {
      flex: 100%;
      button {
        margin: 1.5rem;
        cursor: pointer;
      }
    }
    .secondaryBtn {
      margin: 1rem auto;
      border-color: $input-focus-visible;
      cursor: pointer;
      background-color: white;
      color: $input-focus-visible;
      &:hover {
        color: $main-color-dark;
      }
    }
  }
}

@media (max-width: 900px) {
  .newProject {
    &__formContainer {
      .boxContent {
        flex: 100%;
        max-width: 85%;
        margin: 0 auto;
      }
    }
  }
}
</style>
