<template>
  <div>
    <h1>Projekty</h1>
    <div>
      <button class="addButton" @click="$modal.show(nameModal)">
        Dodaj projekt
      </button>
      <p v-if="isReadyToCloseModal" class="confirmation">
        Dodałeś nowy projekt
      </p>
      <!-- Modal by vue-js-modal -->
      <ModalWrapper
        :readyToClose="isReadyToCloseModal"
        :name="nameModal"
        :height="windowHeight * 0.9"
        :width="windowWidth * 0.8"
        title="Formularz dodawania nowego projektu"
      >
        <NewProject
          :readyToClose="isReadyToCloseModal"
          @isSaved="isReadyToCloseModal = $event"
        />
      </ModalWrapper>
    </div>
    <project-list></project-list>
  </div>
</template>

<script lang="ts">
import Vue from "vue";
import ModalWrapper from "../../components/common/ModalWrapper.vue";
import NewProject from "./NewProject.vue";
import ProjectList from "../ProjectList/ProjectList.vue";
export default Vue.extend({
  name: "Projects",
  components: { ModalWrapper, NewProject, ProjectList },
  data() {
    return {
      nameModal: "addProject",
      isReadyToCloseModal: false,
      windowHeight: window.innerHeight,
      windowWidth: window.innerWidth,
    };
  },
  watch: {
    isReadyToCloseModal() {
      setTimeout(() => (this.isReadyToCloseModal = false), 3000);
    },
  },
});
</script>

<style lang="scss" scoped>
@import "../../styles/global.scss";
.addButton {
  margin: 1.5rem auto;
}
.confirmation {
  font-size: 1.2rem;
  font-weight: bold;
  color: $main-color-green;
}
</style>
