<template>
  <div>
    <div
      v-for="student in selectedStudents"
      :key="student.id"
      class="participants"
    >
      <div class="participants__imgBox participians--div">
        <img :src="student.photo" class="student-img" />
      </div>
      <div class="participants__name participians--div">
        <!-- <p>{{ student.firstName }} {{ student.lastName }}</p> -->
        <p class="participants-p">
          <router-link
            :to="`/stazysci/` + student.id"
            target="_blank"
            class="linkStudent"
            >{{ student.firstName }} {{ student.lastName }}</router-link
          >
        </p>
        <p class="participants-p">
          Practice in years: {{ student.practiseInYears }}
        </p>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "StudentBox",
  props: {
    selectedStudents: Array,
  },
};
</script>

<style lang="scss" scoped>
@import "../../styles/global.scss";
.participants {
  display: flex;
  justify-content: center;
  background-color: $border-color-light;
  border-radius: 5px;
  max-width: 85%;
  margin: 0.5rem auto;
  .participians--div {
    padding: 0.5rem;
  }
  &__imgBox {
    .student-img {
      max-height: 85px;
    }
  }
  &__name {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .participants-p {
    font-size: 0.8rem;
  }
  .linkStudent {
    font-size: 1rem;
    color: $main-color-dark;
    &:hover {
      color: $main-color-green;
    }
  }
}
</style>
