<template>
  <div class="registerWrapper">
    <RegisterForm v-if="!isSent" @isSent="isSent = $event" />
    <SendConfirmation v-if="isSent" />
  </div>
</template>

<script>
import Vue from "vue";
import RegisterForm from "./RegisterForm.vue";
import SendConfirmation from "./SendConfirmation.vue";
export default Vue.extend({
  name: "Register",
  components: {
    RegisterForm,
    SendConfirmation,
  },
  data() {
    return {
      isSent: false,
    };
  },
});
</script>

<style lang="scss" scoped>
.registerWrapper {
  padding: 1.5rem;
}
</style>
