<template>
  <div>
    <h1 class="title">Rejestracja</h1>
    <form>
      <InputText
        name="firstName"
        label="Imię:*"
        :value="newUser.firstName"
        :hasError="isValid.firstName"
        :errorMessages="['Nieprawidłowe imię']"
        @inputValue="newUser.firstName = $event"
        @blur="validate(newUser.firstName, 'firstName')"
        @focus="isValid.firstName = false"
      />
      <InputText
        name="lastName"
        label="Nazwisko:*"
        :value="newUser.lastName"
        :hasError="isValid.lastName"
        :errorMessages="['Nieprawidłowe nazwisko']"
        @inputValue="newUser.lastName = $event"
        @blur="validate(newUser.lastName, 'lastName')"
        @focus="isValid.lastName = false"
      />
      <InputText
        type="email"
        name="email"
        label="Email:*"
        :value="newUser.email"
        :hasError="isValid.email"
        :errorMessages="['Nieprawidłowy adres email']"
        @inputValue="newUser.email = $event"
        @blur="validate(newUser.email, 'email')"
        @focus="isValid.email = false"
      />
      <InputText
        name="nickname"
        label="Nickname:*"
        :value="newUser.nickname"
        :hasError="isValid.nickname"
        :errorMessages="['Nieprawidłowy nickname']"
        @inputValue="newUser.nickname = $event"
        @blur="validate(newUser.nickname, 'nickname')"
        @focus="isValid.nickname = false"
      />
      <InputText
        type="password"
        name="password"
        label="Hasło:*"
        :value="newUser.password"
        :hasError="isValid.password"
        :errorMessages="['Nieprawidłowe hasło']"
        @inputValue="newUser.password = $event"
        @blur="validate(newUser.password, 'password')"
        @focus="isValid.password = false"
      />
      <InputText
        type="password"
        name="passwordConfirmed"
        label="Powtórz hasło:*"
        :value="newUser.passwordConfirmed"
        :hasError="isValid.passwordConfirmed"
        :errorMessages="['Hasła nie są takie same']"
        @inputValue="newUser.passwordConfirmed = $event"
        @blur="validate(newUser.passwordConfirmed, 'passwordConfirmed')"
        @focus="isValid.passwordConfirmed = false"
      />
      <Checkbox
        name="terms"
        label="Akceptuję regulamin"
        :required="true"
        :hasError="newUser.terms"
        :errorMessages="'Należy zaakceptować regulamin'"
        @inputValue="newUser.terms = $event"
      />
    </form>
    <Button
      :type="buttonType"
      title="zarejestruj się"
      :disabled="!isDisable"
      :callback="handleRegister"
    />
  </div>
</template>

<script>
import Vue from "vue";
import InputText from "@/components/common/InputText.vue";
import Checkbox from "@/components/common/Checkbox.vue";
import Button from "@/components/common/Button.vue";
import { changeFormatDate } from "@/utils/changeFormatDate";
import { API_URL } from "../../../config";
import axios from "axios";
export default Vue.extend({
  name: "RegisterForm",
  components: {
    InputText,
    Checkbox,
    Button,
  },
  data() {
    return {
      newUser: {
        firstName: "",
        lastName: "",
        email: "",
        nickname: "",
        password: "",
        passwordConfirmed: "",
        terms: false,
      },
      isValid: {
        firstName: false,
        lastName: false,
        email: false,
        nickname: false,
        password: false,
        passwordConfirmed: false,
      },
    };
  },
  computed: {
    isDisable() {
      return (
        Object.values(this.newUser).every((value) => !!value === true) &&
        Object.values(this.isValid).every((value) => value === false)
      );
    },
    buttonType() {
      return this.isDisable ? "accept" : "continue";
    },
  },
  methods: {
    validateByKey(value, key) {
      if (key === "firstName" || key === "lastName") {
        return /^[a-z .'-]{2,30}$/i.test(value);
      }
      if (key === "email") {
        const regExp =
          /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
        return regExp.test(value);
      }
      if (key === "nickname") {
        return /^[a-z 0-9 @#$%^&*_-]{5,15}$/i.test(value);
      }
      if (key === "password") {
        return /^[a-z 0-9 @#$%^&*_-]{8,15}$/i.test(value);
      }
      if (key === "passwordConfirmed") {
        return value === this.newUser.password;
      }
    },
    validate(value, field) {
      this.isValid[field] = !(
        this.newUser[field].length && this.validateByKey(value, field)
      );
    },
    handleRegister(e) {
      e.preventDefault();
      const { firstName, lastName, email, nickname, password } = this.newUser;
      const userToAdd = {
        firstName,
        lastName,
        email,
        nickname,
        password,
        loggedIn: false,
        registerDate: changeFormatDate(new Date().getTime()),
      };
      axios
        .post(`${API_URL}/register`, userToAdd)
        .then((res) => {
          console.log("data:", res.data);
        })
        .catch((err) => {
          console.log("err:", err);
        });
      this.clearData();
      this.$emit("isSent", true);
    },
    clearData() {
      Object.assign(this.$data, this.$options.data());
    },
  },
});
</script>

<style lang="scss" scoped>
.title {
  margin-bottom: 1rem;
}

:disabled {
  pointer-events: none;
}
</style>
