<template>
  <div class="wrapper">
    <h3 class="title">
      Mail z potwierdzeniem rejestracji został wysłany na Twojego maila.<br />
      Sprawdź skrzynkę i aktywuj konto.
    </h3>
    <p class="btnLabel">Przejdź do logowania</p>
    <router-link class="btn" :to="{ name: 'Login' }">
      <p>zaloguj się</p>
    </router-link>
    <p class="btnLabel">Przejdź do strony głównej</p>
    <router-link class="btn" :to="{ name: 'Home' }">
      <p>home</p>
    </router-link>
  </div>
</template>

<script>
import Vue from "vue";
export default Vue.extend({
  name: "SendConfirmation",
});
</script>

<style lang="scss" scoped>
@import "@/styles/global.scss";

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;

  .title,
  .btnLabel {
    margin-top: 1.5rem;
    margin-bottom: 0.5rem;
  }
  .btn {
    padding: 8px 16px;
    background: none;
    border: none;
    font-size: 17px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 600;
    min-height: 40px;
    border: 2px solid $main-color-green;
    color: $main-color-green;
    transition: background-color 0.5s, color 0.5s;
    text-decoration: none;

    &:hover {
      background-color: $main-color-green;
      color: white;
    }
  }
}
</style>
