<template>
  <div id="comments">
    <CommentForm :id="this.$props.id" />
    <ul class="comments-ul">
      <li v-for="comment in filteredComments" v-bind:key="comment.id">
        <CommentContent :text="comment.text" :author="comment.author" />
      </li>
    </ul>
  </div>
</template>

<script>
import CommentContent from "./CommentContent.vue";
import CommentForm from "./CommentForm.vue";
import { GET_COMMENT_BY_STUDENT_ID } from "@/store/consts";

export default {
  props: {
    id: Number,
  },
  components: {
    CommentContent,
    CommentForm,
  },

  computed: {
    filteredComments() {
      return this.$store.getters[GET_COMMENT_BY_STUDENT_ID](this.$props.id);
    },
  },
};
</script>

<style lang="scss" scoped>
.comments-ul {
  list-style: none;
  margin: 1rem 0;
  padding: 0;
}
</style>
