<template>
  <div>
    <div class="comment">
      <p class="comment-p">{{ text }}</p>

      <p class="comment-p">
        Autor: <strong>{{ author }}</strong>
      </p>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    text: String,
    author: String,
  },
};
</script>

<style lang="scss" scoped>
.comment {
  width: 50%;
  margin: 0 auto;
  margin-bottom: 10px;
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.comment-p {
  font-size: 15px;
}
</style>
