<template>
  <div>
    <div class="error" v-if="validationErrors.author">Autor jest wymagany!</div>
    <div class="error" v-if="validationErrors.text">Tekst jest wymagany!</div>
    <div class="form">
      <label for="comment">Komentarze</label>
      <textarea
        placeholder="tekst..."
        name=""
        id="comment"
        cols="30"
        rows="10"
        v-model="enteredValue"
        class="comment-form--textarea"
      ></textarea>
      <input
        type="text"
        placeholder="Author..."
        v-model="enteredAuthor"
        class="comment-form--input"
      />
      <button @click="addComment" class="comment-form--button">
        Add Comment
      </button>
    </div>
  </div>
</template>

<script>
import { SAVE_NEW_STUDENT_COMMENT } from "@/store/consts";
export default {
  props: {
    id: Number,
  },
  data() {
    return {
      validationErrors: {
        author: false,
        text: false,
      },
      enteredValue: "",
      enteredAuthor: "",
    };
  },
  methods: {
    handlerComments() {
      this.$store.dispatch(SAVE_NEW_STUDENT_COMMENT, {
        author: this.enteredAuthor,
        text: this.enteredValue,
        studentId: this.$props.id,
      });
    },
    addComment() {
      this.validationErrors.author = !this.enteredAuthor;
      this.validationErrors.text = !this.enteredValue;

      if (this.validationErrors.author || this.validationErrors.text) {
        return;
      }

      this.handlerComments();

      this.validationErrors = {
        author: false,
        text: false,
      };
      this.enteredValue = "";
      this.enteredAuthor = "";
    },
  },
};
</script>

<style lang="scss" scoped>
.comment-form--input {
  width: 280px;
  border: 1px solid #dfdfdf;
  border-radius: 5px;
  box-sizing: border-box;
  color: #2c3e50;
  cursor: pointer;
  margin-bottom: 10px;
  font-size: 15px;
  outline: none;
  line-height: 15px;
  padding: 14px 22px;
  text-decoration: none;
}
.comment-form--textarea {
  padding: 1rem;
  margin: 10px 0 10px 0;
  width: 50%;
  border-radius: 5px;
  border: 1px solid #ccc;
  outline: none;
  resize: none;
}
.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.comment-form--button {
  // width: 280px;
  border: 1px solid #dfdfdf;
  border-radius: 5px;
  box-sizing: border-box;
  color: #2c3e50;
  cursor: pointer;
  font-size: 15px;
  line-height: 15px;
  padding: 14px 22px;
  text-decoration: none;
}

.error {
  text-align: center;
  margin-bottom: 20px;
}
</style>
