<template>
  <section class="table-wrapper">
    <table v-if="trainees.length" class="table">
      <TableHeader
        v-on:valueForSort="sendValueForSort($event)"
        :arrowObj="arrowObj"
      />
      <TableBody :trainees="paginationSlice" />
    </table>
    <div v-else>
      <p class="no-result">Brak wyników!</p>
    </div>
  </section>
</template>

<script>
import Vue from "vue";
import TableHeader from "./TableHeader.vue";
import TableBody from "./TableBody.vue";

export default Vue.extend({
  name: "StudentsTable",
  components: { TableHeader, TableBody },
  props: {
    trainees: { type: Array, required: true, default: () => ({}) },
    arrowObj: { type: Object, required: true, default: () => ({}) },
    paginationNum: { type: Array, required: true, default: () => ({}) },
  },
  computed: {
    paginationSlice() {
      const firstPag = this.paginationNum[0];
      const secondPag = this.paginationNum[1];
      const value = firstPag * secondPag;

      return [...this.trainees].slice(value, value + secondPag);
    },
  },
  methods: {
    sendValueForSort({ name, way }) {
      this.$emit("valueForSort", { name, way });
    },
  },
});
</script>

<style lang="scss" scoped>
.table-wrapper {
  font-family: sans-serif;
}

.table {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto 20px;
  border-collapse: collapse;
  border-left: 1px solid black;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
}

.no-result {
  width: 50%;
  margin: 16px auto;
  padding: 3px 0;
  background-color: black;
  color: white;
}
</style>
