<template>
  <tbody>
    <tr
      class="table__body-row"
      v-for="trainee in trainees"
      :key="trainee.id"
      @mouseenter.self="toggleActive(trainee.id)"
      @mouseleave.self="toggleActive(trainee.id)"
    >
      <th class="table__item">{{ trainee.id }}</th>
      <td class="table__item">
        <span class="table__text"
          >{{ trainee.firstName }}
          <font-awesome-icon
            @click="goToTrainne(trainee.id)"
            title="Przejdź na stronę stażysty"
            class="table__icon"
            :class="{
              active: activeRows[trainee.id],
            }"
            icon="arrow-circle-right"
        /></span>
      </td>
      <td class="table__item">
        {{ trainee.lastName }}
      </td>
      <td class="table__item table__item--text-position">
        {{ newFormatDate(trainee.birthDate) }}
      </td>
      <td class="table__item table__item--text-position">
        {{ trainee.practiseInYears }}
      </td>
      <td class="table__item">
        <ul>
          <li v-for="item in trainee.skills" :key="item">
            {{ getSkillName(item, skills.byId) }}
          </li>
        </ul>
      </td>
      <td class="table__item">
        <ul>
          <li v-for="item in trainee.projects" :key="item">
            {{ getProjectName(item, projects.byId) }}
          </li>
        </ul>
      </td>
      <td class="table__item table__item--text-position">
        <button @click.self="openModal(trainee)" class="table__btn">
          Więcej
        </button>
      </td>
    </tr>
    <ModalWrapper
      readyToClose
      :name="'table-modal'"
      :title="`${pickedTrainee.firstName} ${pickedTrainee.lastName}`"
    >
      <TableModal :trainee="pickedTrainee" />
    </ModalWrapper>
  </tbody>
</template>

<script>
import Vue from "vue";
import { changeFormatDate } from "../../../utils/changeFormatDate";
import TableModal from "@/views/Students/StudentsTable/TableModal.vue";
import ModalWrapper from "@/components/common/ModalWrapper.vue";

export default Vue.extend({
  name: "TableBody",
  components: {
    TableModal,
    ModalWrapper,
  },
  props: {
    trainees: { type: Array, required: true, default: () => ({}) },
  },
  data() {
    return {
      pickedTrainee: {},
      rowsMap: this.$store.state.students.allIds,
      activeRows: this.createActiveRows(),
    };
  },
  computed: {
    projects() {
      return this.$store.state.projects;
    },
    skills() {
      return this.$store.state.skills;
    },
  },
  methods: {
    getProjectName(id, projects) {
      return projects[id].name;
    },
    getSkillName(id, skills) {
      return skills[id].name;
    },
    newFormatDate(milsec) {
      return changeFormatDate(milsec);
    },
    goToTrainne(id) {
      return this.$router.push({ name: "StudentCard", params: { id } });
    },
    createActiveRows() {
      const activeRows = {};
      this.$store.state.students.allIds.forEach(
        (id) => (activeRows[id] = false)
      );
      return activeRows;
    },
    toggleActive(id) {
      this.activeRows[id] = !this.activeRows[id];
    },
    openModal(trainee) {
      this.pickedTrainee = trainee;
      this.$modal.show("table-modal");
    },
  },
});
</script>

<style lang="scss" scoped>
@import "@/styles/global.scss";
.table__body-row {
  background: $table-color-row-odd;
}

.table__body-row:nth-child(even) {
  background: $table-color-row-even;
}
.table__item {
  padding: 8px 4px;
  text-align: left;
}
.table__item:nth-child(2) {
  width: 12%;
}
.table__item--text-position {
  text-align: center;
}

.table__text {
  position: relative;
}
.table__icon {
  display: none;
  position: absolute;
  top: -4px;
  border-radius: 50px;
  margin-left: 7px;
}
.active {
  display: inline-block;
}
.table__btn {
  border: 1px solid black;
  border-radius: 3px;
  padding: 4px 10px;
  background-color: white;
  cursor: pointer;
}
.table__item > .table__btn:hover {
  background-color: $main-color-yellow;
  color: black;
}

.table__icon,
svg {
  font-size: 25px;
  color: black;
}

svg:hover {
  color: $main-color-yellow;
  cursor: pointer;
}
.table__item ul {
  margin: 0;
}
.activeArrows {
  background-color: $main-color-yellow;
}
</style>
