<template>
  <thead>
    <tr class="table__header-row">
      <th>#</th>
      <th v-for="(plan, index) in plans" :key="plan.name">
        {{ plan.name }}
        <span
          v-on:click="sendValueForSort(plan.nameElement, way.up)"
          @click="toggleActive(index, way.up)"
          :class="{ active: activeArrow[index].up }"
          class="header-span"
          >▲</span
        ><span
          v-on:click="sendValueForSort(plan.nameElement, way.down)"
          @click="toggleActive(index, way.down)"
          :class="{ active: activeArrow[index].down }"
          class="header-span"
          >▼</span
        >
      </th>
      <th></th>
    </tr>
  </thead>
</template>

<script>
import Vue from "vue";

export default Vue.extend({
  name: "TableHeader",
  props: {
    arrowObj: { type: Object, required: true, default: () => ({}) },
  },
  data() {
    return {
      plans: {
        1: {
          nameElement: "firstName",
          name: "Imię",
        },
        2: {
          nameElement: "lastName",
          name: "Nazwisko",
        },
        3: {
          nameElement: "birthDate",
          name: "Data ur.",
        },
        4: {
          nameElement: "practiseInYears",
          name: "Lata praktyki",
        },
        5: {
          nameElement: "skills",
          name: "Umiejętności",
        },
        6: {
          nameElement: "projects",
          name: "Projekty",
        },
      },
      activeArrow: this.arrowObj,
      way: {
        up: "up",
        down: "down",
      },
    };
  },
  methods: {
    sendValueForSort(name, way) {
      this.$emit("valueForSort", { name, way });
    },
    toggleActive(key, way) {
      this.resetActive();
      way === "up"
        ? (this.activeArrow[key].up = !this.activeArrow[key].up)
        : (this.activeArrow[key].down = !this.activeArrow[key].down);
    },
    resetActive() {
      for (const key in this.activeArrow) {
        this.activeArrow[key].up = false;
        this.activeArrow[key].down = false;
      }
    },
  },
});
</script>

<style lang="scss" scoped>
@import "@/styles/global.scss";
.table__header-row {
  padding: 20px;
  background: black;
  color: white;
}
.table__header-row th {
  padding: 5px;
}
.header-span {
  cursor: pointer;
}
.header-span:hover {
  color: $main-color-yellow;
}

.active {
  color: $main-color-yellow;
}
</style>
