<template>
  <div class="modal-table">
    <div class="modal-table__content">
      <div class="student">
        <figure class="student__photo-wrapper">
          <img class="student__photo" :src="trainee.photo" alt="" />
        </figure>
        <h4 class="student__name">
          {{ trainee.firstName + " " + trainee.lastName }}
        </h4>
        <p class="student__birth">
          ur. {{ new Date(trainee.birthDate).toLocaleDateString() }}
        </p>
      </div>
    </div>
    <div class="modal-table__content">
      <dl class="modal-list">
        <dt class="modal-list__title">Projekty:</dt>
        <dd class="modal-list__info">
          <ul class="modal-list__list">
            <li
              class="modal-list__list-item"
              v-for="(item, index) in trainee.projects"
              :key="index"
            >
              {{ projects[item].name }}
            </li>
          </ul>
        </dd>
      </dl>
      <dl class="modal-list">
        <dt class="modal-list__title">Umiejętności:</dt>
        <dd class="modal-list__info">
          <ul class="modal-list__list">
            <li
              class="modal-list__list-item"
              v-for="(item, index) in trainee.skills"
              :key="index"
            >
              {{ skills[item].name }}
            </li>
          </ul>
        </dd>
      </dl>
    </div>
  </div>
</template>

<script>
import Vue from "vue";

export default Vue.extend({
  name: "TableModal",
  props: {
    trainee: { type: Object, required: true, default: () => ({}) },
  },
  computed: {
    projects() {
      return this.$store.state.projects.byId;
    },
    skills() {
      return this.$store.state.skills.byId;
    },
  },
});
</script>

<style lang="scss" scoped>
@import "@/styles/global.scss";
.modal-table {
  display: flex;

  &__content {
    flex-basis: 50%;
  }

  &__content:last-of-type {
    box-sizing: border-box;
    padding: 20px;
  }
}

.student {
  width: 80%;
  margin: 0 auto;
  border: 2px solid black;
  background-color: $table-color-row-odd;
  &__photo-wrapper,
  &__birth,
  &__name {
    text-align: center;
  }
  &__photo {
    width: 95px;
    height: 100px;
  }
}
.modal-list {
  &__title {
    font-weight: bold;
  }

  &__info {
    margin: 6px 10px;
    font-size: 14px;
  }

  &__list {
    margin: 0;
  }

  &__list-item {
    margin-top: 2px;
  }
}
</style>
