<template>
  <component :is="component" :data="this.$props" @value="sendValue"></component>
</template>

<script>
import Vue from "vue";
import TableVertical from "./TableVertical/TableVertical.vue";
import TableHorizontal from "./TableHorizontal/TableHorizontal.vue";

export default Vue.extend({
  name: "Table",
  components: { TableVertical, TableHorizontal },
  props: {
    type: {
      type: String,
      require: true,
      validator: (prop) => ["horizontal", "vertical"].includes(prop),
    },
    displayData: {
      type: Array,
      require: true,
    },
    headers: {
      type: Array,
      require: true,
    },
    iconHeader: {
      type: Object,
    },
    showIconHover: {
      type: Boolean,
    },
    iconBody: {
      type: String,
    },
    callbackIconBody: {
      type: Function,
    },
    callbackButton: {
      type: Function,
    },
    widthTable: {
      type: String,
    },
  },
  data() {
    return {
      component: "",
      componentsNames: {
        horizontal: "TableHorizontal",
        vertical: "TableVertical",
      },
      propTypes: ["horizontal", "vertical"],
    };
  },
  methods: {
    sendValue(name, way) {
      this.$emit("value", name, way);
    },
  },
  mounted() {
    this.propTypes.forEach((type) =>
      this.type === type ? (this.component = this.componentsNames[type]) : null
    );
  },
});
</script>

<style scoped></style>
