<template>
  <div class="pagination">
    <div class="pagination-container">
      <div class="pagination-main">
        <button class="btn">
          <font-awesome-icon
            :icon="['fas', 'angle-double-left']"
            class="icon"
            :class="activeLeftArrows"
            @click="firstPage"
          />
        </button>
        <button class="btn">
          <font-awesome-icon
            :icon="['fas', 'chevron-left']"
            class="icon"
            :class="activeLeftArrows"
            @click="prevPage"
          />
        </button>

        <div class="pages-container">
          <button
            v-for="page in maxPages"
            :key="page"
            class="pagination-main__page btn"
            :class="activePage(page)"
            @click="current(page)"
          >
            {{ page }}
          </button>
        </div>

        <button class="btn">
          <font-awesome-icon
            :icon="['fas', 'chevron-right']"
            class="icon"
            :class="activeRightArrows"
            @click="nextPage"
          />
        </button>
        <button class="btn">
          <font-awesome-icon
            :icon="['fas', 'angle-double-right']"
            class="icon"
            :class="activeRightArrows"
            @click="lastPage"
          />
        </button>
      </div>

      <div class="pagination-info">
        <div class="pagination-info__items">
          <label for="rowsNumber" class="pagination-label">
            Ilość itemów na strone:
          </label>
          <select
            class="pagination-select"
            name="rowsNumber"
            @change="(e) => displayedItems(e.target.value)"
          >
            <option v-for="index in 4" :value="index * 5" :key="index">
              {{ index * 5 }}
            </option>
          </select>
        </div>
        <p class="pagination-results">{{ paginationResults }}</p>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import Vue from "vue";

export default Vue.extend({
  props: { dataLength: Number, activeCard: Number },

  data(): {
    currentPage: number;
    itemsPerPage: number;
  } {
    return {
      currentPage: 1,
      itemsPerPage: 5,
    };
  },

  computed: {
    maxPages(): number {
      return Math.ceil(this.dataLength / this.itemsPerPage);
    },
    activeLeftArrows(): string {
      return this.currentPage === 1 ? "disabled-arrow" : "";
    },
    activeRightArrows(): string {
      return this.currentPage === this.maxPages || this.dataLength === 0
        ? "disabled-arrow"
        : "";
    },
    pagination(): number[] {
      return [this.currentPage - 1, this.itemsPerPage];
    },
    paginationResults(): string {
      return `Wyniki: ${this.pagination[0] * this.pagination[1] + 1} - ${
        this.currentPage * this.pagination[1] >= this.dataLength
          ? this.dataLength
          : this.currentPage * this.pagination[1]
      }
          z ${this.dataLength}`;
    },
  },

  methods: {
    firstPage() {
      this.currentPage = 1;
      this.$emit("paginatedData", this.pagination);
    },
    prevPage() {
      this.currentPage--;
      this.$emit("paginatedData", this.pagination);
    },
    current(page: number) {
      this.currentPage = page;
      this.$emit("paginatedData", this.pagination);
    },
    nextPage() {
      this.currentPage++;
      this.$emit("paginatedData", this.pagination);
    },
    lastPage() {
      this.currentPage = this.maxPages;
      this.$emit("paginatedData", this.pagination);
    },
    activePage(page: number): string {
      return this.activeCard === page ? "active-page" : "";
    },
    displayedItems(value: string) {
      this.itemsPerPage = parseInt(value);
      this.currentPage = 1;
      this.$emit("paginatedData", this.pagination);
    },
  },

  updated(): void {
    if (this.currentPage !== this.activeCard) {
      this.currentPage = 1;
    }
  },
});
</script>

<style lang="scss" scoped>
@import "@/styles/global.scss";

.btn {
  border: none;
  background: none;
  font-size: 1em;
}

.pagination-container {
  margin: 20px 10px 10px 0;
  width: max-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.4em;
}

.pagination {
  display: flex;
  justify-content: flex-end;
}

.pagination-select {
  border: none;
  font-size: 0.7em;
  cursor: pointer;
}

.pagination-label {
  font-size: 0.7em;
}

.pagination-main {
  display: flex;
  align-items: center;
  font-size: 1.2em;
  margin-bottom: 10px;
  gap: 10px;

  .icon {
    cursor: pointer;
    color: $main-color-green;
  }

  .pages-container {
    display: flex;
    margin: 0 10px;
    gap: 5px;
  }

  &__page {
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.7em;
    cursor: pointer;

    &.active-page {
      background-color: $main-color-green;
      border-radius: 50%;
      color: white;
      cursor: unset;
    }
  }

  .disabled-arrow {
    pointer-events: none;
    color: #a7d3bf;
  }
}

.pagination-info {
  display: flex;
  gap: 50px;
  align-items: center;

  &__items {
    display: flex;
    align-items: center;
  }
}

.pagination-results {
  font-size: 0.75em;
}
</style>
