<template>
  <button class="btn" :class="classes" @click="clicked" :style="styleVariables">
    {{ title }}
  </button>
</template>

<script lang="ts">
/* eslint-disable @typescript-eslint/ban-ts-comment */
import { funcType } from "@/store/types";
import { Vue, Component, Prop } from "vue-property-decorator";

@Component
export default class Button extends Vue {
  @Prop(String) readonly type: string | undefined;
  @Prop(String) readonly title!: string;
  @Prop({ default: false }) readonly primary: boolean | undefined;
  @Prop(Function) readonly callback!: funcType;
  @Prop({ default: 100 }) readonly width: number | undefined;

  get classes(): { [key: string]: boolean | undefined } {
    return {
      "btn-accept": this.type === "accept",
      "btn-continue": this.type === "continue",
      "btn-cancel": this.type === "cancel",
      "btn-default": !this.type || this.type === "default",
      "btn-primary": this.primary,
    };
  }

  get styleVariables(): { [key: string]: string } {
    return {
      "--width": `${this.width}px`,
    };
  }

  clicked(event: Event): void {
    if (this.callback) {
      // @ts-ignore
      this.callback(event);
    }
  }
}
</script>

<style lang="scss" scoped>
@import "@/styles/global.scss";

@mixin btn-color($color) {
  border: 2px solid $color;
  color: $color;
  transition: background-color 0.5s, color 0.5s;

  &:hover {
    background-color: $color;
    color: white;
  }

  &.btn-primary {
    background-color: $color;
    color: white;
    transition: background-color 0.5s, color 0.5s;

    &:hover {
      background-color: white;
      color: $color;
    }
  }
}

.btn {
  padding: 8px 16px;
  background: none;
  border: none;
  font-size: 17px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 600;
  min-width: var(--width);
  min-height: 40px;

  &.btn-accept {
    @include btn-color($main-color-green);
  }

  &.btn-continue {
    @include btn-color($main-color-gray);
  }

  &.btn-cancel {
    @include btn-color($main-color-warning);
  }

  &.btn-default {
    background-color: none;
    color: $main-color-dark;
  }
}
</style>
