<template>
  <div class="input-group chbox" :class="errorClass" :style="styleVariables">
    <div class="checkbox">
      <input
        type="checkbox"
        :name="name"
        :id="name"
        :value="value"
        class="input-group--input input-checkbox"
        @input="inputValue"
      />
      <label :for="name" class="input-group--label">{{ label }}</label>
    </div>

    <p v-show="compWithError" class="error-message">
      {{ errorMessages }}
    </p>
  </div>
</template>

<script lang="ts">
import { Vue, Component, Prop, Emit } from "vue-property-decorator";

@Component
export default class Checkbox extends Vue {
  @Prop(String) readonly name!: string;
  @Prop(String) readonly label!: string;
  @Prop([String, Number]) readonly value: string | number | undefined;
  @Prop({ default: false }) readonly required!: boolean;
  @Prop({ default: false }) readonly hasError!: boolean;
  @Prop({ default: "Wymagane jest zaznaczenie opcji!" })
  readonly errorMessages: string | undefined;
  @Prop({ default: 290 }) readonly width: number | undefined;

  compWithError = this.$props.hasError;

  get errorClass(): string {
    return this.compWithError ? "error" : "";
  }

  get showError(): boolean {
    return this.compWithError ? true : false;
  }

  get styleVariables(): { [key: string]: string } {
    return {
      "--width": `${this.width}px`,
    };
  }

  @Emit("inputValue")
  inputValue(event: Event): boolean | string | null {
    const target = event.target as HTMLInputElement;

    this.required && !target.checked
      ? (this.compWithError = true)
      : (this.compWithError = false);

    if (this.value) {
      return this.value && target.checked ? target.value : null;
    }

    return target.checked;
  }
}
</script>

<style lang="scss" scoped>
@import "@/styles/inputs.scss";

.input-group {
  width: var(--width);
}
</style>
