<template>
  <div class="input-group" :class="errorClass" :style="styleVariables">
    <label :for="name" class="input-group--label">{{ label }}</label>
    <slot></slot>
    <input
      type="number"
      :name="name"
      :id="name"
      :placeholder="placeholder"
      :min="min"
      :max="max"
      :value="value"
      class="input-group--input"
      @input="inputValue"
      @focus="$emit('focus')"
    />

    <div v-show="showError" class="error-div">
      <font-awesome-icon
        class="error-icon"
        :icon="['fas', 'exclamation-circle']"
      />
      <div class="error-messages">
        <ul class="error-messages--ul">
          <li v-for="(errorMessage, i) in errorMessages" :key="i">
            • {{ errorMessage }}
          </li>
          <li v-for="(minMax, i) in minMaxMessages" :key="i">• {{ minMax }}</li>
        </ul>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { Vue, Component, Prop, Emit } from "vue-property-decorator";

@Component
export default class InputNumeric extends Vue {
  @Prop(String) readonly name!: string;
  @Prop(String) readonly label!: string;
  @Prop([String, Number]) readonly placeholder: string | number | undefined;
  @Prop([String, Number]) readonly value: string | number | undefined;
  @Prop({ default: false }) readonly hasError!: boolean;
  @Prop(Array) readonly errorMessages: string[] | undefined;
  @Prop(Number) readonly min: number | undefined;
  @Prop(Number) readonly max: number | undefined;
  @Prop({ default: 290 }) readonly width: number | undefined;

  compHasError = this.$props.hasError;

  get errorClass(): string {
    if (this.compHasError) return "error";
    if (!this.value || !this.min || !this.max) return "";

    return this.value < this.min || this.value > this.max ? "error" : "";
  }

  get showError(): boolean {
    if (this.compHasError) return true;
    if (!this.value || !this.min || !this.max) return false;

    return this.value < this.min || this.value > this.max ? true : false;
  }

  get minMaxMessages(): string[] {
    const minMaxErrors: string[] = [];

    if (!this.value || !this.min || !this.max) return minMaxErrors;

    this.value < this.min
      ? minMaxErrors.push(`Minimalna liczba to ${this.min}`)
      : null;
    this.value > this.max
      ? minMaxErrors.push(`Maxymalna liczba to ${this.max}`)
      : null;

    return minMaxErrors;
  }

  get styleVariables(): { [key: string]: string } {
    return {
      "--width": `${this.width}px`,
    };
  }

  @Emit("inputValue")
  inputValue(event: Event): number {
    const target = event.target as HTMLInputElement;
    const endResult = Number(target.value);

    if (!this.min || !this.max) return endResult;

    endResult >= this.min && endResult <= this.max
      ? (this.compHasError = false)
      : (this.compHasError = true);

    return endResult;
  }
}
</script>

<style lang="scss" scoped>
@import "@/styles/global.scss";
@import "@/styles/inputs.scss";

.input-group {
  width: var(--width);
}
</style>
