<template>
  <div class="input-group" :class="errorClass" :style="styleVariables">
    <label :for="name" class="input-group--label">{{ label }}</label>
    <slot></slot>
    <input
      :type="type"
      :name="name"
      :id="name"
      :placeholder="placeholder"
      :value="value"
      class="input-group--input"
      @input="inputValue"
      @focus="$emit('focus')"
      @blur="$emit('blur')"
    />

    <div v-show="showError" class="error-div">
      <font-awesome-icon
        class="error-icon"
        :icon="['fas', 'exclamation-circle']"
      />
      <div class="error-messages">
        <ul class="error-messages--ul">
          <li v-for="(errorMessage, i) in errorMessages" :key="i">
            • {{ errorMessage }}
          </li>
        </ul>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { Vue, Component, Prop, Emit } from "vue-property-decorator";

@Component
export default class InputText extends Vue {
  @Prop(String) readonly name!: string;
  @Prop(String) readonly label!: string;
  @Prop({ default: "text" }) readonly type!: string;
  @Prop([String, Number]) readonly placeholder: string | number | undefined;
  @Prop([String, Number]) readonly value: string | number | undefined;
  @Prop({ default: false }) readonly hasError!: boolean;
  @Prop(Array) readonly errorMessages: string[] | undefined;
  @Prop({ default: 290 }) readonly width: number | undefined;

  get errorClass(): string {
    return this.hasError ? "error" : "";
  }

  get showError(): boolean {
    return this.hasError ? true : false;
  }

  get styleVariables(): { [key: string]: string } {
    return {
      "--width": `${this.width}px`,
    };
  }

  @Emit("inputValue")
  inputValue(event: Event): string | number {
    const target = event.target as HTMLInputElement;
    return target.value;
  }
}
</script>

<style lang="scss" scoped>
@import "@/styles/global.scss";
@import "@/styles/inputs.scss";

.input-group {
  width: var(--width);
}
</style>
