<template>
  <a :href="linkData.url" class="link">{{ linkData.name }}</a>
</template>

<script lang="ts">
import Vue from "vue";
export default Vue.extend({
  name: "Link",
  props: {
    linkData: { type: Object, required: true, default: () => ({}) },
  },
});
</script>

<style lang="scss" scoped>
.link {
  text-decoration: none;
}
</style>
