<template>
  <div class="loader-container">
    <div class="logo">
      <img alt="Vue logo" src="@/assets/logo.png" class="loader-icon" />
    </div>
    <p class="loader-text">Loading...</p>
  </div>
</template>

<script lang="ts">
import Vue from "vue";

export default Vue.extend({
  mounted(): void {
    document.body.style.overflow = this.$store.state.loader.show
      ? "hidden"
      : "auto";
  },
  destroyed(): void {
    document.body.style.overflow = "auto";
  },
});
</script>

<style lang="scss" scoped>
@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");

.loader-container {
  position: fixed;
  background: linear-gradient(
    180deg,
    rgba(66, 185, 131, 1) 0%,
    rgba(53, 73, 94, 1) 100%
  );
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1000000;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
}

.icon {
  height: 200px;
}

.loader-icon {
  transform: rotate(0deg) scale(0.1);
  animation-name: identifier;
  animation-duration: 1s;
  animation-delay: 0.2s;
  animation-fill-mode: forwards;
}

.loader-text {
  font-size: 3.2em;
  font-family: "Permanent Marker", cursive;
  letter-spacing: 4px;
  overflow: hidden;
  background: radial-gradient(
    circle,
    rgba(66, 185, 131, 1) 0%,
    rgba(53, 73, 94, 0.2) 100%
  );
  background-repeat: no-repeat;
  background-size: 80%;
  animation: text 2s linear infinite;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: rgba(0, 0, 0, 0);
  -webkit-text-stroke: 1px white;
}

@keyframes identifier {
  0% {
    transform: scale(0.1);
  }
  70% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.9);
  }
}

@keyframes text {
  0% {
    background-position: -500%;
  }
  100% {
    background-position: 500%;
  }
}
</style>
