<template>
  <modal
    :name="name"
    :adaptive="true"
    :resizable="true"
    :height="height"
    :width="width"
    :clickToClose="readyToClose"
    class="modalContainer"
  >
    <div class="customModal">
      <div class="main-modal-header" ref="headerHeight">
        <p class="header">{{ title }}</p>
        <font-awesome-icon
          :icon="['fas', 'times']"
          class="closeSign"
          @click="askForExit"
        />
      </div>
      <div class="main-modal-body">
        <slot></slot>
      </div>
    </div>
  </modal>
</template>

<script lang="ts">
import { Vue, Component, Prop } from "vue-property-decorator";

@Component
export default class ModalWrapper extends Vue {
  @Prop(Boolean) readonly readyToClose: boolean | undefined;
  @Prop(String) readonly name!: string;
  @Prop({ default: 400 }) readonly height: string | undefined;
  @Prop({ default: 600 }) readonly width: string | undefined;
  @Prop(String) readonly title: string | undefined;

  hide(): void {
    this.$modal.hide(this.name);
  }

  askForExit(): void {
    if (this.readyToClose) {
      this.hide();
    } else {
      const confirmedExit = confirm(
        "Opuszczasz formularz edycji? Czy jesteś pewien?"
      );
      if (confirmedExit) this.hide();
    }
  }
}
</script>

<style lang="scss" scoped>
@import "/src/styles/global.scss";

.modalContainer {
  backdrop-filter: blur(3px);
}
.customModal {
  font-size: 1rem;
  height: 100%;
  overflow: auto;
  .main-modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0.5rem 1rem;
    position: absolute;
    background-color: #fff;
    width: 100%;
    z-index: 100;
    box-shadow: 0px 0px 20px -5px $main-color-green;

    @media (min-width: 500px) {
      padding: 1rem;
    }
    @media (min-width: 600px) {
      padding: 1rem 2rem 1rem;
    }
  }
  .main-modal-body {
    padding: 4rem 1rem 1rem 1rem;

    @media (min-width: 500px) {
      padding: 6rem 3rem 1rem;
    }
  }
  .header {
    width: calc(100% - 20px);
    text-align: left;
    font-size: 1em;

    @media (min-width: 500px) {
      font-size: 1.2em;
    }
    @media (min-width: 600px) {
      font-size: 1.4em;
    }
  }
  .closeSign {
    cursor: pointer;
    border: none;
    background: none;
    font-size: 1em;

    @media (min-width: 500px) {
      font-size: 1.2em;
    }
    @media (min-width: 600px) {
      font-size: 1.4em;
    }
  }
}
</style>
