<template>
  <multiselect
    class="multiselectCustom"
    v-model="value"
    @input="$emit('selectedOptions', value)"
    :options="options"
    :multiple="true"
    :close-on-select="true"
    :clear-on-select="false"
    :preserve-search="true"
    :placeholder="placeholder"
    :label="label"
    :track-by="trackBy"
    :preselect-first="false"
    :taggable="true"
    :clearMultiselect="clearMultiselect"
  ></multiselect>
</template>

<script lang="ts">
import Vue from "vue";

export default Vue.extend({
  name: "MultiselectOptions",
  props: {
    options: { type: Array, required: true, default: () => ({}) },
    placeholder: { type: String, required: true, default: "Wybierz" },
    label: { type: String, required: false, default: "name" },
    trackBy: { type: String, required: false, default: "name" },
    clearMultiselect: { type: Boolean, required: false, default: false },
  },
  data() {
    return {
      value: [],
    };
  },
  watch: {
    clearMultiselect() {
      this.value = [];
    },
  },
});
</script>

<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>
<style lang="scss" scoped>
.multiselectCustom {
  max-width: 400px;
  margin: 0.3rem auto;
}
</style>
