<template>
  <div class="input-group chbox" :class="errorClass" :style="styleVariables">
    <div class="checkbox" v-for="(radio, i) in options" :key="i">
      <input
        type="radio"
        :name="group"
        :id="radio.name"
        :value="radio.value"
        v-model="takeValue"
        class="input-group--input input-checkbox"
        @change="inputValue"
      />
      <label :for="radio.name" class="input-group--label">
        {{ radio.label }}
      </label>
    </div>

    <p v-show="compWithError" class="error-message">
      {{ errorMessages }}
    </p>
  </div>
</template>

<script lang="ts">
import { Vue, Component, Prop, Emit } from "vue-property-decorator";

@Component
export default class Radio extends Vue {
  @Prop(String) readonly group!: string;
  @Prop(Array) readonly options!: { [key: string]: string | number }[];
  @Prop({ default: false }) readonly required!: boolean;
  @Prop({ default: false }) readonly hasError!: boolean;
  @Prop({ default: "Wymagane jest zaznaczenie opcji!" })
  readonly errorMessages: string | undefined;
  @Prop({ default: 290 }) readonly width: number | undefined;

  compWithError = this.$props.hasError;
  takeValue = "";

  get errorClass(): string {
    return this.compWithError ? "error" : "";
  }

  get showError(): boolean {
    return this.compWithError ? true : false;
  }

  get styleVariables(): { [key: string]: string } {
    return {
      "--width": `${this.width}px`,
    };
  }

  @Emit("inputValue")
  inputValue(): string | number {
    this.required && !this.takeValue
      ? (this.compWithError = true)
      : (this.compWithError = false);

    return this.takeValue;
  }
}
</script>

<style lang="scss" scoped>
@import "@/styles/inputs.scss";

.input-group {
  width: var(--width);
}
</style>
