<template>
  <div class="input-group" :class="errorClass" :style="styleVariables">
    <label :for="name" class="input-group--label">{{ label }}</label>
    <slot></slot>
    <select
      :name="name"
      :id="name"
      :value="value"
      class="input-group--select"
      @change="selectValue"
    >
      <option v-if="placeholder" value="" class="placeholder">
        {{ placeholder }}
      </option>
      <option v-for="(option, i) in options" :key="i" :value="option.value">
        {{ option.label }}
      </option>
    </select>

    <div v-show="showError" class="select error-div">
      <font-awesome-icon
        class="error-icon"
        :icon="['fas', 'exclamation-circle']"
      />
      <div class="error-messages">
        <ul class="error-messages--ul">
          <li v-for="(errorMessage, i) in errorMessages" :key="i">
            • {{ errorMessage }}
          </li>
          <li v-if="required">Wymagane jest aby wybrać element z listy.</li>
        </ul>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { Vue, Component, Prop, Emit } from "vue-property-decorator";

@Component
export default class Select extends Vue {
  @Prop(String) readonly name!: string;
  @Prop(String) readonly label!: string;
  @Prop([String, Number]) readonly placeholder: string | number | undefined;
  @Prop([String, Number]) readonly value: string | number | undefined;
  @Prop([Array, Number]) readonly options!: string[] | number[] | [] | number;
  @Prop({ default: false }) readonly required!: boolean;
  @Prop({ default: false }) readonly hasError!: boolean;
  @Prop(Array) readonly errorMessages: string[] | undefined;
  @Prop({ default: 290 }) readonly width!: number;

  hasSelectError = this.$props.hasError;

  get errorClass(): string {
    return this.hasSelectError ? "error" : "";
  }

  get showError(): boolean {
    return this.hasSelectError ? true : false;
  }

  get styleVariables(): { [key: string]: string } {
    return {
      "--width": `${this.width}px`,
    };
  }

  @Emit("selectValue")
  selectValue(event: Event): string | number | null {
    const target = event.target as HTMLInputElement;

    this.required && !target.value
      ? (this.hasSelectError = true)
      : (this.hasSelectError = false);

    return !this.hasSelectError ? target.value : null;
  }
}
</script>

<style lang="scss" scoped>
@import "@/styles/global.scss";
@import "@/styles/inputs.scss";

.input-group {
  width: var(--width);
}
</style>
