<template>
  <div class="input-group" :style="styleVariables">
    <label :for="name" class="input-group--label">{{ label }}</label>
    <slot></slot>
    <textarea
      :name="name"
      :id="name"
      :placeholder="placeholder"
      :minlength="minLength"
      :maxlength="maxLength"
      :value="value"
      @input="$emit('textareaValue', $event.target.value)"
      class="input-group--textarea"
    />

    <p v-if="maxLength" class="input-group__textarea--length">
      <span :class="errorClass">{{ textareaLength }}</span>
    </p>
  </div>
</template>

<script lang="ts">
import { Vue, Component, Prop } from "vue-property-decorator";

@Component
export default class Textarea extends Vue {
  @Prop(String) readonly label!: string;
  @Prop(String) readonly name!: string;
  @Prop(String) readonly value: string | undefined;
  @Prop(String) readonly placeholder: string | undefined;
  @Prop(Number) readonly minLength: number | undefined;
  @Prop(Number) readonly maxLength: number | undefined;
  @Prop({ default: 290 }) readonly width: number | undefined;
  @Prop({ default: 170 }) readonly height: number | undefined;

  get errorClass(): { [key: string]: boolean } | string {
    if (!this.value || !this.minLength) return "";
    return {
      "error-text": this.value?.length < this.minLength,
    };
  }

  get textareaLength(): string {
    return `${this.value?.length}/${this.maxLength}`;
  }

  get styleVariables(): { [key: string]: string } {
    return {
      "--width": `${this.width}px`,
      "--height": `${this.height}px`,
    };
  }
}
</script>

<style lang="scss" scoped>
@import "@/styles/inputs.scss";

.input-group {
  width: max-content;
}

.input-group--textarea {
  width: var(--width);
}

.input-group--textarea {
  height: var(--height);
}
</style>
