<template>
  <table class="table" :style="{ width: data.widthTable }">
    <TableVerticalHeader
      :headers="data.headers"
      :iconHeader="data.iconHeader"
      @value="sendValue"
    />
    <TableVerticalBody
      :displayData="data.displayData"
      :headers="data.headers"
      :showIconHover="data.showIconHover"
      :iconBody="data.iconBody"
      :callbackIconBody="data.callbackIconBody"
      :callbackButton="data.callbackButton"
    />
  </table>
</template>

<script>
import Vue from "vue";
import TableVerticalHeader from "./TableVerticalHeader.vue";
import TableVerticalBody from "./TableVerticalBody.vue";

export default Vue.extend({
  name: "TableVertical",
  components: { TableVerticalHeader, TableVerticalBody },
  props: {
    data: {
      type: Object,
      require: true,
    },
  },
  methods: {
    sendValue(name, way) {
      this.$emit("value", name, way);
    },
  },
});
</script>

<style lang="scss" scoped>
@import "@/styles/global.scss";
.table {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 auto 20px;
  border: 2px solid $main-color-green;
  box-shadow: 0 1px 15px $main-color-dark;
}
@media (min-width: 960px) {
  .table {
    display: table;
    max-width: 1200px;
    width: 100%;
  }
}
</style>
