<template>
  <tbody class="table__body">
    <tr
      v-for="(data, index) in displayData"
      :key="index"
      class="table__body-row"
    >
      <td
        v-for="(head, index) in headers"
        :key="index"
        class="table__body-cell"
      >
        <span class="mobile-title">{{ head.title }}</span>
        <span
          >{{ data[head.property] }}
          <font-awesome-icon
            v-if="head.iconBody"
            :icon="iconBody"
            class="icon"
            :class="{ showIcon: showIconHover }"
            @click="callbackIconBody($event, data)"
          />
        </span>
        <button
          v-if="head.button"
          @click="callbackButton($event, data)"
          class="table-btn"
        >
          Modal
        </button>
      </td>
    </tr>
  </tbody>
</template>

<script>
import Vue from "vue";

export default Vue.extend({
  name: "TableVerticalBody",
  props: {
    displayData: {
      type: Array,
      require: true,
    },
    headers: {
      type: Array,
      require: true,
    },
    showIconHover: {
      type: Boolean,
    },
    iconBody: {
      type: String,
    },
    callbackIconBody: {
      type: Function,
    },
    callbackButton: {
      type: Function,
    },
  },
});
</script>

<style lang="scss" scoped>
@import "@/styles/global.scss";
.table__body-row {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid $main-color-green;
  background: $table-color-row-odd;
  color: $main-color-dark;
}
.table__body-row:nth-child(even) {
  background: $table-color-row-even;
}
.table__body-cell {
  display: flex;
  align-items: center;
  border-bottom: 1px solid white;
  line-height: 13px;
  font-size: 13px;
  text-align: left;
}
.mobile-title {
  align-self: stretch;
  width: 33%;
  margin-right: 5px;
  padding: 10px;
  border-top: 1px solid white;
  background-color: $main-color-green;
  color: white;
}
.cell-text {
  align-self: stretch;
  padding: 10px;
  padding-left: 0;
}
.table-btn {
  margin: 3px 5px;
  padding: 5px 8px;
  border: 1px solid black;
  border-radius: 5px;
  font-size: 11px;
  cursor: pointer;
}
.table-btn:hover {
  background-color: $main-color-green;
  border: 1px solid $main-color-green;
  color: white;
}
.table__body-row {
  svg {
    font-size: 17px;
    visibility: hidden;
  }
}
.table__body-row:hover {
  svg {
    visibility: visible;
  }
}
.table__body-row {
  svg:hover {
    color: $main-color-green;
    cursor: pointer;
  }
}
.icon {
  margin-left: 10px;
}
.active {
  color: $main-color-dark;
}
@media (min-width: 500px) {
  .mobile-title {
    width: 17%;
  }
}
@media (min-width: 960px) {
  .table__body-row {
    display: table-row;
  }
  .table__body-cell {
    display: table-cell;
    line-height: 17px;
    font-size: 17px;
    padding: 10px;
    text-align: center;
  }
  .table__body-row {
    svg {
      font-size: 17px;
      visibility: hidden;
    }
  }
  .mobile-title {
    display: none;
  }
}
</style>
