<template>
  <thead class="table__header">
    <tr class="table__header-row">
      <th
        v-for="(header, index) in headers"
        :key="index"
        class="table__header-cell"
        :style="{ width: header.widthColumn }"
      >
        {{ header.title }}
        <div class="icon-wrapper">
          <font-awesome-icon
            v-if="header.iconHeader"
            role="button"
            :icon="iconHeader.first"
            class="icon"
            :class="{ active: activeArrow[index].up }"
            @click="serviceSendValue(header.property, way.up, index)"
          />
          <font-awesome-icon
            v-if="header.iconHeader"
            role="button"
            :icon="iconHeader.second"
            class="icon"
            :class="{ active: activeArrow[index].down }"
            @click="serviceSendValue(header.property, way.down, index)"
          />
        </div>
      </th>
    </tr>
  </thead>
</template>

<script>
import Vue from "vue";

export default Vue.extend({
  name: "TableVerticalHeader",
  props: {
    headers: {
      type: Array,
      require: true,
    },
    iconHeader: {
      type: Object,
    },
  },
  data() {
    return {
      way: {
        up: "up",
        down: "down",
      },
      activeArrow: this.createActiveArrow(),
    };
  },
  methods: {
    sendValue(name, way) {
      this.$emit("value", name, way);
    },
    toggleActive(key, way) {
      this.resetActive();
      way === "up"
        ? (this.activeArrow[key].up = !this.activeArrow[key].up)
        : (this.activeArrow[key].down = !this.activeArrow[key].down);
    },
    resetActive() {
      for (const key in this.activeArrow) {
        this.activeArrow[key].up = false;
        this.activeArrow[key].down = false;
      }
    },
    createActiveArrow() {
      return this.headers.reduce((acc, currentVal, index) => {
        acc[index] = {
          up: false,
          down: false,
        };
        return acc;
      }, {});
    },
    serviceSendValue(property, way, index) {
      this.sendValue(property, way);
      this.toggleActive(index, way);
    },
  },
});
</script>

<style lang="scss" scoped>
@import "@/styles/global.scss";
.table__header-row {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  line-height: 27px;
  background: $main-color-green;
  font-size: 12px;
  color: white;
}
.table__header-cell {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.icon-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.icon {
  width: 25px;
  font-size: 25px;
  color: white;
  cursor: pointer;
}
.icon:hover {
  color: $main-color-dark;
}
svg:hover {
  color: $main-color-green;
  cursor: pointer;
}
.active {
  color: $main-color-dark;
}
@media (min-width: 425px) {
  .icon-wrapper {
    display: block;
  }
}
@media (min-width: 960px) {
  .table__header-row {
    display: table-row;
    font-size: 14px;
  }
  .icon-wrapper {
    display: inline-block;
  }
}
</style>
