<template>
  <div>
    <div class="add-comment">
      <div class="comment">Dodaj komentarz</div>
      <div class="comment">
        <Input
          v-if="isComment"
          placeholder="Author"
          @getValue="getValue"
          :name="'author'"
        />
        <Error v-if="isActiveError.author"> Pole nie może być puste </Error>

        <Textarea
          v-if="isComment"
          @getValue="getValue"
          placeholder="Komentarz"
          :name="'text'"
        />
        <Error v-if="isActiveError.text">
          Pole musi zawierać min. 10 znaków.
        </Error>

        <div>
          <Button @click.native="commentToggle" :isActive="isComment">
            Dodaj
          </Button>
          <Button
            @click.native="saveCommentFromEditProject"
            :isActive="!isComment"
          >
            Zapisz
          </Button>
          <Button @click.native="resetAndToggleComments" :isActive="!isComment">
            Cofnij
          </Button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Vue from "vue";
import Error from "@/views/ProjectCard/Error.vue";
import Button from "@/views/ProjectCard/Button.vue";
import Input from "@/views/ProjectCard/Input.vue";
import Textarea from "@/views/ProjectCard/Textarea.vue";
import { SAVE_NEW_COMMENT, GET_COMMENTS_FROM_PROJECT } from "@/store/consts";

export default Vue.extend({
  name: "ProjectCardAddComment",
  components: {
    Button,
    Error,
    Input,
    Textarea,
  },
  inject: ["newProject"],
  data() {
    return {
      isComment: false,
      newComment: {
        author: "",
        text: "",
      },
      isActiveError: {
        author: false,
        text: false,
      },
    };
  },
  computed: {
    project() {
      return this.newProject();
    },
    comments() {
      return this.$store.getters[GET_COMMENTS_FROM_PROJECT](
        this.project.comments
      );
    },
  },
  methods: {
    getValue(value, name) {
      this.newComment[name] = value;
      this.validateCommentsValue(value, name);
    },
    saveCommentFromEditProject() {
      if (this.validateCommentsValue()) return;
      this.commentToggle();
      this.$store.dispatch(SAVE_NEW_COMMENT, {
        ...this.newComment,
        id: this.$store.state.comments.allIds.at(-1) + 1,
        projectId: this.project.id,
      });
      this.resetCommentsValues();
    },
    validateCommentsValue(value, name) {
      let check = false;
      if (value && name) {
        if (name === "author" && value.length > 0)
          this.isActiveError.author = false;

        if (name === "text" && value.length > 10)
          this.isActiveError.text = false;
      } else {
        if (this.newComment.text === "" || this.newComment.text.length < 10) {
          this.isActiveError.text = true;
          check = true;
        }
        if (this.newComment.author === "") {
          this.isActiveError.author = true;
          check = true;
        }
      }
      return check;
    },
    commentToggle() {
      this.isComment = !this.isComment;
    },
    resetCommentsValues() {
      this.newComment.author = "";
      this.newComment.text = "";
      this.isActiveError.author = false;
      this.isActiveError.text = false;
    },
    resetAndToggleComments() {
      this.commentToggle();
      this.resetCommentsValues();
    },
  },
});
</script>

<style lang="scss" scoped>
.add-comment {
  display: grid;
  grid-template-columns: auto;
  background-color: white;
  border-top: 1px solid black;
}
.comment {
  padding: 5px;
  line-height: 30px;
  text-align: center;
  font-size: 11px;
}
.comment:first-child {
  text-align: center;
  border-bottom: 1px solid black;
  background-color: rgb(225, 243, 248);
  font-weight: bold;
  font-size: 13px;
}
.add-comment:nth-child(4) .comment:nth-child(2) {
  text-align: justify;
}
.check-input {
  margin: 0;
  padding: 0;
  line-height: 9px;
  font-size: 9px;
  color: red;
}
@media (min-width: 800px) {
  .add-comment {
    grid-template-columns: 25% auto;
  }
  .comment {
    text-align: left;
    font-size: 15px;
  }
  .comment:first-child {
    text-align: left;
    border-right: 1px solid black;
    border-bottom: none;
    font-size: 15px;
  }
}
</style>
