<template>
  <div id="app">
    <Navbar />
    <div class="components">
      <transition name="router-animation">
        <router-view />
      </transition>
    </div>
    <Footer />
    <Loader v-if="showLoader" />
  </div>
</template>

<script>
import Vue from "vue";
import Navbar from "./components/layout/Navbar.vue";
import Footer from "./components/layout/Footer.vue";
import Loader from "@/components/common/Loader.vue";

export default Vue.extend({
  name: "App",
  components: {
    Navbar,
    Footer,
    Loader,
  },
  computed: {
    showLoader() {
      return this.$store.state.loader.show;
    },
  },
  created() {
    window.addEventListener("keydown", (event) => {
      this.$actionsKeypress(event);
    });
  },
  destroyed() {
    window.removeEventListener("keydown", (event) => {
      this.$actionsKeypress(event);
    });
  },
});
</script>

<style lang="scss">
@import "./styles/global.scss";
*,
*::before,
*::after {
  box-sizing: border-box;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: $main-color-dark;
  position: relative;
  min-height: 88vh;

  .components {
    min-height: 65vh;
    margin-top: 12vh;
    padding-bottom: 4rem;
  }

  .router-animation-enter-active {
    animation: opacity 1s;
  }

  @keyframes opacity {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
}
</style>
