<template>
  <div class="loginContainer">
    <div class="wrapper loginWrapper" :style="loggedInStyle">
      <h1 class="title">Logowanie</h1>
      <div v-show="!user.loggedIn">
        <InputText
          name="login"
          label="Login:*"
          :value="login"
          @inputValue="login = $event"
          @focus="loginFailed = false"
        />
        <InputText
          type="password"
          name="password"
          label="Hasło:*"
          :value="password"
          @inputValue="password = $event"
          @focus="loginFailed = false"
        />
      </div>
      <p v-show="user.loggedIn">Jesteś zalogowany!</p>
      <p v-show="loginFailed" class="loginFailed">
        Niepoprawne: login lub hasło
      </p>
      <Button
        :type="buttonType"
        :title="buttonTitle"
        :disabled="!isDisable"
        :callback="handleLogin"
      />
    </div>
    <div v-show="!user.loggedIn" class="wrapper registerWrapper">
      <h2>Jesteś nowym użytkownikiem?</h2>
      <p class="btnLabel">Stwórz konto.</p>
      <router-link class="btn" :to="{ name: 'Register' }">
        <p>zarejestruj się</p>
      </router-link>
    </div>
  </div>
</template>

<script>
import Vue from "vue";
import InputText from "@/components/common/InputText.vue";
import Button from "@/components/common/Button.vue";
import { SET_USER_STATUS } from "@/store/consts";
export default Vue.extend({
  name: "Login",
  components: {
    InputText,
    Button,
  },
  data() {
    return {
      login: "",
      password: "",
      loginFailed: false,
    };
  },
  computed: {
    loggedInStyle() {
      return this.user.loggedIn && { width: "100%" };
    },
    isDisable() {
      return (
        (this.login.length > 0 && this.password.length > 0) ||
        this.user.loggedIn
      );
    },
    buttonType() {
      return this.isDisable ? "accept" : "continue";
    },
    buttonTitle() {
      return this.user.loggedIn ? "wyloguj" : "zaloguj";
    },
    user() {
      return this.$store.state.user;
    },
  },
  methods: {
    handleLogin() {
      if (this.user.loggedIn) {
        this.$store.commit(SET_USER_STATUS, false);
      } else {
        if (
          this.login === this.user.nickname &&
          this.password === this.user.password
        ) {
          this.$store.commit(SET_USER_STATUS, true);
        } else {
          this.loginFailed = true;
        }
        this.login = "";
        this.password = "";
      }
    },
  },
});
</script>

<style lang="scss" scoped>
@import "../../styles/global.scss";

.loginContainer {
  display: flex;
  width: 96%;
  max-width: 1420px;
  margin: 0 auto;
  margin-top: 100px;

  .wrapper {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.5rem;
  }

  .title {
    margin: 0;
    margin-bottom: 1.5rem;
  }

  .registerWrapper {
    border-left: 2px solid $main-color-dark;
    justify-content: center;

    .btnLabel {
      margin: 1rem 0;
    }

    .btn {
      padding: 8px 16px;
      background: none;
      border: none;
      font-size: 17px;
      border-radius: 5px;
      cursor: pointer;
      font-weight: 600;
      min-height: 40px;
      border: 2px solid $main-color-green;
      color: $main-color-green;
      transition: background-color 0.5s, color 0.5s;
      text-decoration: none;

      &:hover {
        background-color: $main-color-green;
        color: white;
      }
    }
  }

  :disabled {
    pointer-events: none;
  }

  .loginFailed {
    color: red;
  }

  @media (max-width: 768px) {
    flex-direction: column;

    .wrapper {
      width: 100%;
    }

    .registerWrapper {
      border: none;
      border-top: 2px solid $main-color-dark;
    }
  }
}
</style>
