<template>
  <component v-bind:is="component" :data="this.$props"><slot /></component>
</template>

<script>
import Vue from "vue";
import ProjectCardRowComment from "./ProjectCardRowComment.vue";
import ProjectCardRowInput from "./ProjectCardRowInput.vue";
import ProjectCardRowSimple from "./ProjectCardRowSimple.vue";

export default Vue.extend({
  name: "ProjectCardEditRow",
  components: {
    ProjectCardRowComment,
    ProjectCardRowInput,
    ProjectCardRowSimple,
  },
  props: {
    type: {
      type: String,
      validator: (prop) => ["simple", "input", "comment"].includes(prop),
    },
    isEdit: {
      type: Boolean,
    },
    checkValue: {
      type: Boolean,
    },
    name: {
      type: String,
      require: true,
    },
    title: {
      type: String,
      require: true,
    },
  },
  data() {
    return {
      component: "",
      componentsNames: {
        simple: "ProjectCardRowSimple",
        input: "ProjectCardRowInput",
        comment: "ProjectCardRowComment",
      },
      propTypes: ["simple", "input", "comment"],
    };
  },
  mounted() {
    this.propTypes.forEach((type) =>
      this.type === type ? (this.component = this.componentsNames[type]) : null
    );
  },
});
</script>

<style scoped>
.project-row {
  display: grid;
  grid-template-columns: auto;
  background-color: white;
  border-top: 1px solid black;
}
.project-item {
  padding: 5px;
  line-height: 20px;
  text-align: center;
  font-size: 11px;
}
.project-item:first-child {
  text-align: center;
  border-bottom: 1px solid black;
  background-color: rgb(225, 243, 248);
  font-weight: bold;
  font-size: 13px;
}
.project-row:nth-child(4) {
  text-align: justify;
}
.comment {
  border-bottom: 1px solid black;
}
.comment:last-child {
  border-bottom: none;
}
.comment-author {
  font-weight: bold;
}

@media (min-width: 800px) {
  .project-row {
    grid-template-columns: 25% auto;
  }
  .project-item {
    text-align: left;
    font-size: 15px;
  }
  .project-item:first-child {
    text-align: left;
    border-right: 1px solid black;
    border-bottom: none;
    font-size: 15px;
  }
}
</style>
