<template>
  <div>
    <ProjectCardEditHeader>
      <Button @click.native="editToggle" :isActive="isEdit">Edytuj</Button>
      <Button @click.native="saveInputValue" :isActive="!isEdit">Zapisz</Button>
    </ProjectCardEditHeader>
    <ProjectCardEditRow
      :type="'input'"
      :isEdit="isEdit"
      :checkValue="checkValue.name"
      :name="project.name"
      :title="'Projekt'"
    >
      <Input
        :type="'text'"
        :value="project.name"
        @getValue="getValue"
        :name="'name'"
      />
    </ProjectCardEditRow>
    <ProjectCardEditRow
      :type="'input'"
      :isEdit="isEdit"
      :checkValue="checkValue.company"
      :name="project.company"
      :title="'Klient'"
    >
      <Input
        :type="'text'"
        :value="project.company"
        @getValue="getValue"
        :name="'company'"
      />
    </ProjectCardEditRow>

    <ProjectCardEditRow
      :type="'simple'"
      :name="getProjectStatus(project.status)"
      :title="'Stan projektu'"
    />

    <ProjectCardEditRow
      :type="'input'"
      :isEdit="isEdit"
      :checkValue="checkValue.description"
      :name="project.description"
      :title="'Opis'"
    >
      <Textarea
        :value="inputValues.description"
        :name="'description'"
        @getValue="getValue"
      />
    </ProjectCardEditRow>

    <ProjectCardEditRow
      :type="'input'"
      :isEdit="isEdit"
      :name="formatDateFrom"
      :title="'Data startu'"
    >
      <Input
        :type="'date'"
        :dataValue="project.from ? project.from : 0"
        @getValue="getValue"
        :name="'from'"
      />
    </ProjectCardEditRow>

    <ProjectCardEditRow
      :type="'simple'"
      :title="'Data ukończenia'"
      :name="formatDateTo"
    />
  </div>
</template>

<script>
import Vue from "vue";
import ProjectCardEditHeader from "./ProjectCardEditHeader.vue";
import ProjectCardEditRow from "./ProjectCardEditRow.vue";
import Button from "../Button.vue";
import Input from "../Input.vue";
import Textarea from "../Textarea.vue";
import { SAVE_NEW_EDIT_PROJECT } from "@/store/consts";
7;

export default Vue.extend({
  name: "ProjectCardEdit",
  components: {
    ProjectCardEditHeader,
    ProjectCardEditRow,
    Button,
    Input,
    Textarea,
  },
  inject: ["newProject"],
  data() {
    return {
      isEdit: false,
      inputValues: {},
      checkValue: {
        name: false,
        company: false,
        description: false,
      },
    };
  },
  computed: {
    project() {
      return this.newProject();
    },
    formatDateFrom() {
      return this.project.from
        ? new Date(this.project.from).toLocaleDateString()
        : "Brak";
    },
    formatDateTo() {
      return this.project.to
        ? new Date(this.project.to).toLocaleDateString()
        : "Brak";
    },
  },
  methods: {
    getValue(value, name) {
      this.inputValues[name] = value;
      this.validateInput(value, name);
    },
    editToggle() {
      this.isEdit = !this.isEdit;
    },
    saveInputValue() {
      if (this.validateInput()) return;
      this.editToggle();
      this.$store.dispatch(SAVE_NEW_EDIT_PROJECT, this.inputValues);
    },
    startProjectDate(time) {
      return new Date(time).toLocaleDateString().split(".").reverse().join("-");
    },
    validateInput(value, name) {
      if (value && name) {
        if (
          (name === "name" || name === "company" || name === "description") &&
          value.length > 0
        )
          this.checkValue[name] = false;
        return;
      }
      let check = false;
      for (const key in this.inputValues) {
        if (this.inputValues[key] === "") {
          if (key === "from") {
            this.inputValues[key] = "";
          } else {
            this.checkValue[key] = true;
            check = true;
          }
        }
      }
      return check;
    },
    projectValues(project) {
      const { id, name, company, description, from } = project;
      return {
        id,
        name,
        company,
        description,
        from: from ? this.startProjectDate(project.from) : "Brak",
      };
    },
    getProjectStatus(id) {
      return this.$store.state.projects.statuses.find(
        (status) => status.id === id
      ).name;
    },
  },
  mounted() {
    this.inputValues = this.projectValues(this.project);
  },
  updated() {
    if (this.project.id !== this.inputValues.id) {
      this.inputValues = this.projectValues(this.project);
    }
  },
});
</script>
