<template>
  <div class="project-row">
    <div class="project-item" v-text="data.title" />
    <div v-if="data.isEdit" class="project-item">
      <slot />
      <Error v-if="data.checkValue">Pole nie może być puste</Error>
    </div>

    <div v-else class="project-item" v-text="data.name"></div>
  </div>
</template>

<script>
import Vue from "vue";
import Error from "../Error.vue";

export default Vue.extend({
  name: "ProjectCardRowInput",
  components: { Error },
  props: {
    data: {
      type: Object,
    },
  },
});
</script>

<style scoped>
.project-row {
  display: grid;
  grid-template-columns: auto;
  background-color: white;
  border-top: 1px solid black;
}
.project-item {
  padding: 5px;
  line-height: 20px;
  text-align: center;
  font-size: 11px;
}
.project-item:first-child {
  text-align: center;
  border-bottom: 1px solid black;
  background-color: rgb(225, 243, 248);
  font-weight: bold;
  font-size: 13px;
}
.project-row:nth-child(4) {
  text-align: justify;
}

@media (min-width: 800px) {
  .project-row {
    grid-template-columns: 25% auto;
  }
  .project-item {
    text-align: left;
    font-size: 15px;
  }
  .project-item:first-child {
    text-align: left;
    border-right: 1px solid black;
    border-bottom: none;
    font-size: 15px;
  }
}
</style>
