<template>
  <div>
    <h1 class="title">Karta Projektu</h1>
    <div>
      <slot />
    </div>
  </div>
</template>

<script>
export default {
  name: "ProjectCardEditHeader",
};
</script>

<style scoped>
.title {
  margin: 14px 0;
}
</style>
