<template>
  <div class="project-row">
    <div class="project-item" v-text="data.title" />
    <div class="project-item">
      <div v-for="comment in data.name" :key="comment.id" class="comment">
        <div class="comment-author" v-text="`Autor: ${comment.author}`" />
        <div class="comment-text" v-text="comment.text" />
      </div>
    </div>
  </div>
</template>

<script>
import Vue from "vue";

export default Vue.extend({
  name: "ProjectCardRowComment",
  props: {
    data: {
      type: Object,
    },
  },
});
</script>

<style scoped>
.project-row {
  display: grid;
  grid-template-columns: auto;
  background-color: white;
  border-top: 1px solid black;
}
.project-item {
  padding: 5px;
  line-height: 20px;
  text-align: center;
  font-size: 11px;
}
.project-item:first-child {
  text-align: center;
  border-bottom: 1px solid black;
  background-color: rgb(225, 243, 248);
  font-weight: bold;
  font-size: 13px;
}
.project-row:nth-child(4) {
  text-align: justify;
}
.comment {
  border-bottom: 1px solid black;
}
.comment:last-child {
  border-bottom: none;
}
.comment-author {
  font-weight: bold;
}

@media (min-width: 800px) {
  .project-row {
    grid-template-columns: 25% auto;
  }
  .project-item {
    text-align: left;
    font-size: 15px;
  }
  .project-item:first-child {
    text-align: left;
    border-right: 1px solid black;
    border-bottom: none;
    font-size: 15px;
  }
}
</style>
