<template>
  <div class="newSkill">
    <div class="addSkill">
      <div class="newSkillsInputs">
        <label>
          Umiejętność:
          <input type="text" class="skillInput" v-model="skillName" />
        </label>
        <div class="inputsContainer">
          <p>Kategoria umiejętności:</p>
          <label
            v-for="skill in getSkillsCategories"
            v-bind:key="skill.id"
            class="skillsOptions"
            ><input
              type="radio"
              name="food"
              :value="skill.name"
              v-model="skillCategory"
            />

            {{ skill.name }}</label
          >
        </div>
      </div>
      <button class="addSkillBtn" @click="editSkill">Dodaj</button>
    </div>
  </div>
</template>

<script>
import { SAVE_NEW_SKILL_DATA } from "@/store/consts";
export default {
  name: "EditSkillModal",
  data() {
    return {
      skillName: this.filterExactSkill().name,
      skillCategory:
        this.filterExactCategory().id == this.filterExactSkill().category
          ? this.filterExactCategory().name
          : "",
    };
  },
  props: {
    skillId: Number,
  },
  computed: {
    getSkillsCategories: function () {
      return this.$store.state.skills.categories.byId;
    },
  },
  methods: {
    filterExactSkill: function () {
      for (let skill in this.$store.state.skills.byId) {
        if (this.$store.state.skills.byId[skill].id === this.skillId) {
          return this.$store.state.skills.byId[skill];
        }
      }
    },
    filterExactCategory: function () {
      for (let category in this.$store.state.skills.categories.byId) {
        if (
          this.$store.state.skills.categories.byId[category].id ===
          this.filterExactSkill().category
        ) {
          return this.$store.state.skills.categories.byId[category];
        }
      }
    },
    editSkill: function () {
      for (let skill in this.$store.state.skills.byId) {
        if (this.$store.state.skills.byId[skill] == this.filterExactSkill()) {
          if (
            (this.skillName !== this.filterExactSkill().name &&
              this.skillName !== "") ||
            this.skillCategory !== this.filterExactCategory().name
          ) {
            let categoryIndex;
            for (let category in this.$store.state.skills.categories.byId) {
              if (
                this.$store.state.skills.categories.byId[category].name ==
                this.skillCategory
              ) {
                categoryIndex =
                  this.$store.state.skills.categories.byId[category].id;
              }
            }
            this.$store.dispatch(SAVE_NEW_SKILL_DATA, {
              id: this.filterExactSkill().id,
              name: this.skillName,
              category: categoryIndex,
              description: this.filterExactSkill().description,
            });
            alert("Umiejętność zedytowana!");
            this.$modal.hide("modal-edit-skill");
          } else if (this.skillName === "")
            alert("Nazwa umiejętności musi zawierać przynajmniej jedną litere");
          else alert("Zmień przynajmniej jedną cechę umiejętności");
        }
      }
    },
  },
};
</script>

<style lang="scss" scoped>
.newSkill {
  display: flex;
}

.addSkill {
  margin: auto;
  width: 70%;
  height: 200px;
  background: white;
  border-radius: 1%;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
}

.newSkillsInputs {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}

.inputsContainer {
  p {
    padding-left: 15px;
  }
  border: 3px dotted black;
  width: 450px;
  padding: 15px;
  padding-top: 0;
}

.skillInput {
  margin-top: 20px;
  margin-right: 30px;
  margin-left: 5px;
}

.skillsOptions {
  margin-left: 15px;
}

.addSkillBtn {
  width: 100px;
  height: 40px;
  border: none;
  border-radius: 5px;
  background-color: #def;
  cursor: pointer;
  &:hover {
    background: #fc0;
  }
}
</style>
