<template>
  <div class="addSkill">
    <div class="newSkillsInputs">
      <label>
        Umiejętność:
        <input type="text" class="skillInput" v-model="skillName" />
      </label>
      <div class="inputsContainer">
        <p>Kategoria umiejętności:</p>
        <label
          v-for="skill in skillsCategories"
          v-bind:key="skill.id"
          class="skillsOptions"
          ><input
            type="radio"
            name="food"
            :value="skill.name"
            v-model="category"
          />
          {{ skill.name }}</label
        >
      </div>
      <label>
        Ocena:
        <select v-model="rate" class="selectRate">
          <option v-for="rate in 5" v-bind:key="rate" :value="rate">
            {{ rate }}
          </option>
        </select>
      </label>
    </div>
    <label class="description">
      Opis:
      <textarea v-model="description" />
    </label>
    <button class="addSkillBtn" @click="addAndValSkill">Dodaj</button>
  </div>
</template>

<script>
export default {
  name: "NewSkill",
  data() {
    return {
      skillName: "",
      category: "",
      rate: 0,
      description: "",
    };
  },
  computed: {
    skillsCategories() {
      return this.$store.state.skills.categories.byId;
    },
    skills() {
      return this.$store.state.skills.byId;
    },
  },
  methods: {
    addAndValSkill() {
      let doubledSkill;
      let id;
      let skillCategory = null;
      for (let category in this.skillsCategories) {
        if (this.category !== "") {
          this.skillsCategories[category].name === this.category
            ? (skillCategory = this.skillsCategories[category].id)
            : null;
        }
      }
      for (let skill in this.skills) {
        if (
          this.skills[skill].name.toLowerCase() === this.skillName.toLowerCase()
        ) {
          doubledSkill = true;
          break;
        } else {
          (doubledSkill = false),
            (id =
              this.$store.state.skills.allIds[
                this.$store.state.skills.allIds.length - 1
              ] + 1);
        }
      }
      if (
        !doubledSkill &&
        skillCategory !== null &&
        this.skillName !== "" &&
        this.rate !== 0 &&
        this.description !== ""
      ) {
        this.$store.dispatch("newSkill", {
          id: id,
          name:
            this.skillName.charAt(0).toUpperCase() + this.skillName.slice(1),
          category: skillCategory,
          rate: this.rate,
          description: this.description,
        });
        alert("Nowa umiejętność dodana");
        this.$modal.hide("modal-add-skill");
      } else if (doubledSkill) alert("Istnieje już taka umiejętność");
      else if (this.skillName === "" && skillCategory === null)
        alert("Wpisz nazwę umiejętności, oraz jej kategorię");
      else if (skillCategory === null) alert("Wybierz kategorie umiejętności");
      else if (this.skillName === "") alert("Wpisz nazwę umiejętności");
      else if (this.description === "") alert("Wpisz opis umiejętności");
      else if (this.rate === 0) alert("Wybierz ocenę umiejętności");
    },
  },
};
</script>

<style lang="scss">
.addSkill {
  margin: auto;
  background: white;
  border-radius: 5px;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
}

.newSkillsInputs {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.inputsContainer {
  p {
    padding-left: 15px;
  }
  border: 3px dotted black;
  width: 500px;
  padding: 15px;
  padding-top: 0;
  margin: 0 20px 0 20px;
}

.skillsOptions {
  margin-left: 15px;
}

.addSkillBtn {
  margin-top: 30px;
  width: 100px;
  height: 40px;
  border: none;
  border-radius: 5px;
  background-color: #def;
  cursor: pointer;
  &:hover {
    background: #fc0;
  }
}
.description {
  padding-top: 20px;
  textarea {
    padding-right: 80px;
    padding-left: 80px;
  }
}

@media (max-width: 820px) {
  .newSkillsInputs {
    flex-direction: column;
    align-items: center;
  }
  .inputsContainer {
    margin-top: 10px;
  }
  .skillInput {
    margin-top: 10px;
  }
  .addSkillBtn {
    margin-top: 20px;
  }
}
</style>
