<template>
  <div class="filtersSkills">
    <!-- <h4>filtry do skillsów</h4> -->
    <div class="filtersSkills__box">
      <label class="filtersSkills--label">Filtruj po nazwie:</label>
      <input
        type="text"
        placeholder="Wpisz nazwę umiejętności"
        v-model.trim.lazy="writtenText"
        class="filtersSkills--input"
      />
    </div>
    <div class="filtersSkills__box">
      <label class="filtersSkills--label">Filtruj po kategorii:</label>
      <select v-model="selectedCategory" class="filtersSkills--select">
        <option
          v-for="category in getCategoriesSkills"
          :key="category.id"
          :value="category.id"
        >
          {{ category.name }}
        </option>
        <option :key="undefined" :value="undefined">wszystkie</option>
      </select>
    </div>
    <div class="filtersSkills__box">
      <label class="filtersSkills--label"
        >Filtruj po liczbie osób (od / do):</label
      >
      <div class="groupInputs">
        <input
          type="number"
          placeholder="Od"
          min="0"
          v-model.number="minPeople"
          class="filtersSkills--input"
        />
        <input
          type="number"
          placeholder="Do"
          :min="minPeople"
          v-model.number="maxPeople"
          class="filtersSkills--input"
        />
      </div>
      <p v-if="infoWrongNumber" class="warning">
        Liczby muszą być większe od 0. W polu "do" liczba musi być większa lub
        równa tej w polu "od".
      </p>
    </div>
    <div class="filtersSkills__button">
      <button class="btn btnFilter" @click="sendTermsForFiltering">
        Filtruj
      </button>
      <button
        v-if="removeFiltersBtn"
        class="btn btnRemove"
        @click="removeFilters"
      >
        Usuń wszystkie filtry
      </button>
    </div>
  </div>
</template>

<script>
export default {
  name: "SkillsFilters",
  data() {
    return {
      writtenText: "",
      selectedCategory: "",
      minPeople: undefined,
      maxPeople: undefined,
      infoWrongNumber: false,
      removeFiltersBtn: false,
    };
  },
  computed: {
    getCategoriesSkills() {
      return this.$store.state.skills.categories.byId;
    },
  },
  methods: {
    sendTermsForFiltering() {
      const termsForFiltering = {
        text: this.writtenText.toLowerCase(),
        category: this.selectedCategory,
        minPeople: this.minPeople,
        maxPeople: this.maxPeople,
      };
      if (this.infoWrongNumber === true) this.infoWrongNumber = false;
      if (this.checkMinMaxPeople(this.minPeople, this.maxPeople)) {
        if (this.infoWrongNumber === true) this.infoWrongNumber = false;
        this.removeFiltersBtn = true;
        this.$emit("termsForFiltering", termsForFiltering);
      }
    },
    checkMinMaxPeople(min, max) {
      if (min < 0 || max < 0) {
        this.infoWrongNumber = true;
        return false;
      } else if (
        (typeof max === "number" && min === undefined && min > max) ||
        (typeof min === "number" && max === undefined && max < min) ||
        (typeof max === "number" && typeof min === "number" && min > max)
      ) {
        this.infoWrongNumber = true;
        return false;
      } else {
        return true;
      }
    },
    removeFilters() {
      const termsForFiltering = {
        text: "",
        category: undefined,
        minPeople: undefined,
        maxPeople: undefined,
      };
      this.writtenText = "";
      this.selectedCategory = "";
      this.minPeople = undefined;
      this.maxPeople = undefined;
      this.removeFiltersBtn = false;
      this.$emit("removeFilters", termsForFiltering);
    },
  },
};
</script>

<style lang="scss" scoped>
.filtersSkills {
  &__box {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin: 1.5rem auto;
    padding: 0.5rem;
    .filtersSkills--label {
      margin: 0.5rem;
    }
    .filtersSkills--input {
      margin: 0.5rem;
      height: 1.5rem;
    }
    .filtersSkills--select {
      margin: 0.5rem;
      height: 1.873rem;
    }
    .groupInputs {
      display: flex;
    }
    .warning {
      color: crimson;
      font-size: 0.8rem;
    }
  }
  &__button {
    width: 100%;
    .btn {
      margin: 1rem;
      border-radius: 3px;
      cursor: pointer;
      padding: 0.2rem 0.8rem;
    }
    .btnFilter {
      background-color: rgb(216, 215, 215);
      &:hover {
        background-color: #292828;
        color: rgb(238, 238, 238);
        transition-duration: 0.2s;
      }
    }
    .btnRemove {
      color: #686868;
      border-color: #9d9d9d;
      &:hover {
        color: #292828;
        border: 2px solid #292828;
        background-color: rgb(238, 238, 238);
        transition-duration: 0.2s;
      }
    }
  }
}
@media (max-width: 900px) {
  .filtersSkills {
    display: flex;
    flex-wrap: wrap;
    &__box {
      .groupInputs {
        display: block;
      }
    }
  }
}
</style>
