<template>
  <section>
    <div v-if="!isEmptyTable" class="skillsTable" role="table">
      <div class="skillsTable__row header">
        <div role="columnheader" class="skillsTable__row-number">No.</div>
        <div role="columnheader" class="skillsTable__row-name">
          Nazwa
          <span
            :class="{
              pointed: !isActiveClass(active.sortName, 'asc'),
              choosen: isActiveClass(active.sortName, 'asc'),
            }"
            @click="sortGeneral('textSort', 'name', false, 'sortName', 'asc')"
            >▲</span
          ><span
            :class="{
              pointed: !isActiveClass(active.sortName, 'desc'),
              choosen: isActiveClass(active.sortName, 'desc'),
            }"
            @click="sortGeneral('textSort', 'name', true, 'sortName', 'desc')"
            >▼</span
          >
        </div>
        <div role="columnheader" class="skillsTable__row-category">
          Kategoria
          <span
            :class="{
              pointed: !isActiveClass(active.sortCategory, 'asc'),
              choosen: isActiveClass(active.sortCategory, 'asc'),
            }"
            @click="
              sortGeneral(
                'textSort',
                'nameCategory',
                false,
                'sortCategory',
                'asc'
              )
            "
            >▲</span
          ><span
            :class="{
              pointed: !isActiveClass(active.sortCategory, 'desc'),
              choosen: isActiveClass(active.sortCategory, 'desc'),
            }"
            @click="
              sortGeneral(
                'textSort',
                'nameCategory',
                true,
                'sortCategory',
                'desc'
              )
            "
            >▼</span
          >
        </div>
        <div role="columnheader" class="skillsTable__row-people">
          Liczba osób
          <span
            :class="{
              pointed: !isActiveClass(active.sortPeople, 'asc'),
              choosen: isActiveClass(active.sortPeople, 'asc'),
            }"
            @click="
              sortGeneral(
                'numberSort',
                'peopleAmount',
                false,
                'sortPeople',
                'asc'
              )
            "
            >▲</span
          ><span
            :class="{
              pointed: !isActiveClass(active.sortPeople, 'desc'),
              choosen: isActiveClass(active.sortPeople, 'desc'),
            }"
            @click="
              sortGeneral(
                'numberSort',
                'peopleAmount',
                true,
                'sortPeople',
                'desc'
              )
            "
            >▼</span
          >
        </div>
      </div>
      <div
        v-for="skill in paginatedData"
        :key="skill.id"
        role="row"
        class="skillsTable__row"
      >
        <div role="cell" class="skillsTable__row-number">
          {{ skill.id }}
        </div>
        <div role="cell" class="skillsTable__row-name pointed">
          <router-link :to="`/umiejetnosci/` + skill.id">{{
            skill.name
          }}</router-link>
        </div>
        <div role="cell" class="skillsTable__row-category">
          {{ skill.nameCategory }}
        </div>
        <div role="cell" class="skillsTable__row-people tooltip">
          <p class="pointed" @click.self="openModal(skill)">
            {{ skill.peopleAmount }}
          </p>
          <Tooltip
            :showedData="{
              description: 'Stażyści',

              details: skill.peopleDetails,
            }"
            :customStyle="{
              width: '18rem',
              top: '-38px',
              right: '60%',
            }"
          />
        </div>
      </div>
      <AppPagination
        :dataLength="arraySkills.length"
        @paginatedData="paginateData"
        :activeCard="activeCard"
      />
      <ModalWrapper
        readyToClose
        :name="'skill-details'"
        :title="`Osoby posiadające umiejętność: ${pickedSkills.name}`"
      >
        <SkillDetails :skill="pickedSkills" />
      </ModalWrapper>
    </div>
    <div v-if="isEmptyTable" class="emptyTable-warning">
      <p>W bazie danych nie ma wyników spełniających kryteria filtrowania.</p>
      <p>Spróbuj jeszcze raz!</p>
    </div>
  </section>
</template>

<script>
/* eslint-disable @typescript-eslint/explicit-module-boundary-types */

import Tooltip from "./Tooltip.vue";
import ModalWrapper from "../../components/common/ModalWrapper.vue";
import AppPagination from "../../components/common/AppPagination.vue";
import SkillDetails from "./SkillDetails.vue";
export default {
  name: "SkillsTable",
  components: { Tooltip, ModalWrapper, SkillDetails, AppPagination },
  props: {
    fromFilters: { type: Object },
  },
  data() {
    return {
      pickedSkills: {},
      allSkills: [],
      arraySkills: [],
      active: {
        sortName: "none",
        sortPeople: "none",
        sortCategory: "none",
      },
      isEmptyTable: false,
      skillsLength: this.$store.state.skills.allIds,
      activeCard: 1,
      paginationNumbers: [0, 5],
    };
  },
  watch: {
    skillsLength() {
      this.makeCustomSkills();
    },
    fromFilters() {
      this.removeSorting();
      const filterQuery = {
        text: this.fromFilters.text,
        category: this.fromFilters.category,
        minPeople: this.fromFilters.minPeople,
        maxPeople: this.fromFilters.maxPeople,
      };
      let filteredData = this.allSkills
        .filter((skill) => {
          if (typeof filterQuery.category === "number") {
            return skill.category == filterQuery.category;
          } else {
            return skill;
          }
        })
        .filter((skill) => {
          if (
            typeof filterQuery.minPeople === "number" &&
            typeof filterQuery.maxPeople === "number"
          ) {
            return (
              skill.peopleAmount >= filterQuery.minPeople &&
              skill.peopleAmount <= filterQuery.maxPeople
            );
          } else if (
            typeof filterQuery.minPeople === "number" &&
            typeof filterQuery.maxPeople !== "number"
          ) {
            return skill.peopleAmount >= filterQuery.minPeople;
          } else if (
            typeof filterQuery.minPeople !== "number" &&
            typeof filterQuery.maxPeople === "number"
          ) {
            return skill.peopleAmount <= filterQuery.maxPeople;
          } else {
            return skill;
          }
        })
        .filter((skill) => {
          if (
            typeof filterQuery.text === "string" &&
            filterQuery.text.length > 0
          ) {
            return skill.name.toLowerCase().includes(filterQuery.text);
          } else {
            return skill;
          }
        });
      if (filteredData.length < 1) {
        this.isEmptyTable = true;
      } else {
        this.isEmptyTable = false;
      }

      this.activeCard = 1;
      this.paginationNumbers = [0, 5];

      this.arraySkills = filteredData;
    },
  },
  computed: {
    paginatedData() {
      const firstPag = this.paginationNumbers[0];
      const secondPag = this.paginationNumbers[1];
      const value = firstPag * secondPag;

      return this.arraySkills.slice(value, value + secondPag);
    },
  },
  methods: {
    resetPagination() {
      this.activeCard = 1;
      this.paginationNumbers = [0, 5];
    },
    paginateData(pagination) {
      this.activeCard = pagination[0] + 1;
      this.paginationNumbers = pagination;
    },
    openModal(skill) {
      this.pickedSkills = skill;
      this.$modal.show("skill-details");
    },
    makeCustomSkills() {
      this.allSkills = Object.values(this.$store.state.skills.byId);
      this.allSkills.forEach((skill) => {
        skill.peopleAmount = this.getAmountOfPeople(skill.id).length;
        skill.peopleDetails = this.getAmountOfPeople(skill.id);
        skill.allPeopleDetails = this.getAmountOfPeople(skill.id);
        skill.nameCategory = this.getCategoryName(skill.category);
      });
      this.arraySkills = this.allSkills;
    },
    getCategoryName(id) {
      return this.$store.state.skills.categories.byId[id].name;
    },
    getAmountOfPeople(id) {
      let allStudentsFromStore = Object.values(this.$store.state.students.byId);
      let studentsWithCheckedSkill = [];
      allStudentsFromStore.forEach((student) => {
        if (student.skills.find((item) => item === id)) {
          studentsWithCheckedSkill.push(student);
        }
      });

      return studentsWithCheckedSkill;
    },
    // wspólna funkcja do sortowania wg typu (w argumencie1 określam czy sortowanie tekstu czy liczb);
    // argument2: określenie właściwości w this.arraySkills, po której ma być przeprowadzone sortowanie
    // argument3: typu boolean, 'true' jeśli ma być kolejność "od końca", false jeśli "od początku"
    // argument4: nazwa właściwości w this.active (potrzebne do wskazania guzika-strzałki do ostylowania);
    // argument5: wartość 'asc' lub 'desc' przekazana do funkcji zmieniającej style guzików
    sortGeneral(variant, bySth, reverse, buttonName, value) {
      let arrayWithAllSkills = this.arraySkills;
      arrayWithAllSkills.sort((a, b) => a.id - b.id);
      if (variant === "textSort") {
        arrayWithAllSkills.sort((a, b) => a[bySth].localeCompare(b[bySth]));
      }
      if (variant === "numberSort") {
        arrayWithAllSkills.sort((a, b) => a[bySth] - b[bySth]);
      }
      if (reverse) {
        this.arraySkills = arrayWithAllSkills.reverse();
        this.toggleStyle(buttonName, value);
      } else {
        this.arraySkills = arrayWithAllSkills;
        this.toggleStyle(buttonName, value);
      }
    },
    removeSorting() {
      this.active.sortName = "none";
      this.active.sortPeople = "none";
      this.active.sortCategory = "none";
    },
    isActiveClass(className, sortVariant) {
      return className === (sortVariant || "none") ? true : false;
    },
    toggleStyle(name, value) {
      const changeStyles = {
        sortName: "none",
        sortCategory: "none",
        sortPeople: "none",
      };
      changeStyles[name] = value;
      this.active = changeStyles;
    },
  },
  mounted() {
    this.makeCustomSkills();
  },
};
</script>

<style lang="scss">
@import "../../styles/global.scss";
.table_item {
  border: 1px solid black;
  border-radius: 3px;
  padding: 4px 10px;
  background-color: white;
  cursor: pointer;
}
.skillsTable {
  display: flex;
  flex-direction: column;
  &__row {
    width: 95%;
    margin: 0 auto;
    display: flex;
    padding: 1rem 0;
    border-bottom: 1px solid grey;
    // height: 2rem;
    &-number {
      flex: 10%;
      margin: auto;
    }
    &-name {
      flex: 40%;
      margin: auto;
      a {
        color: $main-color-dark;
        &:hover {
          color: $main-color-green;
        }
      }
    }
    &-category {
      flex: 30%;
      margin: auto;
    }
    &-people {
      flex: 20%;
      margin: auto;
    }
  }
  .header {
    font-weight: bold;
  }
  .pointed {
    cursor: pointer;
    &:hover {
      color: $main-color-green;
    }
  }
  .choosen {
    color: rgb(207, 204, 204);
  }
}
.emptyTable-warning {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 4rem;
}
.tooltip {
  position: relative;
  display: inline-block;
}
.tooltip:hover {
  .tooltip__content {
    visibility: visible;
  }
}
</style>
