<template>
  <div class="skills">
    <h1>Umiejętności</h1>
    <button class="addNewSkillBtn" @click="$modal.show('modal-add-skill')">
      Dodaj nową umiejętność
    </button>
    <ModalWrapper name="modal-add-skill" :height="'310px'" :width="'1000px'">
      <NewSkill />
    </ModalWrapper>
    <div class="skillsContainer">
      <SkillsTable class="skillsContainer__table" :fromFilters="fromFilters" />
      <SkillsFilters
        class="skillsContainer__filters"
        @termsForFiltering="fromFilters = $event"
        @removeFilters="fromFilters = $event"
      />
    </div>
  </div>
</template>

<script lang="ts">
import Vue from "vue";
import SkillsTable from "./SkillsTable.vue";
import SkillsFilters from "./SkillsFilters.vue";
import ModalWrapper from "../../components/common/ModalWrapper.vue";
import NewSkill from "./NewSkill.vue";

export default Vue.extend({
  name: "Skills",
  data() {
    return {
      fromFilters: {},
    };
  },
  components: { SkillsTable, SkillsFilters, NewSkill, ModalWrapper },
});
</script>

<style lang="scss" scoped>
.addNewSkillBtn {
  margin-bottom: 20px;
  width: 160px;
  height: 40px;
  border: none;
  border-radius: 5px;
  background-color: #def;
  cursor: pointer;
  &:hover {
    background: #fc0;
  }
}
.skills {
  max-width: 1600px;
  margin: auto;

  .skillsContainer {
    display: flex;
    margin: 3rem auto;
    &__table {
      flex: 70%;
      min-width: 400px;
    }
    &__filters {
      flex: 30%;
      background-color: rgb(240, 240, 240);
    }
  }
}
@media (max-width: 900px) {
  .skills {
    .skillsContainer {
      flex-direction: column;
      &__table {
        flex: 100%;
      }
      &__filters {
        flex: 100%;
        order: -1;
        background-color: rgb(240, 240, 240);
      }
    }
  }
}
</style>
