<template>
  <div class="modal-table">
    <p v-for="item in skill.allPeopleDetails" :key="item.id">
      {{ item.firstName + " " + item.lastName }}
    </p>
  </div>
</template>

<script>
export default {
  props: {
    skill: { type: Object, required: true, default: () => ({}) },
  },
};
</script>

<style lang="scss" scoped>
@import "@/styles/global.scss";
.modal-table p {
  margin: 20px;
}
</style>
