<template>
  <p class="tooltip__content" :style="cssVars">
    {{ showedData.description }}:
    {{ makeStringWith10Elements(showedData.details) }}
  </p>
</template>

<script>
export default {
  name: "Tooltip",
  props: {
    showedData: { type: Object, required: true },
    customStyle: { type: Object, required: true },
  },
  computed: {
    cssVars() {
      return {
        "--width": this.customStyle.width ? this.customStyle.width : "100px",
        "--top": this.customStyle.top ? this.customStyle.top : "-30px",
        "--right": this.customStyle.right ? this.customStyle.right : "-100%",
        "--color": this.customStyle.color ? this.customStyle.color : "white",
        "--background-color": this.customStyle.backgroundColor
          ? this.customStyle.backgroundColor
          : "#42b983",
      };
    },
  },
  methods: {
    makeStringWith10Elements(details) {
      details.splice(10);
      return details.map((el) => el.firstName + " " + el.lastName).join(", ");
    },
  },
};
</script>

<style lang="scss">
@import "../../styles/global.scss";
.tooltip__content {
  position: absolute;
  z-index: 1;
  visibility: hidden;
  text-align: center;
  border-radius: 5px;
  padding: 0.8rem 0.4rem;
  width: var(--width);
  top: var(--top);
  right: var(--right);
  color: var(--color);
  background-color: var(--background-color);
}
</style>
